[2015-09-15 18:53] JKGisMe commented on #402
Ah, ok. I find that to be really user unfriendly. I won't come back here.

Just saying... don't single out & blame the last person who happened to reply to annoying issue. Everyone up the list contributed.

[2015-09-15 18:58] mschae commented on #402
@JKGisMe it's not your fault and I think it wasn't @chrismccord's intention to single you out. He is super eager to help. But he is correct in saying that this is not something we should discuss via GH issues.

This is more my fault than anyone else's I should've taken it to the list. I apologise.

Please do come back here whenever there is something specific to the framework. Everything else shou

[2015-09-15 19:12] kyledecot opened #1217 "Create mix task for generating a controller"
This can currently be done when using `mix phoenix.gen.html` but it would be nice if we could extract the controller portion of this so that we could just do `mix phoenix.gen.controller`. Thoughts?

[2015-09-15 19:13] josevalim commented on #1217
We thought about it but it should be an empty controller and an empty
controller does not add much.

In any case, we should probably discuss this in the Phoenix code mailing
list. :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-09-15 19:16] chrismccord commented on #402
@JKGisMe My apologies if I came off anything other than friendly. We try to keep issues related to phoenix core and other discussions on the mailing list, see https://github.com/phoenixframework/phoenix/blob/master/CONTRIBUTING.md for more details.

I'm working through 300 emails in my inbox following my vacation, so you happened to be the last one in this thread. I did not mean to single you out.

[2015-09-15 19:20] chrismccord commented on #1217
I'm not convinced this is needed at this time and it gets complex quickly. Do we generated the view? templates? what if you just want a plain controller for json? Or you want a JSON view but no web/templates/new_controller folder? I'd prefer to wait on this one. Thanks for the suggestion. Feel free to take it up on the mailing list for other's thoughts

[2015-09-15 19:20] #1217 closed

[2015-09-15 19:25] johanalkstal opened #1218 "Running webpack executable watcher on Windows causes errors"
I created a new Phoenix project without brunch, `mix phoenix.new yzerman --no-brunch` and added `webpack` through `npm`, then added it to the watchers list,

`watchers: [{ Path.expand("node_modules/webpack/bin/webpack.js"), ["--watch", "--colors", "--progress"] }]`

Also added a `webpack.config.js` and a simple `app.js` file to see that it works.

But I get this error,

[code]

I then tried this,

[2015-09-15 19:27] kyledecot commented on #1217
@chrismccord I guess I suggested this because both `phoenix.gen.json` and `phoenix.gen.html` both contain code for generating a controller file (and it's test file). Seems like having a dedicated task for this would DRY the code up a little.

[2015-09-15 19:40] chrismccord commented on #1218
Try

[code]

If that doesn't work, this is unfortunately out of our hands as node on windows has seen some odd permissions issues that I don't think we can address.

[2015-09-15 19:40] #1218 closed

[2015-09-15 19:49] johanalkstal commented on #1218
Thanks a lot Chris! It does work with a slight correction, the extension .js is needed after `webpack`.

[2015-09-15 21:49] josevalim opened #1219 "Add server heartbeat"
See: https://github.com/phoenixframework/phoenix/commit/b440ef03daa43cc94d4fa3f3ece086f272b6a6f7#commitcomment-13248466

It should ship with 1.0.3.

[2015-09-15 21:49] chrismccord opened #1220 "Send own heartbeats to client from channel server"
https://github.com/phoenixframework/phoenix/commit/b440ef03daa43cc94d4fa3f3ece086f272b6a6f7#commitcomment-13248466

[2015-09-15 21:52] #1219 closed

[2015-09-15 21:52] josevalim commented on #1220
It should ship with 1.0.3.

[2015-09-15 21:56] nolman commented on #1220
Thanks!

[2015-09-16 15:14] iguberman opened #1222 "Query strings are ignored in GET requests"
I think this is the only thing right now that prevents Phoenix from fully supporting RESTful services out of the box.    I.e. whether I call `localhost:4000/users` or `localhost:4000/users?age=6`   I get ALL users regardless of the age.

This is my generated user_controller.ex

[code]

[2015-09-16 15:19] simonprev commented on #1222
I think naming a param with an underscore simply ignores the content.

[code]

This should map `params` to the expected value.

[2015-09-16 15:29] iguberman commented on #1222
No, whether it's params or _params it has to be used somehow further in the method, but it's not.   Also I'm a newbie to the whole thing and I was looking at Ecto to modify the generated index method to  send params to a proper Ecto method but haven't yet figured it out..   (i.e. changing `Repo.all(Drive)' to `Repo.all(Drive, params)` won't do it )    I will spend a few more hours and will eventua

[2015-09-16 15:36] Gazler commented on #1222
For future reference - it is worth reading https://github.com/phoenixframework/phoenix/blob/master/CONTRIBUTING.md to know where to post your questions.

All of the functions in a controller take 2 arguments (by default - this is overridden.)

Since the parameters are not used the second argument is `_params` which identifies that the argument is required to pattern match the function, but is igno

[2015-09-16 15:51] chrismccord commented on #1222
Thanks @Gazler, this is the correct answer. @iguberman I'm going to close since this isn't a bug, but feel free to chime in here if anything is not clear.

[2015-09-16 15:51] #1222 closed

[2015-09-16 17:14] Gazler commented on #1215
I'll take a stab at this if nobody is working on it already.

[2015-09-16 17:23] josevalim commented on #1215
Please do!

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-09-16 17:54] #1215 closed

[2015-09-16 18:08] iguberman commented on #1222
I think I shoud've called this issue "Phoenix misses query string support
to be fully RESTful out of the box"  and should've made it a feature
request :)   That's what I meant this issue to be -- my bad for not making
it clear.

Thanks so much @Gazler -- your answer is approximately what I was looking
for in my project (though I was looking for a method in Ecto to take in a
map and turn it into a

[2015-09-16 18:24] chrismccord commented on #1222
Ah I see. Yes, you need to take the params yourself and compose them against Ecto, or whatever data layer you are using.

[2015-09-16 19:32] iguberman commented on #1222
I'll post this for discussion to the phoenix-core -- I finally read the
CONTRIBUTING.md!    Sorry  if I'm causing too much noise before I read
enough documentation and all.   Trying to introduce Phoenix at work for a
project where it really fits but need to produce results faster than I can
read all the docs :)

On Wed, Sep 16, 2015 at 1:25 PM, Chris McCord <notifications@github.com>
wrote:

[2015-09-17 03:26] #1220 closed

[2015-09-17 03:27] chrismccord commented on #1220
@josevalim I desperately tried to avoid `Phoenix.Utils`, but all other homes for `now_ms()` were worse. Let me know if you have a better idea

[2015-09-18 14:12] #1192 closed

[2015-09-18 18:13] mspanc commented on #990
@chrismccord can we re-open this? Phoenix reached already 1.0.0, lack of proper NPM package is really painful.

[2015-09-18 18:27] chrismccord commented on #990
I addressed this in one of the other issues of this same topic. I will extract to a package when I have a chance to prioritize it. In the meantime hang tight and vendor the source as necessary. Thanks!

[2015-09-18 18:27] josevalim commented on #990
Actually, I would like to propose another approach for this. People have already asked us to publish phoenix.js in a couple different places and we can't maintain all of those, there are just too many because the ecosystem is still fragmented.

Therefore, I would like to invite folks like @mspanc and others that really need this feature to extract the package and publish it to NPM and wherever the

[2015-09-18 18:27] chrismccord commented on #990
Agree absolutely!

[2015-09-18 19:45] scrogson commented on #990
Agreed.

On Fri, Sep 18, 2015 at 1:27 PM Chris McCord <notifications@github.com>
wrote:

[2015-09-18 20:38] mspanc commented on #990
I really need this soon, it is critical for my project. I will extract this in the upcoming +/- week and take care for maintaining this in the upcoming months as I will be actively developing project based on Phoenix.

But I don't want to be the only owner of the npm package so other people can take over if I am on holidays or hit by the car.

If you agree can you please provide your npm logins?

[2015-09-18 20:49] daytonn commented on #990
I'd love to help, my npm handle is `daytonn`

[2015-09-19 08:21] josevalim commented on #990
@mspanc that's great to hear! Thank you for taking care of this.

[2015-09-19 17:29] chrismccord opened #1225 "Try to catch controller action match errors and 400"

[2015-09-21 18:25] stevegraham opened #1228 "Phoenix.Template only compiles templates in the immediate directory"
Hi all,

I found that that `Phoenix.Template.__before_compile__/1` does not recurse through subdirectories when compiling templates and only compiles the templates in the immediate directory. I think I've tracked this down to `Phoenix.Template.find_all/1`, i.e. the path search does not include a glob parameter. The docs for `Path.wildcard/1` indicate `**` will match 0 or more subdirectories. Perha

[2015-09-21 18:35] stevegraham commented on #1225
:+1:

[2015-09-21 18:38] chrismccord commented on #1228
This is by design because it's much simpler. Would it be feasible to use another view per institution and render templates that way?

[2015-09-21 18:45] stevegraham commented on #1228
It would be possible but would not be ideal because:
- Unnecessary boiler-plate code, i.e. a plethora of empty view modules
- a cluttered top-level view directory, (unless I did some fancy macro stuff to infer `root`, which would add to the clutter.

[2015-09-21 19:00] chrismccord commented on #1228
How man institutions are we talking? Can you forgo nesting and use a prefix instead?

[code]

[2015-09-21 19:07] stevegraham commented on #1228
I think that's what I'm going to do for the moment until either this is implemented in Phoenix or I dream up a different abstraction 😊. I have ~15 institutions in one territory (the UK), each one has 3-5 states. Ultimately there will be a large number of institutions, i.e. the amount of banks in the world, institution == bank for all intents and purposes.

Sorry to bother you with what might seem

[2015-09-21 19:14] bbhoss commented on #827
Subscribed. Is there anything we can do to help out? What do you have planned other than just putting this into its own project? It seems there has already been one added to npm, maybe it could be used as a base for the official version?

[2015-09-21 19:20] chrismccord commented on #827
It really needs a proper test suite that stubs the websocket connection and ajax requests properly. I just haven't had the time to set this up, so help in this area would be appreciated. Thanks!

[2015-09-21 19:21] josevalim commented on #1228
Yeah, a large directory will be the way to go. We will keep an eye open. If a lot of folks need this, we may make it configurable.

Also, let's not forget to move those discussions to the core mailing list folks. :)

[2015-09-21 19:21] #1228 closed

[2015-09-22 19:05] daytonn commented on #990
Any movement on this?

[2015-09-22 20:37] mspanc commented on #990
Hello

I am off until Sunday. I'll do this right after I return.

[2015-09-23 19:23] andrewvy commented on #990
I would love to create a bower package for this, many of my systems use bower for front-end components and it would be great to have. :)

[2015-09-23 20:04] daytonn commented on #990
I think bower can be a build target of the npm package. No need to get too
crazy.

On Wednesday, September 23, 2015, Andrew Vy <notifications@github.com>
wrote:

[2015-09-23 20:39] chrismccord commented on #1225
My new plan to solve this is to rely on `action/3` clauses instead of mucking with stacktraces, for example this works today, and is clearer than our current approach:

[code]

Whatever we do here must be backwards compatible now that 1.0 has shipped, so this would have to be further off as a default if we went this direction. We could release a `Phoenix.ActionController` that injects this behavio

[2015-09-23 21:06] josevalim commented on #1225
Nah, I am :-1:. We already have one way of doing things, we shouldn't have two unless we have very good reasons. This can either be a separate or people can easily implement it in their apps.

[2015-09-23 21:23] chrismccord commented on #1225
@josevalim good points. I'm definitely on board with the one way to do things, especially for learning material that's out there. I'll shelve this idea for now, with the flip side that folks can use that snippet exactly as shown today if they really want catch-all handling.

[2015-09-24 18:35] #1225 closed

[2015-09-26 13:34] rhazdon opened #1232 "Compilation error at phoenix.gen.json"
Hi guys,

I tried to generate a JSON resource with the command line

My example:

After that I want to update the database via

The following error occurs:
[code]

It seems phoenix generates a function that does not exist.

The malfunction in user_controller.ex. The line between the *** *** is the affected line:
[code]

Thank you for your help!

[2015-09-26 13:43] chrismccord commented on #1232
After you ran the command, the first thing the output told you to do was to run add `resource "/users", UserController` to a scope in your router. It looks like you missed that step :)

[2015-09-26 13:43] #1232 closed

[2015-09-26 14:00] rhazdon commented on #1232
Shame on me... thank you... you're absolutely right... :)

[2015-09-28 09:31] antonzaytsev commented on #1190
Same here, only 127.0.0.1:4000 works. On localhost:4000 have blank page without any logs in console.

[2015-09-28 13:38] iStefo opened #1236 "Enable custom HTTP methods"
As a follow-up to #1234, this issue should track the progress of a `match(verb)` primitive for the Router module that enables serving requests with non-traditional HTTP methods such as `MOVE`, `COPY` etc., which are required when implementing a server that can speak the WebDAV protocol or others.

In #1234 it was decided that a new primitive would be the best choice for such an enhancement because

[2015-09-28 20:36] stevedomin commented on #1236
@chrismccord I know you assigned it to yourself but I'm really keen on giving it a go if you haven't started. I'd like to dig more into Phoenix internals and seems like a good occasion to do so.

[2015-09-29 02:12] erlanger opened #1237 "mix run fails - upgrade to elixir 1.1"
`mix run` now fails with elixir 1.1 - of course it is because of the changes in Access, mix needs to be updated.
[code]

[2015-09-29 13:53] chrismccord commented on #1237
As a sanity check can you `rm -rf _build` and retry? Everything is fine on my end on 1.1, so let's start there.

[2015-09-29 15:15] dmarkow commented on #1237
I had the same issue this morning, `rm -rf _build` fixed it. Thanks!

[2015-09-29 15:29] #1237 closed

[2015-09-29 18:00] MattNguyen opened #1238 "String or binary salt value for Phoenix.Token"
The documentation for `Phoenix.Token` indicates a salt must be passed into params for `sign/3` and `verify/4` (https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/token.ex#L13).

However, running `Phoenix.Token.sign(endpoint, "user", user_id)` (with proper variable substitution) in iex returns a `FunctionClauseError` unless the salt value is binary. Indeed, their function definitio

[2015-09-29 18:09] chrismccord commented on #1238
A string is a binary, so nothing is wrong from the example you provided:

[code]

Can you provide the exact line of code and full stack trace that is causing this error? Are you sure in your code that you weren't passing a char list with single quotes?

[2015-09-29 18:10] MattNguyen commented on #1238
Doh! Definitely single quotes. Thanks for the quick response!

[2015-09-29 18:10] #1238 closed

[2015-09-29 18:12] chrismccord commented on #1238
No problem. elixir-lang irc is a great place for quick access to help for little snags like this. Happy learning :)

[2015-09-30 08:19] jbhatab commented on #1190
Same for me.

[2015-09-30 15:07] JustMikey opened #1239 "Not found :heardbeat key"
I am getting this weird error every few seconds when my server is running. I haven't even touched sockets functionality yet so I am not even sure what is going on. The error is the following:

`[error] Ranch protocol #PID<0.1297.0> (:cowboy_protocol) of listener SocialNetwork.Endpoint.HTTP terminated
** (exit) exited in: Phoenix.Endpoint.CowboyWebSocket.resume()
    ** (EXIT) an exception was rais

[2015-09-30 15:14] chrismccord commented on #1239
Try `mix deps.clean phoenix_live_reload`

Please reopen if that doesn't solve it for you

[2015-09-30 15:14] #1239 closed

[2015-09-30 23:32] iguberman opened #1240 "POST functionality inconsistent with PUT, GET, and DELETE in referenced models"
Hope you find this a reasonable complaint...

**Background:**
[code]
Modify models/data.ex like so to create one-to-many datum-tags association:

[code]

Modify required_fields in models/datum.ex:
[code]

**Issue:**

Create a new datum object by POSTing a json that includes tags list in the datum object -- I actually didn't expect this to work but it did -- Phoenix is AWESOME!!! :)

[code]

[code]

[2015-10-01 00:14] josevalim commented on #1240
I am not sure I agree it should work by default. Maybe we could
automatically preload the data on update. But there is nothing we can do on
delete. If we delete by default, others would be surprised by us removing
data when we should not. If we nullify the dependency, it can be
inconsistent. At best, we could generate on_delete on the migrations so it
is at least clear what to change.

The idea of

[2015-10-01 00:17] josevalim commented on #1240
Btw, POST doesn't work by default unless you add the tags to the list of
required or optional fields. So a small intervention is required for all
actions, otherwise Phoenix would default to rendering and exposing all
associations, which would be catastrophic! :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-10-01 00:23] rhazdon commented on #1240
I'm a little bit confused about the reference of datum_id
[code]

Should not be there a reference to data instead of datum?

[2015-10-01 01:32] iguberman commented on #1240
Oh, good catch @josevalim -- I forgot to mention in the issue description that I added tags as required field in datum.ex:

`@required_fields ~w(lat lon data tags)`
I also agree with DELETE comment -- it might be a bit dangerous to just go ahead and delete stuff if the associations changed (unless there is a way to detect associations and be able to DELETE or not DELETE referenced models).   But i

[2015-10-01 01:36] iguberman commented on #1240
Thank you very much @rhazdon -- I modified the issue description (as well as the README file I copied it from)

[2015-10-01 07:37] iguberman commented on #1240
I tried one more thing with the PUT, I am now only updating one field in the data table without touching the tags:
[code]
Now this looks more like a bug than a mere inconsistency.   I can't perform any update on a table that has required references like `tags` in this particular case. This time around I wasn't even trying to update tags along with other fields in one sweep like I did in my origina

[2015-10-01 14:31] josevalim commented on #1240
If you mark it as a required field, you need to preload it otherwise we can't really know if it has been set or not (because it was not loaded).

[2015-10-01 14:31] josevalim commented on #1240
If you do `Repo.preload(model, :tags)` in your actions it should be enough. :)

[2015-10-01 16:22] josevalim opened #1241 "Discuss if messages should be automatically queued on the client"

[2015-10-01 18:04] kettleio opened #1242 "Issues with phoenix.gen.json & integer"
I'm running into problems when using the phoenix.gen.json command with anything other than **string**. For example, running the following command will always result in an error when I go to compile:

```$ mix phoenix.gen.json Score scores player:string score:integer```

The errors look something like this:
[code]

My router.ex file looks like this:

[code]

If I convert the score to **string** it

[2015-10-01 18:13] #1242 closed

[2015-10-01 20:11] tejasmanohar commented on #1236
@stevedomin There's no solution out yet so I bet a PR would be appreciated :wink: ... at least that's how it usually works from my experience.

[2015-10-01 22:23] stavro opened #1243 "Upgrade path for 1.0.3?"
It appears as though there might need to be code changes added to the CHANGELOG.md to properly upgrade to 1.0.3.  After upgrading to 1.0.3 I get `(KeyError) key :heartbeat not found in` errors in my output:

[code]

[2015-10-01 22:38] stavro commented on #1243
Hmmm.... It looks like I had to manually `rm -rf _build` and it works now.  Odd... but nevermind!

[2015-10-01 22:38] #1243 closed

[2015-10-02 16:34] TigerWolf opened #1245 "Documentation query"
When creating a project and looking through the documentation to find a particular method, I have found some methods that appear to be missing.

For example, with the form helpers `form_for` I cannot find in the latest documentation. Also the form input helpers like `text_input` do not appear in the docs either.

How would I go about contributing to this documentation?

[2015-10-02 16:57] jeffkreeftmeijer commented on #1245
I think you've been looking in Phoenix's documentation (http://hexdocs.pm/phoenix/Phoenix.html), while the HTML helpers like `form_for` and `text_input` are in the Phoenix.HTML project, which has separate documentation (http://hexdocs.pm/phoenix_html/Phoenix.HTML.html), and you can't find methods like `form_for` from the search box on http://hexdocs.pm/phoenix/Phoenix.html, which indeed is quite c

[2015-10-02 17:15] iguberman commented on #1240
Thanks so much Jose!  I added `Repo.preload` line  to update/delete/index/show.  With some minor tweaks I was able to get PUT and DELETE working properly: added `has_many :tags, NanoOdw.Tag, on_replace: :delete` instead of just `has_many :tags, NanoOdw.Tag` for being able to update tags from full data json and also for DELETE to work I had to explicitely delete all the tags first.     I still can'

[2015-10-02 20:59] josevalim commented on #1245
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-10-02 20:59] #1245 closed

[2015-10-04 03:15] dikaio opened #1249 "no function clause matching in Phoenix.HTML.Tag.tag/2"
While going over the [Phoenix.HTML](http://hexdocs.pm/phoenix_html/Phoenix.HTML.html) module I wasn't able create html tags with the code below. I'm not sure if I'm doing something wrong or if it's a bug.

This was being added to the **app.html.eex** file.
[code]

[2015-10-04 06:02] chrismccord commented on #1249
What you want is `content_tag :p, "<hello>"`

[2015-10-04 06:02] #1249 closed

[2015-10-04 06:06] dikaio commented on #1249
:grin: :thumbsup:

[2015-10-04 13:34] chrismccord commented on #1236
@stevedomin sorry for the delay, but I am on this. I will keep you on deck for the next thing we'll need help with :)

[2015-10-04 14:03] #1236 closed

[2015-10-04 14:11] chrismccord commented on #1236
This has been added to master, and you can now do:

[code]

[2015-10-05 19:44] ericmj opened #1252 "Document Phoenix.Socket callbacks"
They are currently documented in the moduledoc but there should also be some text in the documentation for the callback itself.

[2015-10-06 03:53] josevalim opened #1253 "Ensure Phoenix works with always on protocol consolidation from Elixir master"
[code]

where:

[code]

[2015-10-06 11:47] just3ws opened #1254 "endpoint.ex compile error on function router/2 when trying to start phoenix.server"
Elixir and Erlang installed via Homebrew with default options

Trying to run a phoenix.server instance using the default guidelines on the documentation. `mix` gets all the deps without error, no error occurs until I try to run any `mix phoenix` command. Am I doing something wrong here?

[code]
[code]
[code]
[code]

[2015-10-06 11:52] chrismccord commented on #1254
Sounds like you are using an older version of phoenix. You'll need to change `plug :router, App.Router` to `plug App.Router` in your endpoint. Also make sure to check the upgrade guides and jump on the latest phoenix.new generator. If you have any questions, find me on elixir-lang irc

[2015-10-06 11:52] #1254 closed

[2015-10-06 14:10] just3ws commented on #1254
Thanks. :+1:

[2015-10-06 18:17] iguberman commented on #1240
Now, that I got more or less familiar with this side of things...   There is this method in relation.ex
[code]

@josevalim @chrismccord
IMHO -- instead of raising an exception it would be nice if it was "lazy-loading" the missing field for the user right there.   So the user doesn't call `Repo.preload(model, :tags)` in every access method.    Doesn't it make sense for an ORM to lazily load associa

[2015-10-06 18:41] michalmuskala commented on #1240
Ecto is making a deliberate choice not to lazy load. Lazy loading leads to issues like N+1 queries, that are easily solved by thinking first what data will be needed during the request explicitly - requiring to preload associations forces you to think about this.

For me the bigger issue would be things happening automatically besides my back, that are hidden and possibly hard to understand, rathe

[2015-10-06 19:23] iguberman commented on #1240
Thanks a lot @michalmuskala  -- totally answers my question :+1:

[2015-10-07 00:51] TigerWolf opened #1255 "Preload and chaining - Error message"
When you chain Preload, you get a really unhelpful error message:

`log = Repo.get!(Log, id) |> Repo.preload [:user] |> Repo.preload [:activity] `

`    ** (UndefinedFunctionError) undefined function: :user.__struct__/0`

After messing around re-reading the [docs](http://www.phoenixframework.org/docs/ecto-models#section-data-relationship-and-dependencies) , I finally found out that preload can dea

[2015-10-07 00:53] #1255 closed

[2015-10-07 00:54] chrismccord commented on #1255
Your first error is caused by the lack of parens to disambiguate your piping. What you wanted is:

    log = Repo.get!(Log, id) |> Repo.preload([:user]) |> Repo.preload([:activity])

Elixir saw your first example as:

    log = Repo.get!(Log, id) |> Repo.preload([:user] |> Repo.preload [:activity])

[2015-10-07 00:57] TigerWolf commented on #1255
Thanks. Is is possible/valuable to improve the error message in this case?

[2015-10-07 00:59] chrismccord commented on #1255
Unfortunately it's not possible to improve this particular error message since Elixir is seeing the expression as `[:user]` being passed to repo preload. When piping, be sure to wrap in parens and you'll avoid these kinds of problems.

[2015-10-07 01:01] TigerWolf commented on #1255
Thank you.

[2015-10-07 01:05] #1252 closed

[2015-10-07 01:06] ericmj commented on #1252
:heart:

[2015-10-07 01:21] chrismccord commented on #1240
I don't think there is anything for us to handle on the generators side, but maybe we can better highlight preloading in the guides? // @lancehalvorsen. I'm closing for now, but feel free to follow up with questions. Thanks!

[2015-10-07 02:34] iguberman commented on #1240
Maybe it would be nice to add more specific how-to info to the exception message in relation.ex `load!`?  I.e.

[code]

[2015-10-07 03:12] josevalim commented on #1240
That's a great idea @iguberman!

@chrismccord I would like to also always add on_delete on references in migrations, so please let's leave this open until I fix both Ecto and the references. :)

[2015-10-07 16:20] iguberman commented on #1240
Cool -- thanks! @josevalim :)

[2015-10-07 18:37] taylorbrooks commented on #204
@Gazler Where is the documentation for using `when action in [:create]`?

I'd love to read more around this.

[2015-10-07 18:53] Gazler commented on #204
@taylorbrooks http://hexdocs.pm/phoenix/Phoenix.Controller.Pipeline.html#summary

[2015-10-07 20:08] AdamBrodzinski opened #1256 "Question: How much does Phoenix focus on realtime data?"
Hello, i'm looking to switch my stack to Elixir/Phoenix and I can't find a solid answer of where Phoenix is heading. It would be awesome if you could elaborate on what plans Phoenix has for the future.

Ideally i'd like a framework that is realtime sockets 1st and then REST as a backup. Meteor does something similar to that where all data is sent down in realtime and no API endpoints are required.

[2015-10-07 20:11] josevalim commented on #1256
Welcome @AdamBrodzinski! Discussions are welcome but the issues tracker is not the place to have them. :) Please move it to the Phoenix mailing list, where more people can participate and contribute to the conversation.

[2015-10-07 20:11] #1256 closed

[2015-10-07 23:13] chrismccord opened #1257 "Generate URL safe tokens from Phoenix.Token"

[2015-10-07 23:22] josevalim commented on #1257
We should fix this in Plug. :)

[2015-10-07 23:25] jeregrine commented on #1257
And or maybe add a new fn to URI   

—
Sent from Mailbox

On Wed, Oct 7, 2015 at 6:22 PM, José Valim <notifications@github.com>
wrote:

[2015-10-07 23:26] josevalim commented on #1257
Elixir is fine, it has everything we need.  We just need to use url_encode64/url_decode64 in Plug.

[2015-10-08 02:35] scrogson commented on #1257
Handling this in Plug will break backwards compatibility. I know there are a few people using Plug's crypto stuff to be able to share cookies with Rails apps.

Since the tokens generated from Plug are generally used in cookies, it feels slightly out of place for Plug, IMHO.

[2015-10-08 03:02] josevalim commented on #1257
We can easily maintain compatibility with Plug by using `Base.url_decode64` and falling back to `Base.decode64`. Any reason why this wouldn't work?

[2015-10-08 03:25] scrogson commented on #1257
@josevalim ok, that sounds good. :+1:

[2015-10-08 16:59] willrax commented on #990
I think I pulled something together here https://github.com/willrax/phoenix-js. Seemed to work ok for me in another small application using bower and the `glob/main.js` file.

[2015-10-08 17:34] chrismccord commented on #990
It seem we have a few efforts going on at once. I met @jerel at ElixirConf, and we has extracted the client and is now putting together a test suite with CI testing for all supported browsers. Perhaps we can unit the effort around his repo here?

https://github.com/jerel/phoenix_js

[2015-10-08 17:36] willrax commented on #990
Oh awesome! Absolutely.

[2015-10-08 17:38] willrax commented on #990
This also looks like a much better implementation. I want to use the socket stuff in an Ember application so this will be really handy.

[2015-10-08 20:18] fremontmj opened #1258 "Documentation clarification for SSL"
In the SSL guide it says:

"If we add the otp_app: key whose value is the name of our application, we can put the key and certificate files in the priv directory of our application, and Plug will look for them there. The values of our environment variables should then be relative paths."

This did not work for me.

I put the files in the priv directory, and my prod.exs file had (among other things

[2015-10-08 20:54] josevalim commented on #1258
You are correct. The guides are out of date. Can you please send a pull
request for the guides? Thank you!

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-10-09 08:23] jesenko opened #1262 "Glob pattern in `Phoenix.Channel.intercept`"
I have an use case where _all_ messages broadcasted to channel must be intercepted by `handle_out` method to provide some auth-based filtering of messages.

Currently (according to my understanding), I have to list _every_ possible message in the `intercept` macro, e.g.

[code]

It would be neat if I could set intercept on all messages, e.g. `intercept ["*"]`.

[2015-10-09 10:12] sdn90 opened #1263 "Documentation for mix phoenix.new on Hexdocs"
Was lookin for documentation on `mix phoenix.new` and couldn't find it on Hexdocs. Found the documentation written `installer/lib/phoenix_new.ex` but I think this would be pretty helpful if it was generated with the rest of the documentation.

[2015-10-09 10:23] chrismccord commented on #1263
Since we don't publish a real `phoenix.new` hex package, we can't push up hex docs for it. I will loop back around to this idea when Elixir gets `mix archive.install hex phoenix`. Thanks!

[2015-10-09 10:23] #1263 closed

[2015-10-09 10:28] chrismccord commented on #1262
This is correct. May I ask how many events you are using per channel to get a sense of how cumbersome this would be? We require explicit intercepting because we are able to optimize broadcasts considerably by dispatching directly to the transport and encoding a single time. It's a worthy tradeoff having to list a handful of intercept events to make what would otherwise be 1000 json encodings becom

[2015-10-09 10:57] jesenko commented on #1262
To be honest, I do not have so many events that listening them would be _very_ cumbersome (~10 events per channel). It just seemed like unnecessary duplication as _pattern_ on `handle_out` method already specifies which messages should be intercepted.

I assumed it could be due to some perf optimization, which you just confirmed - I must agree that it is a worthy tradeoff.

If I have to intercept

[2015-10-09 11:43] chrismccord commented on #1262
I'm not convinced `intercept_all` is needed, and I fear it would become a bad, defacto default when only a couple events need to be intercepted. I will definitely keep this in mind as we go. Thanks for the idea!

[2015-10-09 11:43] #1262 closed

[2015-10-09 19:35] chrismccord opened #1265 "phoenix.js can't leave() if channel is not joined"
Easily reproduced by trying to leave on a failed join. The same would happen for leaving on an `onError` callback:

[code]

[2015-10-09 20:38] jesenko commented on #1262
I agree, it would likely get overused / abused, probably better to stay with performant defaults. Thanks for the info on performance reasons!

[2015-10-09 23:14] chrismccord commented on #1265
cc @ericmj

[2015-10-09 23:33] josevalim commented on #1265
@chrismccord we need to solve this along side the other channel issue and think about a new release.

[2015-10-09 23:43] chrismccord opened #1266 "Force application/json content-type for LongPoll"
xdomain does not allow content-type headers, so we are not parsing json bodies for older IE versions. Forcing content-type with `put_req_header` is a workaround before parsing.

[2015-10-10 01:27] #1266 closed

[2015-10-10 15:09] scrogson commented on #1257
I'll take care of this in Plug.

[2015-10-10 15:12] chrismccord commented on #1258
tracking the issue here. Thanks!
https://github.com/phoenixframework/phoenix_guides/issues/395

[2015-10-10 15:12] #1258 closed

[2015-10-12 21:24] mavenastic opened #1271 "Using plugs through a pipeline"
Hello,

Let's say you have two namespaces in your app, one for the frontend and one for the admin area.

In order to use a custom layout for the first namespace, you can add `plug :put_layout, "frontend.html"` to all of your frontend controllers. This works fine. However, let's say you want to share more behavior and DRY your controllers, you could, from what I understand, use a shared plug that y

[2015-10-13 01:00] josevalim commented on #1271
Please don't use the issues tracker for questions, use stack overflow or the mailing list.

Which tuple are you trying to pass? Have you seen the docs for put_layout: http://hexdocs.pm/phoenix/Phoenix.Controller.html#put_layout/2

[2015-10-13 09:14] mavenastic commented on #1271
Noted, thank you @josevalim.

[2015-10-13 09:14] #1271 closed

[2015-10-15 14:22] josevalim opened #1279 "Show help when "mix phoenix.new" is run without args"
/cc @napcs

[2015-10-15 14:45] josevalim opened #1280 "Tell users to configure their database after mix phoenix.server"
Today, we tell users after phoenix.install to run `mix ecto.create`. However, often their database is not properly configured which puts them far from the rewards of seeing their phoenix app running. Because we don't need the repo on the home, we should tell users to run Ecto at the end:

[code]

/cc @napcs

[2015-10-15 15:00] josevalim opened #1281 "Allow fields to be marked as unique on the model/migration command"

[2015-10-15 15:05] doomspork commented on #1280
Would you always show this message or first identify whether they had run `mix ecto.create`?  If no one is actively working on this or #1279 I'd love to give them a shot.

[2015-10-15 15:10] josevalim commented on #1280
@doomspork that info will be shown at the end of phoenix.install, so we would always show it if ecto is being used.

[2015-10-15 15:12] doomspork commented on #1279
Do you have a help message in mind or would this been akin to the moduledocs found in the installer:

[code]

[2015-10-15 15:14] doomspork commented on #1280
Gotcha, thanks for the quick response @josevalim!

[2015-10-15 16:24] josevalim commented on #1279
@doomspork yeah, we should just do `Mix.Task.run "help", ["phoenix.new"]`

[2015-10-15 17:22] #1280 closed

[2015-10-15 17:41] #1279 closed

[2015-10-15 19:24] jeregrine opened #1285 "Performance Testing of Phoenix Channels"
@Gazler set this test environment up to test how many websockets can connect to a channel.
How to test:

[code]

We are currently investigating how to push more load to Phoenix and see what is blocking the current throughput (if it is the tool or some configuration we are not aware).

During testing the result's were not great as shown by

[code]

I am not sure if we need to change how Tsung is se

[2015-10-15 19:25] jeregrine commented on #1285
@Gazler mentioned you might need to update your ulimit locally to to do better, but when he did he hit similar bottle necks.

This is a pretty easy setup for doing websocket testing so I figured I'd share here.

[2015-10-15 19:30] jeregrine commented on #1285
Also note this assumes OSX.

[2015-10-15 19:36] jerel commented on #1285
Might it be something in tsung? I ran a quick test the other day using Thor and hit 40,000 with no problems. (On a Linux laptop). Note that I wasn't sending messages or anything, just opening connections.

[code]

[2015-10-15 19:37] jeregrine commented on #1285
This appears to be sending messages

On Thu, Oct 15, 2015 at 2:36 PM, Jerel Unruh <notifications@github.com>
wrote:

[2015-10-15 19:52] josevalim commented on #1285
A thousand connections is way too low. How do you measure: "He was getting a max of approx 1k on his machine. When I ran in dev mode I was maxing around 200." Which limit is being reached? memory? the benchmarking tool?

[2015-10-15 19:53] jeregrine commented on #1285
@josevalim it just stopped being able to open new connections

[2015-10-15 19:56] josevalim commented on #1285
How did you notice that? Did you get errors? Was something being logged? Timeouts?

[2015-10-15 20:16] jeregrine commented on #1285
SORRY everyone this isn't supposed to be a fire: just a reproducible way to performance test phoenix channels in more robust ways.  I probably have tsung misconfigured.

[2015-10-15 20:32] jeregrine commented on #1285
Alright once you have run the test you'll need to generate the report

[code]

[2015-10-15 20:35] jeregrine commented on #1285
Reminder to set ulimit in each tab
[code]

[2015-10-16 00:24] foxnewsnetwork opened #1286 "URL helpers aren't properly escaping dynamic segments"
Say I have an `Account` model with an `id` field that is a base64 encoded string. If I run this through the URL helpers generated by the `Phoenix.Router`, it will fail if the base64 string happens to have slashes or pluses in it.

For example: If I have:

[code]

Looking through the code:

https://github.com/phoenixframework/phoenix/blob/v1.0.3/lib/phoenix/router/helpers.ex#L175

It seems we just

[2015-10-16 00:35] josevalim commented on #1286
If you call `URI.encode_www_form` here in those two places

1. https://github.com/phoenixframework/phoenix/blob/v1.0.3/lib/phoenix/router/helpers.ex#L173
2. https://github.com/phoenixframework/phoenix/blob/v1.0.3/lib/phoenix/router/helpers.ex#L170

We should be good to go? can you please try a patch with tests? Thank you!

[2015-10-16 00:37] foxnewsnetwork commented on #1286
okay, understood

[2015-10-16 08:27] Gazler commented on #1285
With a higher ulimit these are the results I am getting locally - just over 6.5k connected. Then something dies - I'm investigating now.

![graphes-users-simultaneous](https://cloud.githubusercontent.com/assets/477511/10537187/0195c98e-73e8-11e5-903e-59428ccea7ad.png)

[2015-10-16 09:12] Gazler commented on #1285
Ok - so it turns out running tsung and phoenix on the same machine is a bad idea at higher levels. It looks like tsung was causing the phoenix application to crash (erlang crash perhaps?)

Here's a more promising image:

![graphes-users-simultaneous](https://cloud.githubusercontent.com/assets/477511/10538131/555c547e-73ee-11e5-8ed4-c7e681dbf165.png)

[2015-10-16 09:35] chrismccord commented on #1285
The linked repo does not set buiild_embedded, so protocols are not consolidated by default. Can you verify protocols are consolidated in your latest runs?

[2015-10-16 09:38] Gazler commented on #1285
@chrismccord Yeah - I have set them now. That was what was causing the problems at about the 1400 connection mark on my machine.

[2015-10-16 11:25] josevalim commented on #1285
Also make sure you are running in production. The only reason for Erlang to
fail really is because you are running out of memory or the OS cannot cope
with the load.

On Friday, October 16, 2015, Gary Rennie <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-10-16 11:34] blisscs opened #1288 "How to reload the server in production."
From the phoenix guide we use following command to boot up the server phoenix in production.

``` MIX_ENV=prod PORT=4001 elixir --detached -S mix do compile, phoenix.server ```

The question is  - if I use git post-receive hook to extract and replace updated files in the project folder. How can I reload it.
Or
Another way around is it possible write a process id of the server to a file and I will

[2015-10-16 11:50] chrismccord commented on #1288
I'll loop back around to the --detached state recommendation in the guides, but this is beyond the cope for the phoenix repo. You might also have luck on the mailing list, but there are numerous deploy options and post-receive hook may or may not be the best option or require special setup outside the scope of the guides.

[2015-10-16 11:50] #1288 closed

[2015-10-16 15:24] #1281 closed

[2015-10-16 16:30] jeregrine commented on #1285
So I think @chrismccord and @Gazler took care of this on irc. Was multiple issues, one is do not run tsung on the same machine as you are testing, and various other issues.

[2015-10-16 16:30] #1285 closed

[2015-10-16 16:55] gjaldon commented on #1285
@jeregrine what were the various other issues? Was just curious and would be great if we could have it as reference in this issue for anyone interested in testing performance of Phoenix channels.

[2015-10-16 17:02] gjaldon commented on #1288
@blisscs to reload phoenix.server, you can kill the process listening on port 4001 and then run phoenix.server again. In linux, you can find the pid of the process running on a specific port by doing `lsof -i:4001`. This returns the pid of your phoenix app running in port 4001. Then you can use `kill` to stop it.

[2015-10-16 17:22] #1286 closed

[2015-10-16 19:13] zmoshansky opened #1295 "phoenix.js clear channel pushBuffer on join; race condition"
There is a race if you try to open a channel and send a push immediately. The messages get buffered but never sent as the channel connects on the first attempt (doesn't trigger `rejoin()`).

Easy fix is to flush the push buffer on join.
[code]
Related: #1241

[2015-10-16 19:20] chrismccord commented on #1295
Can you describe the potential race with some sample code?

[2015-10-16 19:25] zmoshansky commented on #1295
[code]

Which in my codebase is done via a call like:

[code]
`this._getOrOpenChannel('user', account.id)` returns the channel in question, or opens it and then returns it.

[2015-10-16 19:28] chrismccord commented on #1295
This is expected as can't push anything to the server until you've joined successfully. I'm not sure if we should queue indefinitely for these cases as you'll want to have your UI control whether or not events are pushed to the server based on the status of the join

[2015-10-16 19:28] zmoshansky commented on #1241
#1295 Highlights a use case where queuing is helpful. "Making a call to join a channel and send a message immediately". Definitely cleaner calling join and setting an `onJoin` callback to then push.

[2015-10-16 19:28] chrismccord commented on #1295
For example, your code above assumes the join was successful, which won't always be the case

[2015-10-16 19:33] zmoshansky commented on #1295
Of course, my server would never be down ;) However, this is done in the rejoin case. So if for some reason this call failed the first time it would succeed in that instance which is odd behaviour.

One could do the following, but it seems inconsistent with the existing behaviour of rejoin.

[code]

[2015-10-16 19:41] zmoshansky commented on #1295
As it stands, I think the current behaviour may still be a bug as it seems to eat my messages and never alert me of that fact. *ie. queing them instead of returning an error, then never clearing the queue.

[2015-10-16 20:28] jerel commented on #1295
How about this?

[code]
Should allow you to handle success or failure elegantly in your UI or code:
[code]
It seems easier to reason about rather than firing messages into a channel and trusting it to connect eventually. However if messages are silently dropped then that does seem like unwanted behavior.

[2015-10-16 20:34] josevalim commented on #1295
@chrismccord given the plan is to queue until we reach a timeout... for rejoins... it probably makes sense to treat first joins the same way, no? Less cases to consider in the code?

[2015-10-16 20:49] zmoshansky commented on #1295
@jerel Thanks, The use of promises would definitely help improve the API. I'd omitted the error handling code for brevity, but I like the promise based approach enough that I may sorta like:

[code]

[2015-10-17 06:13] sbrother opened #1298 "mix test fails on new project"
See [StackOverflow question](http://stackoverflow.com/questions/33181775/phoenix-framework-mix-test-fails-with-argumenterror-on-new-app). `mix test` fails with the error

    ** (ArgumentError) argument error
    :erlang.exit(nil, :normal)
    (ecto) lib/ecto/adapters/postgres.ex:55: Ecto.Adapters.Postgres.stop/2
    (ecto) lib/mix/ecto.ex:75: Mix.Ecto.ensure_stopped/2
    test/test_helper.exs:3:

[2015-10-17 06:39] ericmj commented on #1298
This is an ecto bug, please reopen on https://github.com/elixir-lang/ecto.

[2015-10-17 06:39] #1298 closed

[2015-10-17 11:06] slashmili opened #1299 "mix test fails with "argument error""
I'm getting `argument error` when I run `mix test` on newly created phoenix app

Versions that I'm using:

* phoenix: 1.0.3
* Elixir:  1.0.5
* Erlang/OTP 18
* Ecto 1.0.5
[code]

When I run `mix test`

[code]

I checked the `test_helper.exs` and line 3 and 4 are
[code]

FYI I tried running it in iex and I got the same error(which is not a surprise). However if I run the `mix ecto.migrate` it works:

[2015-10-17 11:17] jlecour opened #1300 "Mix.Tasks.Phoenix.New absent from documentation"
Hi,

I might be missing something, but I can't find the documentation for `Mix.Tasks.Phoenix.New` in http://hexdocs.pm/phoenix/

I'm quite new to the Elixir ecosystem, so I don't know where to start to help on this, but I'd be glad if there is anything I can help fix (if needed).

Thanks

[2015-10-17 11:53] josevalim commented on #1300
Welcome @jlecour! Thanks for the report.

It is because it is not really part of Phoenix. Currently you can see the info for any task with `mix help phoenix.new`, in future releases, `mix phoenix.new` only will also show the help. :)

[2015-10-17 11:53] #1300 closed

[2015-10-17 11:54] josevalim commented on #1299
A bug in Ecto, I have fixed it and I will make a new release. :)

[2015-10-17 11:54] #1299 closed

[2015-10-17 14:24] hail2skins opened #1302 "Bug in ecto 1.05 as mix test fails for any new app."
http://stackoverflow.com/questions/33181775/phoenix-framework-mix-test-fails-with-argumenterror-on-new-app

I opened that on Stackoverflow and someone there told me how to fix it.   But I figure you guys might care.   By putting ecto version 1.04 in my mix file, everything works as anticipated.   I do not know if the guy there is right about it being a bug, but I know what he told me to do fixed i

[2015-10-17 14:25] chrismccord commented on #1302
Thanks! It's a bug on the Ecto side that is fixed in master

[2015-10-17 14:25] #1302 closed

[2015-10-17 21:52] josevalim commented on #832
We no longer need this since Elixir v1.2 will always consolidate.

[2015-10-17 21:52] #832 closed

[2015-10-18 03:49] #1295 closed

[2015-10-18 03:49] chrismccord commented on #1265
Closed in https://github.com/phoenixframework/phoenix/commit/58405d6a490fb32050e7ae111147931462c06761

[2015-10-18 03:49] #1265 closed

[2015-10-18 03:50] chrismccord commented on #1241
Taken care of in https://github.com/phoenixframework/phoenix/commit/58405d6a490fb32050e7ae111147931462c06761

Messages are only buffered for the timeout window, then discarded

[2015-10-18 03:50] #1241 closed

[2015-10-18 03:50] chrismccord commented on #1295
This is fixed in master

[2015-10-19 02:42] chrismccord opened #1305 "Consider invoking the code reloader for the socket pipeline intercept"
Today if you are developing your front-end js application apart from your phoenix backend, any change will require a server reload since the websocket upgrade/Longpoll request will not trigger the code reloader in development. Ideally, we'll trigger the reloader for the socket intercept as well.

[2015-10-19 05:14] CJPoll commented on #1242
@kettleio So what was the solution to the issue?

[2015-10-19 07:25] blisscs commented on #1288
Thank you @chrismccord. and @gjaldon I tried using the lsof -i:4001 to see the PID and then kill it and run the main command again. it works as intended now I am trying to automate it and make it a script.
Thank you very much.
Dev.

[2015-10-19 08:43] josevalim commented on #1242
@CJPoll are you running into the same error? can you please provide full stacktrace and so on? I shoudln't really be happening and integers/strings should not matter. :)

[2015-10-19 09:24] blisscs commented on #1288
I found the solution from https://github.com/phoenixframework/phoenix/issues/1041 by @josevalim  which is to use the following command.

```elixir --detached -e "File.write! 'pid', :os.getpid" -S mix phoenix.server ```

And to use
```kill `cat pid` ```

to kill it and then reload it again.

I have tried and it works fine. Do you think they can drawbacks by using this method with git-hook if yes pl

[2015-10-19 12:20] #1305 closed

[2015-10-19 12:21] tenzan commented on #756
@chrismccord :+1:

[2015-10-19 12:26] chrismccord commented on #1257
ping @scrogson . how are coming on this one?

[2015-10-19 12:44] jerel commented on #1305
<3
This will be very nice to have!

[2015-10-19 15:12] merongivian opened #1306 "Assets not loading in new project"
I seems that some css are not loading when creating a new phoenix project, i got this error in the console
[code]

[2015-10-19 15:18] CJPoll commented on #1242
I was getting something similar, but figured it out. I was interested because my problem was also manifesting as `App.Router.init([])` not existing. It was otherwise unrelated.

[2015-10-19 15:35] chrismccord commented on #1306
This appears to be a node issue. As a sanity check, can you:

    $ rm -rf node_modules/
    $ npm install
    $ mix phoenix.server

and report back?

[2015-10-19 15:37] kettleio commented on #1242
@CJPoll the issue was actually rather silly. I changed the name of my controller function in my routes without updating it inside the controller itself. After regenerating with phoenix.gen.json, using the correct names, the problem was solved.

@josevalim phoenix.gen.json is a great tool - thank you!

[2015-10-19 15:47] merongivian commented on #1306
@chrismccord yea that might be it, downloading packages from node is somehow blocked in the place i work, closing this, thanks for the help anyway

[2015-10-19 15:47] #1306 closed

[2015-10-19 15:49] bryansray commented on #1306
@merongivian you might try disabling SSL. Sometimes that helps when you're at an office that has firewalls in place.

    nom config set strict-ssl false

[2015-10-19 15:54] merongivian commented on #1306
@bryansray thanks for the tip!, let me try that

[2015-10-20 06:46] conradwt opened #1307 "Generating API causes Unchecked dependencies for environment dev"
I'm getting an error message when attempting to generate an API using Elixir 1.2-dev and Phoenix 1.0.3.  Thus, I performed the following steps:

* create the application

[code]

* change to the application directory

[code]

* create the API

[code]

[2015-10-20 08:29] conradwt commented on #1307
OK, it seems that Hex was corrupted.  Also, the following command doesn't appear to have been ran because I would get "Unchecked dependencies for environment dev":

[code]

Thus, I'm somewhat confused as to the goal "Fetch and install dependencies? [Yn] Y" during the application creation process.  It appears to do something because it took almost ~32 seconds to get back to the Unix prompt.  It wou

[2015-10-20 09:05] josevalim commented on #1307
It works fine here. If you have a corrupted version of Hex though, then it would explain why things did not work for you.

Also, when you run "fetch and install dependencies", we are fetching both npm and elixir dependencies in parallel and the slowest one, by far, is the npm ones and there isn't much we can do to improve the visiblity on that side of things.

Let us know if "mix deps.get" still d

[2015-10-20 09:05] #1307 closed

[2015-10-20 09:29] conradwt commented on #1307
@josevalim I was able to get things to work with Elixir 1.1.1 but now with Elixir 1.2-dev.  I'm using using the following versions:

[code]

[2015-10-20 09:37] conradwt commented on #1307
It appears to be working now.  If Phoenix depends on Hex for downloading modules from their respective repositories, would it be a good idea to simply include Hex as part of the Phoenix installation process?

[2015-10-20 09:44] josevalim commented on #1307
@conradwt Why are you using a development version of Elixir? it may have bugs and there is no guarantee Phoenix supports it already. There is no guarantee even Hex works. :)

Also, Hex is always automatically installed every time you need it, so there is no need to worry about shipping it with Phoenix.

[2015-10-20 13:40] phenomen2277 opened #1308 "Some thoughts now when I generated my first phoenix project"
The first thing I had to do is to google "how to remove the bootstrap" boilerplate. I also want to see "clean" files in /js and /css folders. By clean, I mean that they boilerplate code should be moved somewhere else and bootstrapped from their instead...

I think choosing sqlite as a standard dbms in development would be better.

Otherwise!
You are doing a great job ppl!

[2015-10-20 13:56] chrismccord commented on #1308
Removing bootstrap is selecting all in app.css and hitting backspace :)

What is not clean about the current approach?

Postgres remains the best default in my

[2015-10-20 14:40] bryansray commented on #1308
Which "bootstrap" boilerplate are you referring to? Sorry, the first thing that comes to my mind here, BootstrapCSS; which I don't believe comes in Phoenix?

Do you mean like a "mix clean" task that clears out those directories? Or you literally want those directories to start out clean?

I've always been a fan of postgres. phoenix.new does allow you to pass in the ecto adapter doesn't it?

[2015-10-20 14:51] phenomen2277 commented on #1308
app.css does contain bootstrap 3.x classes. I link my css's using CDN. In my first project i thought of using boostrap 4.alpha using CDN. The problem is that you do not know if the app.js contain the boostrap components, those which require .js files. Unless you go through the app.js and see for yourself.

[2015-10-20 14:56] chrismccord commented on #1308
Sorry I meant to finish my comment earlier. We appreciate feedback, but please use the mailing list for input like this. I think our current approach is a great starting point for new applications. Thanks!

[2015-10-20 14:56] #1308 closed

[2015-10-20 14:57] phenomen2277 commented on #1308
@chrismccord It is just thoughts man.

[2015-10-21 16:11] chrismccord opened #1310 "Offload ets subscriber cleanup to another worker process"

[2015-10-21 16:55] scrogson commented on #1257
PR posted here: https://github.com/elixir-lang/plug/pull/309

[2015-10-21 22:42] #1310 closed

[2015-10-23 07:19] zztczcx commented on #1237
Thanks for same issue

[2015-10-25 08:28] hamiltop commented on #459
Is this still a valid approach?

[2015-10-25 18:55] chrismccord commented on #459
yup

[2015-10-25 20:00] hamiltop commented on #459
I'm a little confused about `:before` and `:super` in the example:

[code]

Are these a special pipeline and plug that don't exist anymore? Or should I be including `[:before]` in my pipe_through calls? What's `:super`?

When I just add it to the existing pipelines, I get the body as an empty string, as we reported before you suggested `:before`.

[2015-10-25 20:11] chrismccord commented on #459
Sorry, ignore `:before` and `:super` as they are long gone, but the plug approach is still the same. You can plug the CopyReq body above your Plug.Parsers declaration in your endpoint and it will copy the body before the parsers consume it

[2015-10-25 20:19] hamiltop commented on #459
Ahhh. That did the trick. For future reference by the community, a bare minimum solution (in the `endpoint.ex`):

[code]

As stated, that doesn't let you filter on only certain endpoints and can be pretty wasteful, but it's enough of a bare minimum example that anyone should be able to work with it.

Thanks!

[2015-10-25 20:55] hamiltop commented on #459
New problem encountered: This only works with a body size of 1024 or less (it hangs with 1025). Not capturing the body works fine with > 1024, but if we capture the body we hang when we try to parse it later.

[2015-10-25 21:38] lancehalvorsen commented on #459
Seems like you can configure the length and read length for Plug.Conn.read_body/2, but the defaults should be fine for this case. Is it possible that you are changing the defaults somewhere?

http://hexdocs.pm/plug/Plug.Conn.html#read_body/2

[2015-10-25 22:07] hamiltop commented on #459
My hypothesis is that read_body can only be called once. However, if the body is less than 1024, it's prefetched and then the read-once doesn't apply. However, once you have to fetch the next pit of the body, the first 1024 is thrown out. This causes the later read_body to timeout. Still digging through source code to confirm, but "Because the request body can be of any size, reading the body will

[2015-10-26 14:52] hupahupa opened #1313 "Strange error with Unique Constraint"
Hi, I got this error

[code]
I try apply like this guide: http://stackoverflow.com/questions/32864685/unique-index-constraint-not-working-in-phoenix-app

**In controller**
[code]

**model**
[code]

**DB Schema**
https://www.dropbox.com/s/nk26odntm8cmqep/Screenshot%202015-10-26%2021.47.07.png?dl=0

But still got that Error

Many thanks

[2015-10-26 15:16] josevalim commented on #1313
The error message says your database is erroring because of an index that
ends with _key but unique constraint in Ecto uses _index. You can pass a
:name option when calling unique_constraint.

Also, please don't use the issues tracker for questions.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-10-26 15:17] chrismccord commented on #1313
@hupahupa You might luck on the phoenix-talk mailing list or stack overflow if you still aren't able to solve your problem. Try out José's suggestion of specifying the `:name` of your index and you should be all set.

[2015-10-26 15:17] #1313 closed

[2015-10-26 15:18] michalmuskala commented on #1313
As a remark - the `unique_constraint` function does not take neither `on` nor `downcase` options. If you want to compare the values case-insensitively you need to configure that in your database.

[2015-10-26 15:48] hupahupa commented on #1313
Yeah It works, many thanks @josevalim . I will not create question as issue later.

[2015-10-28 08:53] Kavec opened #1314 "Phoenix reports wrong port during startup on port 0"
When configuring Phoenix to run Cowboy via port 0, Cowboy correctly receives an ephemeral port from the OS and starts listening on it, but Phoenix reports it's running on port 0 instead of the ephemeral port the http server is listening for new connections on. This requires using command-line tools like `lsof` to hunt down the actual port number.

The error occurs because [CowboyHandler.info/3](ht

[2015-10-28 16:11] ianwalter opened #1316 "Question about timing during Phoenix.Token.sign"
I'm using Phoenix.Token to generate unique keys. Some of my tests generate a token and then regenerate a token and make sure that the first token was deleted from the store. These tests are failing occasionally because they are running so quickly that the first token and second token are the same (i.e. under a millisecond).

Would it be fair to propose that tokens get signed with the time in micro

[2015-10-28 16:21] chrismccord commented on #1316
Can you hold a reference to the first token and use that in your test? It doesn't sound like there is a need to regenerate it if you already know the value? I think ms is fine, and we'd technically have races at microseconds, but much less aggravated. :)

[2015-10-28 16:21] #1316 closed

[2015-10-28 16:30] chrismccord commented on #1314
I'd like to see if there's something we can do here that isn't couple'd directly to cowboy. I don't think there's anything in plug that exposes this at the moment. This is up for grabs if someone wants to take a look

[2015-10-28 16:33] ianwalter commented on #1316
Yes, I'm holding a reference to the first token and then creating a new token by calling a `regenerate` function. The reason for the `regenerate` function is to delete the first token and create a new unique token. The test then checks if the first token has been deleted, but fails when the new token is the same as the old token because it thinks it hasn't been deleted. So adding `:timer.sleep(1)`

[2015-10-28 16:39] josevalim commented on #1316
If you need to sleep 1 millisecond you will be alright. :D

[2015-10-28 18:03] 0xAX opened #1318 "ability to reload phoenix web server"
Hello,

I'm searching for ability to reload phoenix release without stopping. I'm integrating [exrm_reload] (https://github.com/xerions/exrm_reload) for this point.

What I need to restart cowboy web server? I have config something like this:

[code]

Now I can change port in the release config and catch it in the code. How can i restart web server now on the new port? I've tried to call the:

[co

[2015-10-28 19:09] josevalim commented on #1318
Can you please use the mailing list for questions? A lot more folks will be able to help there.

[2015-10-28 19:09] #1318 closed

[2015-10-28 19:45] torrick opened #1319 "link helper with delete method does not work on windows"
OS: Windows 7 x64
Elixir: 1.1.1
Phoenix: 1.0.3
Node: 4.1.2
Browser: Chrome 46.0.2490.80

Steps to reproduce:
* `mix phoenix.new blog`
* `mix phoenix.gen.html Post posts title:string body:string
* `mix ecto.create` and `mix ecto.migrate`
* `mix phoenix.server`
* Create a couple posts
* Navigate to localhost:4000/posts
* Click on the delete link

Expected: Confirmation dialog shows and when confirme

[2015-10-28 21:58] josevalim commented on #1319
That's so weird. Can you get the compiled .js file from priv/static from both versions and compare them?

[2015-10-28 22:01] chrismccord commented on #1319
The `autoRequire` feature is new in brunch, so please include the brunch version listed in package.json

[2015-10-28 23:04] dmitrytrager opened #1320 "POST request results 400 status"
My app is based on generated code mostly. The deps are:
[code]
There are some code pieces.
Router:
[code]
Controller:
[code]
Model:
[code]

When I try to submit a form with new note details I can see '/notes' in browser address string and empty page. No errors, no debug data in console. I just see in browser debug console that response status is 400 (bad request), but unable to understand why. Is

[2015-10-28 23:16] #1320 closed

[2015-10-28 23:17] chrismccord commented on #1320
Check the params in the console logs that you are sending up:

[code]

We 400 when you are matching on params, but no clause matches. It sound like you are not sending a "note" map up.

[2015-10-29 04:57] chrismccord commented on #1319
We had another report of this issue from another windows user. His autoRequire wast not being included. `require("web/static/js/app")` was missing from the bottom of app.js, so I think this issue is actually worse than described, because *all* application js won't be executed. I'm trying to isolate, but node and brunch versions all appear fine. The autoRequire code in brunch's source also seems fi

[2015-10-29 09:46] dmitrytrager commented on #1320
@chrismccord I can have another version of create method:
[code]
But this does not change anything. No log messages, no entities in console. And result is 400.

[2015-10-29 09:50] josevalim commented on #1320
@dmitrytrager can you post your stacktrace and logs from terminal?

[2015-10-29 09:52] dmitrytrager commented on #1320
@josevalim these are the logs:
[code]
Is is not updated after form submit, get request results only.

[2015-10-29 09:54] dmitrytrager commented on #1320
The is no exception in explicit form. Not sure how to get stacktrace.

[2015-10-29 10:15] josevalim commented on #1320
I am confused, it says 200 in the logs?

[2015-10-29 10:50] dmitrytrager commented on #1320
@josevalim I think 200 is a result of previous query, that rendered form for me.

[2015-10-29 11:30] josevalim commented on #1320
So nothing is logged when you get the 400? Can you publish a sample
application that reproduces the issue?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-10-29 11:43] green-arrow opened #1321 "Running `mix test` causes erlang error :timeout_value"
After generating a new phoenix application (1.0.3), running `mix test` with a valid DB configuration in `test.exs` fails with the following message:

[code]

Manually setting the `timeout` option in `test.exs` resolves the issue.

[2015-10-29 13:18] dmitrytrager commented on #1320
@josevalim https://github.com/dmitrytrager/fs-dev-notes please

[2015-10-29 13:39] torrick commented on #1319
@chrismccord I can confirm that seems to be my issue as well.  The windows version of the compiled app.js is missing the `require("web/static/js/app")` line but the mac version includes it.  For the record I'm on brunch 1.8.5.

Let me know if I can provide any additional information to help track this down.

[2015-10-29 14:04] josevalim commented on #1321
Can you include your mix.lock file?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-10-29 14:23] josevalim commented on #1320
I cannot reproduce the error. I am trying to create a note, for example, and it fails on this line: https://github.com/dmitrytrager/fs-dev-notes/blob/master/web/controllers/note_controller.ex#L88

That's because parameters are always sent inside `conn.params["note"]["tag_list"]`. I would recommend you to clean up your controller in order to pin point the issue.

[2015-10-29 14:24] josevalim commented on #1321
Also, which value have you set to timeout?

[2015-10-29 14:29] josevalim commented on #1321
FWIW, I just created a new app and everything worked fine™.

[2015-10-29 14:33] dmitrytrager commented on #1320
Thanks @josevalim. I will try to do it

[2015-10-29 15:22] chrismccord commented on #1319
You can track the issue https://github.com/brunch/brunch/issues/1035

An interim fix for windows users is to change your autoRequire config in brunch-config.js to use a backslash path:

[code]

[2015-10-29 15:28] chrismccord opened #1322 "Rollback npm scripts"
#1270 and #1273 need to be rolled back as they are causing issues for some windows users.

[2015-10-29 15:38] torrick commented on #1319
Confirmed my links are working with the fix.  A slight modification was needed though:

[code]

The only caveat is the confirmation doesn't seem to work now.  Either way this is a suitable workaround for me until it gets fixed.

[2015-10-29 16:29] googya opened #1323 "got "compile dependency :cowboy" when mix ecto.create"
Fetch and install dependencies? [Yn] Y
* running npm install && node node_modules/brunch/bin/brunch build
* running mix deps.get

We are all set! Run your Phoenix application:

    $ cd hello_phoenix
    $ mix ecto.create
    $ mix phoenix.server

You can also run your app inside IEx (Interactive Elixir) as:

    $ iex -S mix phoenix.server

➜  demos  cd hello_phoenix
➜  hello_phoenix  mix ecto.cr

[2015-10-29 16:51] josevalim commented on #1322
Done!

[2015-10-29 16:51] #1322 closed

[2015-10-29 16:53] josevalim commented on #1323
I think it is your Erlang version. Which one are you using?

[2015-10-29 16:57] josevalim commented on #1319
OH! We need to fix this on the brunch side then!

[2015-10-29 17:15] googya commented on #1323
@josevalim

➜  ~  brew install erlang
Warning: erlang-18.1 already installed

[2015-10-29 17:21] chrismccord commented on #1323
Just to make sure we know what erl version you are using, what does `$ erl` report?

[2015-10-30 00:06] #1319 closed

[2015-10-30 00:07] chrismccord commented on #1319
For now I added both joinKeys to support all platform to brunch-config. Brunch is prepping a major version release, so it may be a bit before the fix lands.

[2015-10-30 01:33] googya commented on #1323
@chrismccord
➜  ~  erl
Erlang/OTP 18 [erts-7.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Eshell V7.1  (abort with ^G)
1>

[2015-10-30 01:35] josevalim commented on #1323
Ok, so it can only be rebar. What does `which rebar` return? If it is something global, can you uninstall it and install the one with `mix local.rebar`?

[2015-10-30 01:40] googya commented on #1323
There is no global rebar,

[code]

[2015-10-30 03:15] chrismccord opened #1324 "Add reply/3 to channel api"
So you can reply out-of-band to a push by providing the ref

[2015-10-30 09:31] druzn3k commented on #1314
@chrismccord I could try, but I cannot guarantee success (I'm still newbie). If the premise it's ok for you, I will take a look. :+1:

[2015-10-30 12:20] josevalim commented on #1323
Sorry, I have no idea why this is happening. Can we try one last thing? In the error message we have some chinese characters, what if you try to create a project outside of your `/Users/NAME`? Try something in /etc or any other directory. If it works, the issue is printing UTF-8 characters. :)

[2015-10-30 12:49] dmitrytrager commented on #1320
I tried different env. And it worked. I mean I was able to see error in browser and console. But my macbook still hides all exceptions leading to 400 status from me.

[2015-10-30 13:23] green-arrow commented on #1321
Sorry for the delay.

`mix.lock`
[code]

I have the timeout set manually to `5000`.

[2015-10-30 13:35] josevalim commented on #1323
@googya I am so sorry, this is a bug in Elixir. As I suspected, the issue is in the non-latin characters in your path name. You can move the project to another path. However, It is fixed in master and v1.1 branches. Therefore, you can also fix it by compiling Elixir from source. It is straight-forward and we have instructions for it here: http://elixir-lang.org/install.html

[2015-10-30 16:52] bigbassroller opened #1326 "Unknown type `unique` given to generator"
Hello,

Thanks for the awesome Phoenix project.

I am trying to use the `unique` type key to use for authenticating unique email addresses. I am running phoenix v1.0.3.

When running this example from `https://github.com/phoenixframework/phoenix/blob/master/lib/mix/tasks/phoenix.gen.model.ex` line 46:
 `mix phoenix.gen.model Post posts title:unique unique_int:integer:unique`

I get this error:
 `*

[2015-10-30 17:10] Gazler commented on #1326
This was added in this commit: https://github.com/phoenixframework/phoenix/commit/5f230cf52a5f601e4a1cd35dbb6a2d8ba8082728

So I don't think it is available unless you are using the master branch.

[2015-10-30 17:11] Gazler commented on #1326
This was added in this commit: https://github.com/phoenixframework/phoenix/commit/8758c5b846f0ddc34ac96221ee872f3c08457fb4

It will only be available if you are using the master branch of phoenix.

[2015-10-30 17:28] josevalim commented on #1326
@Gazler is right. :)

[2015-10-30 17:28] #1326 closed

[2015-10-30 21:19] bigbassroller commented on #1326
Thanks for the reply. I got it working now, thanks to the documentation "Running a Phoenix master project".

First I had to delete the phoenix.new thing inside /Users/yourusername/.mix/archives
and then git clone https://github.com/phoenixframework/phoenix and cd into that directory and into the installer folder
then create the project with the --dev flag inside of there:
`mix phoenix.new projectn

[2015-10-31 01:07] zmoshansky opened #1328 "Phoenix.Socket.Transport check_origin with invalid URI from client - Cordova"
#### Problem
On mobile clients like Cordova (turns html app into hybrid app), it sends an origin of `file://`. This is troublesome as one cannot whitelist `file://` since it is parsed with URI.parse.

#### Origin Validity
I'm not sure about whether `file://` is actually a valid origin according to [ietf rfc 6454](https://tools.ietf.org/html/rfc6454#section-7.3). I think this implies that it is val

[2015-10-31 01:09] chrismccord commented on #1328
Why does cordova send an origin at all? Is it configurable?

[2015-10-31 01:09] chrismccord opened #1329 "Support wildcard domains for check_origin"

[2015-10-31 01:16] zmoshansky commented on #1328
I have no clue why they would send it. I've searched for a couple hours for a solution and can't seem to find a way to set the origin header.

My best guess is that it just uses the behaviour of chromium; where it makes sense that it wouldn't be modifiable.

[2015-10-31 01:22] zmoshansky commented on #1328
https://chromium.googlesource.com/chromium/src/+/master/url/origin.h#53

[2015-10-31 18:49] dm1try commented on #1314
seems [`:ranch.get_port/1` can help](https://github.com/ninenines/cowboy/blob/27ecd7fca1c9111a09beb42ffe7efea0c317fd45/test/cowboy_test.erl#L24)

[2015-10-31 19:13] dm1try commented on #1314
just checked it:
[code]
[info] Running Testapp.Endpoint with Cowboy on http://localhost:0 (ephemeral port 45994)
[code]

[2015-10-31 19:22] chrismccord commented on #1314
Awesome. We need to expose this at the plug level so it can be adapter independent. Thanks for doing the leg work!

[2015-10-31 20:20] dm1try commented on #1314
Sure, I didn't know about such thing like an ephemeral port until now, so the "work" was informative :)

I haven't enough time for the implementation, so if anyone want to help - just do it!

[2015-10-31 20:25] scrogson commented on #1314
I'll take a look into getting this into Plug.

[2015-11-01 03:53] bob-hinrichs opened #1330 "Access is not a protocol, cannot derive Access for Phoenix.Socket -- any guidance?"
Hello,
I'm wondering if there might be some guidance out there.  I am a complete noob with Elixir and Phoenix, sorry about that.

Just followed instructions linked to install Elixir via Homebrew.  v1.1.1 was installed on my El Capitan OS.
During phoenix install, received this warning:
warning: the dependency :poison requires Elixir "~> 1.0.0" but you are running on v1.1.1

Otherwise looked relativ

[2015-11-01 09:33] Alamoz opened #1331 "Bugs after upgrading to Phoenix 1.0.3 and Elixir 1.1.1"
Having problems after upgrading to Phoenix 1.0.3 and Elixir 1.1.1. When I build a release, I get a warning and then the release dies:

warning: the dependency :exrm requires Elixir ">= 0.15.1 and ~> 1.0.0" but you are running on v1.1.1

==> Conform: No schema found, conform will not be packaged in this release!

Lots of:  ===> Application metadata file exists but is malformed:

When I just run the

[2015-11-01 10:23] josevalim commented on #1330
You are using a very old Phoenix version. Update it or update the Phoenix
installer according to Phoenix website.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-01 10:25] josevalim commented on #1331
You are upgrading from which version? Phoenix did not introduce any
breaking changes from 1.0.0, it is more likely to be an exrm issue.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-01 20:27] lancehalvorsen commented on #1331
You might want to upgrade to the latest version of exrm as well. Version 19.9 is on hex.pm.

https://hex.pm/packages/exrm/0.19.9

[2015-11-01 21:02] bob-hinrichs commented on #1330
Thank you very much for your prompt answer. Somehow a google search had led me to the documentation for the old version.  I notice some dev sites place a notice on such docs that a newer version exists.  I totally understand time for doc maintenance is always a challenge as the community grows and software is young.

[2015-11-01 22:34] Alamoz commented on #1331
Yes, I had to upgrade exrm to 0.19.9, that solved the problem. I am still unclear on what versions of components to use when upgrading Phoenix. Is there a method to determine which versions of each component to use? Why not include a sample mix.exs in the upgrade docs?

Thanks again guys! The new version is performing even faster!

[2015-11-01 22:34] #1331 closed

[2015-11-02 01:53] googya commented on #1323
@josevalim  I see, thank you

[2015-11-02 03:12] #1323 closed

[2015-11-02 20:43] josevalim commented on #1330
Great to hear!

[2015-11-02 20:43] #1330 closed

[2015-11-03 02:39] blast-hardcheese opened #1333 "--no-compile argument is ignored"
`mix help phoenix-server` suggests `This task accepts the same command-line arguments as run`, but this doesn't seem to be the case when trying to use `--no-compile`.

[code]

What I'm trying to do is tar the build directory after running `mix compile`, then deploy that with no further compilation necessary, so while the current behavior is definitely not a deal-breaker, it is definitely a nice-to

[2015-11-03 10:10] josevalim commented on #1333
Which Elixir version?

[2015-11-03 10:11] josevalim commented on #1333
About shipping Elixir with no need for compilers, please check: http://www.phoenixframework.org/docs/advanced-deployment

[2015-11-03 18:36] blast-hardcheese commented on #1333
@josevalim Looks like version `1.1.1`.

Thanks for the link! I had skimmed it before, but it wasn't clear to me that it would create a static environment-- this is great!

[2015-11-03 23:38] #1324 closed

[2015-11-05 16:56] ericlathrop opened #1335 "Publish API documentation for the Phoenix Channels JavaScript client"
The only documentation for the JavaScript side that I could find was [in the guides](www.phoenixframework.org/docs/channels#section-joining-channels). The guide is nice, but
comprehensive API documentation should be published for reference.

[2015-11-05 16:58] chrismccord commented on #1335
This is something that I'd like to get out once we extract the client to its own repo (current WIP), for now the source is your best bet https://github.com/phoenixframework/phoenix/blob/master/web/static/js/phoenix.js#L1-L86

Thanks for the idea!

[2015-11-05 16:58] #1335 closed

[2015-11-05 20:57] chrismccord opened #1336 "expose code_change for channels"

[2015-11-05 21:22] chrismccord commented on #1328
Does `check_origin: false` work as a workaround for you today, or do you still get 403'd?

[2015-11-05 22:21] zmoshansky commented on #1328
`check_origin: false` does work as a workaround. As noted above, not ideal long term since browser clients can't take advantage of the protection.

[2015-11-05 22:23] chrismccord commented on #1328
I agree. We're going to treat invalid URI's as nil.

[2015-11-05 22:31] stevedomin commented on #1329
Can I take this one @chrismccord?

[2015-11-05 22:47] chrismccord commented on #1329
@stevedomin I am on this, but #1336 is up for grabs!

[2015-11-05 22:51] stevedomin commented on #1336
@chrismccord can you give a bit more background/info on the issue, want to make sure I understand it correctly.

[2015-11-05 22:54] chrismccord commented on #1336
Sure, we need to expose the `code_change` callback from the Channel.Server to the user's channel. So we'll need to implement it on the Channel.Server, and proxy it to an inject `code_change` function on the user's channel. So `use Phoenix.Channel` will need to inject a default code_change callback that is overridable. Make sense?

[2015-11-05 23:04] stevedomin commented on #1336
Yes, I think so, I'll give it a try

[2015-11-06 01:09] #1336 closed

[2015-11-06 10:20] arathunku opened #1339 "Confusion about broadcast on the socket/channel."
Hi,

I had some confusion this morning about broadcasting because I wanted to send a event directly on the socket and I've read in the generated `user_socket.ex` about:

[code]

so I thought - awesome! I'll just change the disconnect to my event and it's going to work. I try to publish the event:

[code]

and I get nothing on the client, nor any message in the console but the output was `:ok` and

[2015-11-06 14:54] chrismccord commented on #1339
Broadcasting on the socket's topic is a special case where the transport subscribes to that id for forced disconnects. That message never makes it to the client. The rule is, if you need to communicate with the client, you do it over a channel on a topic. So "messaging a socket directly" isn't a concept in the channel layer. You have a conversation on channel managed by the socket transport. Also,

[2015-11-06 14:54] #1339 closed

[2015-11-06 18:14] chrislaskey commented on #1237
Thanks, cleaning out `_build` worked for me too. Appreciate it!

[2015-11-06 22:28] Diamond opened #1341 "Data inserted into Ecto repo during setup_all block is wiped out in every test"
Right now, the process of calling `Ecto.Adapters.SQL.restart_test_transaction(App.Repo, [])` (such as what is created by default in `test/support/model_case.ex` and `test/support/conn_case.ex`) wipes out any data, even if it was created as part of a `setup_all` block in the test. It does this whether a `setup` callback is defined or not. I've created an example of this at the following repo:

http

[2015-11-06 23:29] chrismccord commented on #1341
By default we run each test block in a transaction, so if you want setup_all behavior, you'll need to edit your `test/support/model_case.ex`, or set up special tags for each kind of transaction scenario you want. Let me know if that is not clear, but this isn't a bug so much as as default behavior that goes against what you're wanting. Luckily the model_case is a file that you own and can extend a

[2015-11-06 23:29] #1341 closed

[2015-11-07 04:11] joshuaclayton commented on #536
@chrismccord I just ran into a similar error with a dependency, specifically https://github.com/elixytics/ua_inspector:

[code]

Having configured based on their readme, is there anything else I could do to get this to work?

[2015-11-07 04:27] chrismccord commented on #536
@joshuaclayton what happens if you edit your `/deps/ua_inspector` repo and change this line
https://github.com/elixytics/ua_inspector/blob/master/mix.exs#L8
to `app:           :u_a_inspector`, then `mix deps.compile ua_inspector` ?

[2015-11-07 05:16] joshuaclayton commented on #536
@chrismccord appreciate the quick response! I've made the update but am seeing a new error:

[code]

I'm admittedly new to Elixir, but I'd also tried to update the deps `app` in `ROOT/mix.exs` to reflect the new name:

[code]

It didn't have any impact on the output, and I've confirmed that it's generating `u_a_inspector.app` in the appropriate directory.

Would it help if I create a new repo to r

[2015-11-07 09:33] ksol commented on #459
I tend to concur with @hamiltop. I was testing something very similar (reading & storing the entire body), and was trying to get it to support when `:more` is returned. Once the whole body has been read (ie `:ok` is returned), the subsequent call hangs for a few seconds then returns a timeout.

[2015-11-07 12:15] josevalim commented on #536
Phoenix does not impose any naming rules. If you are having conflicts like above, is because you are defining a module named "ABC" and calling it as "ABc" or something of sorts. As long as you are consistent, you should be fine.

Regarding ua_inspector, Mix does impose names for its tasks, which Elixir version are you using?

[2015-11-07 20:37] joshuaclayton commented on #536
@josevalim I'm on 1.1.1 for Elixir+Mix. I'm able to recreate on this repo: https://github.com/joshuaclayton/ua-inspector-phoenix-debug

[2015-11-09 07:40] fphilipe opened #1345 "Improve default Postgres config"
I was following the [Up and Running](http://www.phoenixframework.org/docs/up-and-running) guide and came across an error when I ran `mix ecto.create`:

    ** (Mix) The database for HelloPhoenix.Repo couldn't be created, reason given: psql: FATAL:  role "postgres" does not exist

So I looked up the generated *dev* config and saw this (similar for *test*):

[code]

I then removed the `username`, th

[2015-11-09 11:26] josevalim commented on #1345
Thank you. Sounds good to me!

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-09 15:23] chrismccord commented on #1345
:+1: . @stevedomin is grabbing this one.

[2015-11-10 12:03] dbulic opened #1347 "Decimal support"
Working with Postgres database, I use numeric fields all over the place. As I understand, decimal is not a native Elixir/Erlang type and it doesn't seem to support any basic arithmetic (tried + and -).
Here is a small example mode, where I want to set up a calculated field and had to resort to manual conversion of each decimal to float. I could probably create a Decimal module myself, but wanted t

[2015-11-10 12:12] josevalim commented on #1347
Why are you not using the functions in the `Decimal` module? Doing operations on float is usually a bad idea due to precision. Docs for decimal can be found here: http://hexdocs.pm/decimal

[2015-11-10 12:12] #1347 closed

[2015-11-10 12:43] dbulic commented on #1347
Couldn't find the docs (I have just started with Elixir and Phoenix) for decimal. Thanks.

[2015-11-10 12:48] dbulic commented on #1347
It's easy to use standard Decimal functions, but they are pretty unreadable for what is a very basic operation:
Decimal.sub(Decimal.sub(model.total_usd, model.discount_usd), model.tax_usd)

Is there a way to add standard infix notation to Decimal type?

[2015-11-10 12:59] dbulic commented on #1347
I understand Decimal is a package. What I am asking here is can infix operators be added to a package at all. Not sure if Elixir allows that. If so, I would appreciate pointers to docs, so I can add infix operators to Decimal package and issue a PR to @ericmj .

[2015-11-10 13:16] chrismccord commented on #1347
[code]

[2015-11-10 13:25] dbulic commented on #1347
Thanks @chrismccord - it certainly helps a lot.
I would really like to help to make Decimal feel more like a built-in type, but I don't know what can be done. Don't want to be a PITA here, just looking to help if I may (and make my own project simpler).

Here is another limitation:
[code]
What needs to be done to have:
[code]

Again, I volunteer to do the job - just want to be sure it can be done

[2015-11-10 14:15] josevalim commented on #1347
It is not an easy task at the moment. Things will hopefully get easier when Decimal gets merged into core. We can either go with your take:

    q = from o in Order, where: o.user_id == ^model.id, select: o.total_usd
    Repo.all(q) |> Enum.reduce(Decimal.new(0), &Decimal.add/2)

Or do the sum on Ecto:

    q = from o in Order, where: o.user_id == ^model.id, select: sum(o.total_usd)
    total = Re

[2015-11-10 14:24] dbulic commented on #1347
I believe both should be supported once Decimal is merged into core. People will need to work outside Ecto with decimal. In-query sums simplify working with queries as extra step is avoided (and it nicely maps to underlying SQL construct).

Thanks, will do my best to start contributing once I get more experience with Elixir.

[2015-11-11 02:03] tuvistavie commented on #1165
Hi,
I had the same issue with Atom linter, which also recompiles the project in the background.
I thought a simple workaround would be to tell the linter to touch the file after it is done,
so that when the next request comes, the reloader compiles the changes.
After giving it a shot, it seems that touching the file just after the project has been recompiled does not have any effect. I had to set

[2015-11-11 03:07] chrismccord commented on #1165
No. The explanation sounds like you are racing the code reloading detecting the changes, issues a new request, and recompiling the project.

[2015-11-11 03:12] tuvistavie commented on #1165
@chrismccord  Thanks for the quick reply, I am going to try to find a better workaround.

[2015-11-11 04:27] endeepak commented on #459
I added the code suggested above and facing same :timeout issue as @hamiltop & @ksol.  Stack trace

[code]
More context available on http://stackoverflow.com/questions/33637418/elixir-phoenix-on-heroku-timeout-error-after-15-seconds and https://github.com/ninenines/cowboy/issues/833#issuecomment-155656776

Source Code: https://github.com/endeepak/stub_on_web

[2015-11-11 04:33] chrismccord commented on #459
@endeepak To be clear, this only happens to you when you try to read/copy the request body, and does *not* happen if you use normal Plug.Parsers without the custom body copy?

[2015-11-11 04:51] endeepak commented on #459
@chrismccord  Yes. This issue started after adding code to copy request body. Other observations which might help

* This issue happens intermittently on my Heroku deployment. The request succeeded without issue twice in 10 attempts, specifically first 2 requests after switching network
* This issue does not happen (or hard to reproduce) when I run on local with same prod config

[2015-11-11 05:01] chrismccord commented on #459
The "workaround" for now would be to not copy the request body. What is your usecase for needing the raw body? Also, I'm not positive this is a real cowboy issue without digging into how plug itself chunks the body reads.

[2015-11-11 05:13] endeepak commented on #459
StubOnWeb is a stub http server which needs to record request and response for calls made to stubbed urls. Hence the workaround to not copy won't help. I'll dig into the code and try few stuff. Thanks for the help. If I find anything useful, I'll update here.

[2015-11-11 05:17] hamiltop commented on #459
My use case was signed requests from github webhooks. I needed the raw body
to verify the signature. I ended up not using Phoenix for that endpoint and
just built a normal plug that halts the connection.

On Tue, Nov 10, 2015 at 9:14 PM Deepak Narayana Rao <
notifications@github.com> wrote:

[2015-11-11 05:21] hunterboerner commented on #459
My use case is actually the same as @hamiltop's. GH Webhooks are a blast! /s

[2015-11-11 05:28] hamiltop commented on #459
@hunterboerner https://github.com/hamiltop/ashes/blob/master/lib/ashes/github_webhook_plug.ex might be a good reference for you then.

[2015-11-11 05:29] chrismccord commented on #459
Perhaps the simplest short-term solution would be to have a custom parser(s) that copies the body?

[code]

[2015-11-11 05:36] hunterboerner commented on #459
@chrismccord this was my temp fix: https://github.com/rabbit-ci/backend/blob/002b9b6daba0803aad4d4bba84c28b3827c4ba8b/apps/rabbitci_core/lib/rabbitci_core/json_parser.ex

[2015-11-11 06:55] endeepak commented on #459
Thanks @chrismccord, your solution works for now. I'll keep an eye on this thread for the proper fix.
Thanks @hunterboerner, I have changed JSON parser also on similar lines.

For reference, commit with this fix https://github.com/endeepak/stub_on_web/commit/47192558f501652edd8cd237a5a2430f38177ca4

[2015-11-11 18:39] ekkapob opened #1349 "Can't see homepage at localhost:4000"
I can't browse to homepage. I followed Phoenix Up & Running instructions with no errors so far. However, when I browse to the homepage port 4000, nothing show up, like no connection at all. I tried with different ports (ref: https://github.com/phoenixframework/phoenix/issues/962) but no luck.

`Chrome: This webpage is not available ERR_CONNECTION_REFUSED`
`Firefox: Unable to connect - Firefox can'

[2015-11-11 18:41] chrismccord commented on #1349
try `http://127.0.0.1:4000` and report back. Some users have have issues on localhost for one reason or another

[2015-11-11 18:41] #1349 closed

[2015-11-11 18:42] ekkapob commented on #1349
120.0.0.1 works. Thanks @chrismccord for the lighting response.

[2015-11-11 18:44] chrismccord commented on #1349
Awesome. I don't see how this is on our end, and I can't recreate locally so for now loopback address is a usable workaround. Hop on elixir-lang irc if you have any issues

[2015-11-11 19:29] mneudert commented on #536
@joshuaclayton To chime in on the problem regarding UAInspector:

The problem you encountered was created initially after Elixir 1.0.2 (elixir-lang/elixir#2891 I think) changed the way of resolving task names with underscores. However my hack around this was too hacky and depended on (case sensitive!) two beam files:

- Mix.Tasks.UAInspector.Download
- Mix.Tasks.UaInspector.Download

This worked p

[2015-11-12 08:52] josevalim commented on #459
Yes, you cannot read the body before because Plug.Parsers will try to read it and timeout as the client has nothing else to send. :+1: for @hunterboerner's solution!

[2015-11-12 22:48] shalakhin opened #1351 "i18n support"
Hey there!

Is there any i18n support for phoenix? What do you suggest to use with phoenix to have i18n? It seems `linguist` should be used?

[2015-11-12 22:49] #1351 closed

[2015-11-12 22:50] chrismccord commented on #1351
gettext is what you want to use, and you can integrate it today very easily (https://github.com/elixir-lang/gettext/). We are going to include it as a default in 1.1

[2015-11-12 22:50] scrogson commented on #1351
We are planning on adding i18n support via gettext.
On Thu, Nov 12, 2015 at 16:48 Olexandr Shalakhin <notifications@github.com>
wrote:

[2015-11-15 10:01] endeepak commented on #459
For long term fix, it would be good if there is a solution that doesn't involve duplicating parsers code. As a elixir noob, I can think of couple approaches to achieve this

1. A config for `Plug.Conn` to retain raw body, so that subsequent `read_body` can return body. Since it is optional it would not lead to memory issue concern raised in https://github.com/elixir-lang/plug/pull/308
OR
2. An opt

[2015-11-16 23:15] #1257 closed

[2015-11-16 23:16] josevalim commented on #1333
I am closing this because --no-compile is not going to work when the task belongs to a dependency. Thank you!

[2015-11-16 23:16] #1333 closed

[2015-11-16 23:27] #1328 closed

[2015-11-16 23:27] #1329 closed

[2015-11-17 00:03] DavidStrada opened #1355 "iex -S mix phoenix.server returns an ERROR. :bug"
When I fired the command `iex -S mix phoenix.server` i'm using your guide up and run ( http://www.phoenixframework.org/docs/up-and-running )[up and run] I got the following stack trace ( i believe this is an stack trace ), anyhow he's the info :

[code]

[2015-11-17 00:07] chrismccord commented on #1355
Your port is in use, but you should have received a printed error before the stack that told you so. Try a different port

[2015-11-17 00:09] chrismccord commented on #1355
I just verified, you should have seen this logged:

    [error] Running Chat.Endpoint with Cowboy on http://localhost:4000 failed, port already in use

Can you try again and report back on whether or not you see that error logged?

[2015-11-17 00:17] DavidStrada commented on #1355
I'm quite new to elixir/phoenix how should i pass a port flag ? checked iex --help but couldn't find any.

[2015-11-17 00:20] chrismccord commented on #1355
The default port is 4000, and it's set in `config/dev.exs` (or test.exs/prod.exs), but `iex` by default will use dev. So bump the port int your endpoint config in dev.exs and you should be all set. If you want to make it dynamic, you can use a PORT env var (like in prod.exs), i.e.:

    http: [port: System.get_env("PORT") || 4000]

then `PORT=4001 iex -S mix phoenix.server`

[2015-11-17 00:26] DavidStrada commented on #1355
When i used `port=4001` **it worked!,** however using the dynamic port. `http: [port: {:system, "PORT"}],`

[code]

[2015-11-17 00:27] chrismccord commented on #1355
Perfect! It reports the error as expected: `[error] Server can't start because :port in config is nil, please use a valid port number`. Hop on elixir-lang irc if you have questions and welcome aboard!

[2015-11-17 00:27] #1355 closed

[2015-11-17 00:28] DavidStrada commented on #1355
Thanks :+1:

[2015-11-18 02:27] chrismccord opened #1358 "Consider killing `@inner` in favor of regular render"
For 1.1, we should consider killing `@inner` as it's not needed. If we expose `template_name` or similar, we can do this in the layout:

    <%= render view_module(@conn), template_name(@conn), assigns %>

This would change the render order, which shouldn't matter, and it would remove one unclear aspect of layouts (the `@inner` assign). Thoughts?

[2015-11-18 06:28] josevalim commented on #1358
Sounds good!

On Wednesday, November 18, 2015, Chris McCord <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-18 07:33] walkr opened #1359 "Phoenix Socket check origin error message too vague"
I have a Phoenix App, deployed behind a nginx proxy.
When trying to connect using web sockets over HTTPS I get the following error:

[code]
Here's my corresponding nginx configuration:

[code]

Also:
* The connection is attempted from a HTML5 mobile app.
* I did set the host in `prod.exs`

I believe the error message above is way to vague, and a more informative message could potentially be more h

[2015-11-18 08:38] Gazler commented on #1358
:+1: The `@inner' variable has always felt a little weird. It's not like `render` which you can look up in the docs.

[2015-11-18 08:52] josevalim commented on #1359
We already have a better error message in master. I am on my phone, so I
can't provide a link, but search for the "check_origin" function in this
code base. It will show you the warning and explain exactly how to fix it.

On Wednesday, November 18, 2015, Tony Walker <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-18 13:48] chrismccord commented on #1359
The new message is here. https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/socket/transport.ex#L330-L347

If your clients are connecting from a different host than being served by your endpoint, you need to explicitly list the hosts in your `check_origin` configuration in `prod.exs`, for example `check_origin: ["host1.com", "host2.com"]`

[2015-11-18 13:53] stevedomin commented on #1358
:+1:

@chrismccord: keen to tackle that one if you're not on it already :)

[2015-11-18 13:54] chrismccord commented on #1358
Thanks @stevedomin , but I'm on it :)

[2015-11-18 14:08] bryansray commented on #1358
:thumbsup:

Would it be possible to add a more terse method? Unfortunately, I don't know enough about the language or framework to say ... but

    <%= render view_module(@conn), template_name(@conn), assigns %>

feels a bit long-winded.

[2015-11-18 14:22] chrismccord commented on #1358
If it helps, this line would be generated for you in new projects in the default layout, but I am :-1: on a more terse function, exactly because it shows that there's nothing special going on. Templates are functions, and we can render other templates by calling functions on other view modules. So the slightly expanded form is preferable.

[2015-11-18 14:30] bryansray commented on #1358
I see your point, but are you not sacrificing readability of the code?

As a new-comer to a framework, typically layouts should feel like childs play. You can see this in a lot of frameworks: rails, MVC.NET, express, are ones that I have experience with, but ... when I come to phoenix and suddenly have to decipher:

  <%= render view_module(@conn), template_name(@conn), assigns %>

just to render

[2015-11-18 14:33] bryansray commented on #1358
Posting this again, because I don't think emails come through after edits.

Again, let me ask this question: is it possible that I could provide my own function to simplify that at all? It doesn't necessary have to be provided by the framework (although, i think it would be a good idea).

[2015-11-18 14:36] chrismccord commented on #1358
The takeaway for me is we have to compare what we have now:

    <%= @inner %>

vs

    <%= render view_module(@conn), template_name(@conn), assigns %>

The former is magically available. The latter users three functions, all of which are documented and can be looked up.

Of course! It's functions all the way down :)

[code]

[2015-11-18 15:10] bryansray commented on #1358
:+1:

Awesome. Thanks, @chrismccord!

[2015-11-19 15:39] josevalim opened #1361 "Integrate with brunch 2.0"
In particular, we need to check if they respect the behaviour where they listen to stdin, so when we close Phoenix, brunch automatically shuts down. We also need to check if the generated JS and config works as expected:

https://github.com/brunch/brunch/blob/master/CHANGELOG.md

[2015-11-19 17:04] #1359 closed

[2015-11-20 01:48] paulmillr commented on #1361
As always — let's solve any Brunch-related issues that may appear together!

[2015-11-20 11:06] bcardarella opened #1362 "Updating Phoenix"
Is there a way to re-generate some of the application template files if we're upgrading a Phoenix app? I'm currently comparing the source code and updating line by line but it would be nicer to use the generator

[2015-11-20 11:38] bcardarella commented on #1362
I missed the upgrade guide, closing!

[2015-11-20 11:38] #1362 closed

[2015-11-20 18:52] stevedomin commented on #1361
Are you happy for me to take this @josevalim?

[2015-11-20 18:54] chrismccord commented on #1361
@paulmillr definitely! What new features are brewing? Also, how is npm support coming? I know lack of npm support has been a pain point for a lot of our users. With bower on the out, landing stable npm integration would be super nice.

[2015-11-20 18:54] josevalim commented on #1361
Please do. :D

[2015-11-20 19:54] paulcsmith commented on #1358
Not sure if this should be a separate issue or not, but the `assigns` part of this was pretty confusing to me. Where does the `assigns` function come from? I don't see anything in the docs and I don't have any ideas how it works. Maybe that could be changed at the same time so that it's a bit more clear?

Would this work?

`<%= render view_module(@conn), template_name(@conn), @conn.assigns %>`? If

[2015-11-20 19:55] paulmillr commented on #1361
@chrismccord NPM is the next big step for 2.1. Definitely a super-huge priority. I was dissapointed that bower "didn't make it". :crying_cat_face:

[2015-11-20 19:59] Gazler commented on #1358
There was a discussion on IRC about using @conn. I am on my phone, but here
is the link.

https://botbot.me/freenode/elixir-lang/2015-11-18/?msg=54438350&page=15
On 20 Nov 2015 19:54, "Paul Smith" <notifications@github.com> wrote:

[2015-11-20 20:02] chrismccord commented on #1358
@paulcsmith `assigns` comes directly from EEx (http://elixir-lang.org/docs/v1.0/eex/)

`@conn.assigns` should *not* be used, because it couples your template to the connection. We already merge all conn.assigns into the EEx assigns for you, so adding the `@conn.assigns` gains you nothing but coupling. I do think we could cover `assigns` better in the view/template docs somewhere. PR?

[2015-11-20 20:07] paulcsmith commented on #1358
@chrismccord I'm pretty swamped, but I can open a PR when I have some free time for sure! Thanks for explaining everything. I think merging in the assigns automatically is a bit too magical, but I see your point about not wanting to couple things too tightly. Maybe we can think of a better solution later. For now I'll focus on improving the docs when I have some more time!

[2015-11-20 20:09] chrismccord commented on #1358
I'll wait on the PR, but I remain convinced the current solution is best. Thanks!

[2015-11-21 11:53] aweis opened #1366 "changes to router.ex not reflected after refresh. Server restart necessary"
Steps to reproduce:

Start with the hello_phoenix application
Start server: mix phoenix.server
Go to localhost:4000, confirm it is working
Add the following to the scope
get "/here", PageController, :index
go to http://localhost:4000/here
Get: no route found for GET

restart server, route now works

versions:

Phoenix v1.0.3 installed from here: mix archive.install https://github.com/phoenixframew

[2015-11-21 12:15] sevenseacat commented on #1366
never had a problem with this myself.

[2015-11-21 14:03] bossyang opened #1367 "mix ecto.migrate failed with CompileError"
I followed the blog http://maxwellholder.com/blog/build-a-blog-with-phoenix-and-ember.

Erlang/OTP 18 [erts-7.1] [source] [64-bit] [smp:2:2] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
Elixir 1.1.1
OSX Mavericks
[code]
~/workspace/peep_blog/peep_blog_backend > mix ecto.migrate
Compiled web/models/post.ex
Compiled web/views/changeset_view.ex

== Compilation error on file web/controllers/

[2015-11-21 14:19] chrismccord commented on #1367
I think you missed the directions in the above output :)

"Add the resource to your api scope in web/router.ex:

    resources "/posts", PostController, except: [:new, :edit]"

[2015-11-21 14:19] #1367 closed

[2015-11-21 14:29] bossyang commented on #1367
@chrismccord  Thanks!

[2015-11-21 14:51] chrismccord commented on #1366
Can you rule out your editor doing some syntax checking in the background and causing the code reloading to not reload the file (since it was already recompiled). Use a plain old text editor to try it out. I know there is a vim plugin that causes issues with the code reloader.

[2015-11-21 18:01] stevedomin commented on #1361
Fixed by https://github.com/phoenixframework/phoenix/pull/1365 (forgot to mention the issue in the PR)

[2015-11-21 18:35] #1361 closed

[2015-11-21 21:33] aweis commented on #1366
Hi @chrismccord.  Good call, it did work when I was using a text editor other than vim.  Do you know which vim plugin you were referring to so I can see if I can disable it?

[2015-11-21 21:33] #1366 closed

[2015-11-21 21:37] aweis commented on #1366
I found this issue: https://github.com/phoenixframework/phoenix/issues/1165, which I think is exactly the same as what I am seeing.

[2015-11-22 14:06] chrismccord commented on #1358
Closed via https://github.com/phoenixframework/phoenix/commit/3f5062872cfe8f606e180edc5295b50693692b06

[2015-11-22 14:06] #1358 closed

[2015-11-22 21:36] tjsousa commented on #459
I'm also dealing with this need, as I wanted to have a Phoenix app acting a reverse proxy for some endpoints. In these cases, it would be nice to pass the raw body transparently to an upstream server.

I tend to prefer @endeepak's option 2 as this seem like a parser concern, not plug connection's.

[2015-11-23 04:40] davidbegin opened #1369 "Error around generating new apps, assign @view_module not available in eex template"
This is only my 1st day looking at Phoenix, and 2nd day for Elixir, so
I know how barely anything works, and I could missing something obvious,
but to me, it looks like this commit introduced a bug around generating a new Phoenix application:
https://github.com/phoenixframework/phoenix/commit/1ec8f3bce5d3caec1dddac6590e99ab506c6d998

I made a repo of the steps I used to determine what commit cause

[2015-11-23 07:20] davidbegin commented on #1369
Yep this is user error.

I generated a new Phoenix application on master, but I had my Phoenix in my mix.exs pointing to 1.0.3.
This was all I needed for a fix https://github.com/davidbegin/phoenix-new-app-bug/commit/7f7e1219a587704e33bd3b06edad256af2b8f771

So this can be closed, but there is a chance that other brand new people might hit this problem.
And I am not sure what is the best way to ma

[2015-11-23 11:00] josevalim commented on #1369
This is a bug I think, we need to update Phoenix generators to depend on Phoenix master as well for now if it does not yet.

[2015-11-23 11:51] chrismccord commented on #1369
If you use Phoenix 1.0.3 from hex, this won't be an issue. master is our unstable, unreleased branch. I'll update the generators to point to master just in case folks are on edge, but if you're just getting started, it's best to be on stable. Thanks!

[2015-11-23 11:51] #1369 closed

[2015-11-25 17:51] vanloc0301 opened #1373 "Cannot written file javascript in project."
I was build phoenix app and start with command:
mix phoenix.server
It show error like this:
[info] Running ElmPhoenixApp.Endpoint with Cowboy on http://localhost:4000
26 Nov 00:45:26 - warn: 'web\static\css\app.css' compiled, but not written. Check your stylesheets.joinTo config.
26 Nov 00:45:26 - warn: 'web\static\js\app.js' compiled, but not written. Check your javascripts.joinTo config.
26 Nov

[2015-11-25 18:01] chrismccord commented on #1373
Sounds like a permissions issue? Can you try running `brunch watch` on the console by itself and report back?

[2015-11-25 18:17] vanloc0301 commented on #1373
Error like this:
![capture](https://cloud.githubusercontent.com/assets/4168981/11405532/f00291d0-93da-11e5-85e7-0ec4fd475fbc.PNG)
I was searching on the internet, explain because *.js using ES6.
I running Phoenix v1.0.0, Erlang 18.0 and Elixir 1.1.0 in windows 7.
Thanks.

[2015-11-25 18:24] stevedomin commented on #1373
@vanloc0301 can you upload the content of your `brunch-config.js` somewhere?

[2015-11-25 18:33] vanloc0301 commented on #1373
@stevedomin , my brunch-config.js here

http://pastebin.com/FR9A6Csj

[2015-11-25 20:43] tdeschryver commented on #1373
I believe you have to add your stylesheets path.

I updated the config - http://pastebin.com/m8ZLJqk0

Added:
`
stylesheets: {
      joinTo: "css/app.css"
    }
`

[2015-11-25 22:58] stevedomin commented on #1373
@vanloc0301 if the css issue is still there after you updated your `brunch-config` with @tdeschryver's one then I'd say like Chris, it's probably a permission issue.

[2015-11-26 02:39] vanloc0301 commented on #1373
@tdeschryver @stevedomin , sorry, I was provider brunch-config of root/phoenix.
I posted brunch-config in my project add here.

http://pastebin.com/rM2d5AGL
This file was added:
` stylesheets: { joinTo: "css/app.css" } `
like default when I create new app.

[2015-11-27 10:40] Thomas101 opened #1376 "phoenix.js - reason is not defined"
Hey,

Found the variable `reason` that has been referenced in [phoenix.js on line 235](https://github.com/phoenixframework/phoenix/blob/master/web/static/js/phoenix.js#L235) but it has not been defined. Causes it break on timeout

[code]

Can I suggest changing it to be one of
[code]

Thanks
Tom

[2015-11-27 13:07] stevedomin commented on #1373
@vanloc0301 is it working for you now?

[2015-11-27 16:55] #1376 closed

[2015-11-27 16:55] chrismccord commented on #1376
Fixed. Thanks!

[2015-11-28 10:39] vanloc0301 commented on #1373
![capture](https://cloud.githubusercontent.com/assets/4168981/11451372/e173a60e-95f6-11e5-9557-9a15ade59e55.PNG)
No, I can't solved this problem.

[2015-11-30 10:22] ericmj opened #1381 "Compile project on phoenix.new"
Otherwise tasks are not immediately available in `mix help`.

[2015-11-30 10:59] josevalim commented on #1381
Nah, I don't want to do that because people may configure a couple things or add dependencies straight-away. Also I don't want to make phoenix.new even longer. This is the cost we will have to pay.

[2015-11-30 11:00] ericmj commented on #1381
Okay, makes sense.

[2015-11-30 11:00] #1381 closed

[2015-11-30 12:39] sashaafm opened #1382 "Running rel/app/bin/app console crashes"
I've been trying to deploy my app for testing and showing in AWS and I've been following the guide at the Phoenix's website, but I keep getting this error when I get to that point of trying if it works in the environment. I'm using AWS Ubuntu's 14.04 image.

Root: /home/ubuntu/app/rel/app
/home/ubuntu/app/rel/app
Erlang/OTP 18 [erts-7.1] [source] [64-bit] [async-threads:10] [kernel-poll:false]

{"

[2015-11-30 12:53] josevalim commented on #1382
It seems you are running or building the release in the development environment, as it is trying to access the LiveReloader which is not available in production.

[2015-11-30 14:15] #1382 closed

[2015-11-30 14:16] chrismccord commented on #1382
Please direct support requests to the phoenix-talk mailing list. José's advice would be the first area to investigate since LiveReloader should be be trying to be accessed in a prod release. elixir-lang irc is also a great place for help. Thanks!

[2015-11-30 16:40] josevalim commented on #1321
Ok, so it is not a blank project but rather something happening in your code. You need to increase the timeout value on your code on whatever you are doing inside your repository after_connect callback.

[2015-11-30 16:40] #1321 closed

[2015-11-30 16:44] josevalim commented on #1253
@chrismccord this would be nice to get into the new release, let me work on it quickly.

[2015-11-30 17:00] josevalim commented on #1253
Done, @chrismccord please backport to 1.0.4 before the release.

[2015-11-30 17:04] josevalim commented on #1253
Please also include follow up commit: b9c4ed4

[2015-11-30 20:13] chrismccord commented on #1253
Done <3 <3 <3

[2015-11-30 20:13] #1253 closed

[2015-12-01 15:19] VladShcherbin opened #1383 "Create npm package for phoenix client js file"
More and more people are using Phoenix + client js library (like React).

We need to have an official npm package with at least client file, clear semver in this file and a tag. Currently, there are some packages, but none on them are updated. Copy-paste is not an option.

[2015-12-01 15:21] chrismccord commented on #1383
Please see the other discussions on the issues history. There is work going on in this area, but no hard extraction date. Thanks!

[2015-12-01 15:21] #1383 closed

[2015-12-01 15:21] josevalim commented on #1383
There is a discussion about this with some conclusions. The Phoenix team is not going to maintain the package in multiple repositories, we are relying on the community to do that. This would be equivalent for me being responsible to update Elixir on homebrew, macport, fedora, debian, etc. So please ping the package owners to update it accordingly.  :)

[2015-12-01 15:32] jerel commented on #1383
@VladShcherbin I've been working on a package [over here](https://github.com/jerel/phoenix_js) if you want to see if it fits your needs. #1376 and #1295 are the only things not backported yet that I know of.

[2015-12-01 15:37] VladShcherbin commented on #1383
@josevalim , @jerel I really don't get it.

Why can't there be an official phoenix js npm repository, from which brunch will take this file? What is the point of having compiled file and then split it in a separate community repository?

It should work the opposite way, no?

[2015-12-01 15:37] bigardone commented on #1165
Hi @tuvistavie ! Have you finally found a better workaround? I'm experiencing just the same issue with Atom.io and linter-elixirc  :(
Thanks in advance!

[2015-12-01 15:46] josevalim commented on #1383
@VladShcherbin this is a source code repository. How the source code and compiled artifacts are packaged can happen in N different ways. Since the JavaScript environment is fragmented and brunch.io still does not support npm packages, we decided we are not going to responsible for publishing the source code to N different places. We already have enough on our plate, we hope the community can take

[2015-12-01 15:52] VladShcherbin commented on #1383
@josevalim oh, I didn't know brunch doesn't support npm packages, now I understand.

The reason why I am asking - we are promoting Phoenix in js community, I've already been asked like 5 times, how can this client file be used from npm (we use webpack). I also saw this question in chat.

[2015-12-01 15:55] josevalim commented on #1383
@VladShcherbin I see and I understand the concern. :) My perspective is a bit different in the sense, not being from the JS community, there are just too many ways to distribute packages so it is really hard for me to pick one. That's why it is easier for us to ask people to publish it to whatever they think it is best.

[2015-12-01 16:04] VladShcherbin commented on #1383
@josevalim oh, we have similar problem in Meteor. The build system doesn't have an easy npm support and has its own package system. So, we need to clone npm package, push to this package system and watch for changes. If author does not update version, new clones are created..

Thank you for explanation ;)

[2015-12-01 21:27] josevalim opened #1385 "Bump Phoenix.Ecto dependency"
The new version should:

* depend on Ecto 1.1
* deprecate json encoding of changesets
* use the new traverse_errors functionality in views
* use Ecto.Schema instead of Ecto.Model

[2015-12-01 23:03] stevedomin commented on #1385
@josevalim can I take this one?

[2015-12-01 23:07] josevalim commented on #1385
@stevedomin please don't because this is mostly a reminder. Those tasks are spread across multiple projects and @chrismccord and I are already working on it. Sorry and thanks!

[2015-12-01 23:31] stevedomin commented on #1385
No worries :)

[2015-12-02 02:21] vanloc0301 commented on #1373
I was reinstall windows.

But I also meet error like this.
I create with `mix phoenix.create path/path1`. And I don't write any line code

[2015-12-02 02:24] chrismccord commented on #1373
Please update to the latest version of phoenix (1.0.4)

    mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v1.0.4/phoenix_new-1.0.4.ez

Then generate a new application and report back. Thanks!

[2015-12-02 05:31] vanloc0301 commented on #1373
I was update phoenix to latest version.
I don't know why only me meet this case.

1. I install node.js v5.1.0, mingw, elixir 1.1.0, erlang 18.1, postgres 9.4.5 beta1.
2. Clone phoenix repositories and `cd install`. Execute command:
`mix phoenix.new example_project`

`mix phoenix.server` - complie source and open: `localhost:4000`
I was update with your command.
`mix archive.install https://github.

[2015-12-02 12:27] tuvistavie commented on #1165
Hi @bigardone, I am still using my [clumsy timestamp hack](https://github.com/AtomLinter/linter-elixirc/issues/19), it's not perfect but still much better than working without linter or without code reload for me.

[2015-12-02 14:19] bigardone commented on #1165
@tuvistavie thanks for the response. I've found that checking the 'Always use elixirc' option in the **linter-elixirc** package settings makes it works like a charm.

![atom - settings](https://cloud.githubusercontent.com/assets/1090272/11533068/199668aa-9908-11e5-8d15-4811a75eec0d.png)

[2015-12-03 00:27] tuvistavie commented on #1165
@bigardone This works great, thanks!

[2015-12-03 04:27] tispratik commented on #864
Any suggestions on the sass helper? I am running into the same issue wherein i cannot use
constructs like `background-image: url("<%= static_path(@conn, "/images/background.png") %>");` in the app.scss file.

[2015-12-03 04:30] leiyangyou commented on #864
looks like on phoenix on master replaces url in compiled css file on digest

On 3 December 2015 at 12:27, Pratik Khadloya <notifications@github.com>
wrote:

[2015-12-03 18:56] hansihe opened #1386 "Expose check for webserver running"
When running the ecto.setup task, the database is automatically seeded by running seeds.exs. When doing this, the full supervisor tree of the application will be started. Some processes in the supervisor tree may want to fetch data from the database, which causes problems when the database is not yet seeded. By checking if the webserver is running, you can conditionally start services that require

[2015-12-03 19:02] josevalim commented on #1386
Correction: we will always start the app. I suggest for us to provide a flag that allows you to choose if the app the given service should be started or not. :)

[2015-12-03 21:15] #1386 closed

[2015-12-03 22:00] josevalim commented on #1386
We should not need to pass the conf. It breaks the purpose of the function
for third party developers. I think the function we have defined is going
to have a different implementation than the you one extracted.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-12-03 22:02] chrismccord commented on #1386
I added it so we could share the logic with Adapter. Let's sync on irc these evening or tomorrow

[2015-12-04 10:12] mspanc commented on #990
I've made this, finally: https://www.npmjs.com/package/phoenix-socket

Added @daytonn as a package co-owner.

[2015-12-05 07:42] Immortalin opened #1389 "Authentication module"
It would be great if phoenix could have a built-in authentication module a la [devise](https://github.com/plataformatec/devise).

[2015-12-05 07:46] Immortalin commented on #1326
@josevalim when will the be released?

[2015-12-05 07:53] ericmj commented on #1326
@Immortalin Yes.

[2015-12-05 09:42] josevalim commented on #1389
@Immortalin please use the mailing list for feature discussions or requests. We reserve the issues tracker for issues only.

[2015-12-05 09:42] #1389 closed

[2015-12-05 19:54] nacengineer commented on #1326
FWIW all you have to do to run from master is change the source of phoenix  in mix.exs

[code]

becomes
[code]
not you may have mix dependency errors use mix help deps or add override: true if you're feeling lucky

[code]

then run

[code]

[2015-12-05 20:51] rpkittle opened #1391 "Vagrant - Mix Phoenix.New Fails"
Trying to create a Phoenix App in Vagrant ubuntu/trusty64.

Any ideas? What additional info can I provide to help troubleshoot the cause?

I have used this resource as a reference:
http://www.phoenixframework.org/docs/installation

[code]

[2015-12-05 21:41] josevalim commented on #1391
Please include Erlang and Elixir version, include the Phoenix one. You can get those by running `iex` (the first two lines) and `mix phoenix.new --version`.

[2015-12-05 21:48] rpkittle commented on #1391
Below are the versions!

[code]

[2015-12-05 21:51] josevalim commented on #1391
Thank you. Can you please start `iex` in the same directory as you tried to run the command and let me know what this returns:

[code]

[2015-12-05 21:55] josevalim commented on #1391
Nevermind. I found the bug. :)

Running `Path.expand(Path.join ["test_app", "..", ".."])` from `/` causes elixir to fail. Ported this report to elixir here: https://github.com/elixir-lang/elixir/issues/4050. Please just try to create the project inside a nested directory for now (like /bar/baz). Sorry for the inconvenience, a temporary fix has also been pushed to Phoenix.

[2015-12-05 21:55] #1391 closed

[2015-12-05 22:09] rpkittle commented on #1391
Thank you for the diligence!

[2015-12-07 13:03] ericmj opened #1393 "Exceptions implementing Plug.Exception should only be logged on 500 status"
Also see: https://github.com/elixir-lang/plug/issues/323

[2015-12-08 02:24] Immortalin commented on #1326
@nacengineer thanks!

[2015-12-08 02:37] edyu opened #1395 "mix test seems to hang on inet_gethost"
On mac os x El Capitan (10.11.1):
1. I used brew to install elixir 1.1.1 and then installed the latest v1.0.4 phoenix today.
2. create any new application using "mix phoenix.new new_app --database mysql"
3. mix ecto.create
4 mix test (hangs forever)
From the Terminal app, I can see that the test is hang on the process inet_gethost

[2015-12-08 02:39] chrismccord commented on #1395
Is it waiting on mysql? Is your mysql database up and running?

[2015-12-08 02:40] chrismccord commented on #1395
aldo see if `mix test --trace` provides any useful output for us

[2015-12-08 04:30] edyu commented on #1395
The mysql database is up and running. Otherwise, mix ecto.create would've failed.
mix test --trace just hangs. Let me delete the folder and recreate it to see if mix test --trace does anything in that case.

[2015-12-08 04:34] edyu commented on #1395
FYI mix phoenix.server works ok

[2015-12-08 04:36] edyu commented on #1395
Just hangs
https://gist.github.com/edyu/638df4867e7866d7c97d

[2015-12-08 04:38] edyu commented on #1395
beam.smp -- -root /usr/local/Cellar/erlang/18.1/lib/erlang -progname erl -- -home ~ -- -pa /usr/local/Cellar/elixir/1.1.1/bin/../lib/eex/ebin /usr/local/Cellar/elixir/1.1.1/bin/../lib/elixir/ebin /usr/local/Cellar/elixir/1.1.1/bin/../lib/ex_unit/ebin /usr/local/Cellar/elixir/1.1.1/bin/../lib/iex/ebin /usr/local/Cellar/elixir/1.1.1/bin/../lib/logger/ebin /usr/local/Cellar/elixir/1.1.1/bin/../lib/mi

[2015-12-08 04:39] edyu commented on #1395
inet_gethost 4	16,211
inet_gethost 4	16,212

[2015-12-08 04:39] edyu commented on #1395
Those are from the Inspector on Terminal tab showing the running processes.

[2015-12-08 08:12] manukall opened #1396 "improve generated path helpers for glob routes"
For routes like `get "/app*jsroute", AppController, :index` the path helper has to be called with a list as argument: `app_path(@conn, :index, ["appsomething"])`. This is not very intuitive. As @chrismccord adviced on slack, I'm creating this ticket to discuss this.

[2015-12-08 11:00] josevalim commented on #1396
@manukall yes, it expects the path segments. We could allow the whole path to be given but folks need to be keep in mind we won't be able to escape it. For example, if you write: "/users/:username" and pass a username of "foo/bar", we will escape "/". We do the same for "*jsroute" but only because you are giving a list. If we support strings, it would be appended as is.

[2015-12-08 18:59] edyu commented on #1395
Not sure whether this is helpful. When I kill the process I get the following:
10:54:48.821 [error] GenServer NewApp.Repo.Pool terminating
** (stop) killed
** (exit) exited in: GenServer.call(#PID<0.2011.0>, {:query, "SELECT s0.`version` FROM `schema_migrations` AS s0", [], [timeout: :infinity, log: false]}, :infinity)
    ** (EXIT) killed
    (elixir) lib/gen_server.ex:544: GenServer.call/3
    (

[2015-12-08 19:02] josevalim commented on #1395
It does seem it just can't connect to MySQL.

[2015-12-08 19:04] edyu commented on #1395
@josevalim  mix ecto.create passes though which creates the tables with the same credentials. Why would test not be able to connect? Is there a way to test it? I can manually connect to mysql on the terminal.

[2015-12-08 19:08] edyu commented on #1395
Process Information

--------------------------------------------------
=proc:<0.274.0>
State: Waiting
Name: inet_gethost_native
Spawned as: inet_gethost_native:server_init/2
Spawned by: <0.273.0>
Started: Tue Dec  8 11:07:37 2015
Message queue length: 0
Number of heap fragments: 0
Heap fragment data: 0
Link list: [#Port<0.9055>, <0.273.0>]
Dictionary: [{rid,1},{num_requests,0}]
Reductions: 83
Sta

[2015-12-08 19:17] josevalim commented on #1395
@edyu `ecto.create` uses the mysql command line to create the database which may bypass or work differently than the TCP authentication which Ecto surely uses.

[2015-12-08 19:21] edyu commented on #1395
I can confirm that postgres version of "mix test" works. I did need to create the super user 'postgres' for the database first. Let me see if I need to do the same for mysql.

[2015-12-08 19:37] edyu commented on #1395
So I can see that mix ecto.create will create the database new_app_dev.
mix test will create the database new_app_test and also the table schema_migrations. The table is empty.

I'm stuck at this point. It looks like an ecto bug as http://www.phoenixframework.org/docs/using-mysql makes it look like as long as you put --database mysql things would just work but it doesn't seem that way for mysql.

[2015-12-08 19:45] josevalim commented on #1395
It does work on my machine. If it doesn't work in yours I would bet it is something related to the configuration. Maybe the host, port, username, pass does not work. You can try by passing this information explicitly to mysql and see how it goes.

[2015-12-08 19:57] edyu commented on #1395
@josevalim ok thanks. Do you have any particular command that you want me to pass to mysql? I'm using the default configuration of 'root' user with no password as is in the ecto config file because I haven't changed anything. I'm doing this on a mac with the lasted version of everything. Thanks.

[2015-12-08 20:02] josevalim commented on #1395
I am not sure.  Run `mysql --help` and try out the options there, trying to pass all parameters that you have specified in your `config/dev.exs` file. Here is how we call mysql, just in case: https://github.com/elixir-lang/ecto/blob/master/lib/ecto/adapters/mysql.ex#L151-L152

[2015-12-08 20:05] edyu commented on #1395
use Mix.Config

# We don't run a server during test. If one is required,
# you can enable the server option below.
config :msql_app, MsqlApp.Endpoint,
  http: [port: 4001],
  server: false

# Print only warnings and errors during test
config :logger, level: :info

# Configure your database
config :msql_app, MsqlApp.Repo,
  adapter: Ecto.Adapters.MySQL,
  username: "root",
  password: "",
  databas

[2015-12-08 20:07] edyu commented on #1395
Well, I tried on the command line and the command works on command-line. I don't think it's configuration problem unless there is something special about homebrew version of mysql.

[2015-12-08 20:12] edyu commented on #1395
Looking at the source code, I'm not seeing the code passing in "-D <database_name>" anywhere. Unless the code always prefix "use <database_name>;" before every SQL command, I don't see how it would work.

[2015-12-08 20:17] edyu commented on #1395
@josevalim what version of mysql are you using? I'm using 5.7.9 (the latest from homebrew).

[2015-12-08 21:58] ericmj commented on #1395
5.7.9 seems to have some issues with the mysql driver: https://github.com/xerions/mariaex/issues/83

[2015-12-09 00:01] liveforeverx commented on #1395
I've released 0.6.1 now. It is has support now for MySQL 5.7.

[2015-12-09 00:05] chrismccord commented on #1395
@edyu please jump on mariax 0.6.1 and report back. I don't think there's an issue to clear up on the phoenix side, so if you still have issues, we should follow up on the meriaex repo or Ecto side. Thanks!

[2015-12-09 00:05] #1395 closed

[2015-12-09 00:33] edyu commented on #1395
@chrismccord how do I deal with the dependency hell? Pretty much every dependency is somewhat "out of date" in that mariaex 0.4.3 is pulled down (not even 0.5.x). How do I update mariaex to 0.6.1? I guess there is an easy way but I don't know how. Thank you.

[2015-12-09 00:39] edyu opened #1397 "Please update the mariaex dependency to 0.6.1 to work with mysql 5.7.9"
The default homebrew version of mysql is 5.7.9 which mariaex 0.6.1 would work but phoenix needs to update the dependencies in order for 0.6.1 to be pulled down as part of mix deps.get.
The phoenix-ecto may need to update to use the newer version of mariaex.

[2015-12-09 00:39] liveforeverx commented on #1395
@edyu : Add to toplevel application: `{:mariaex, "~> 0.6.1", override: true}`

[2015-12-09 00:44] edyu commented on #1395
@liveforeverx woot, that worked. Thank you. I'll update the other bug as well with your comment. Thank you.

[2015-12-09 00:46] edyu commented on #1397
The current workaround from bug #1395
from @liveforeverx:
Add(or replace) to toplevel application: {:mariaex, "~> 0.6.1", override: true}

[2015-12-09 01:14] josevalim commented on #1397
Nice that you solved it. Upcoming ecto versions will support that, it is already in master, for now you need to use override indeed!

[2015-12-09 01:14] #1397 closed

[2015-12-09 12:16] manukall commented on #1396
@josevalim would it make sense to add a short note about that to the router docs?

[2015-12-09 12:41] josevalim commented on #1396
Sure, better docs are always welcome!

On Wednesday, December 9, 2015, Manuel Kallenbach <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-12-09 16:07] Ortuna opened #1399 "Mix hangs when password is not present in database config"
Great work on the framework guys! :heart: :heart:

This behavior was very hard to debug since I'm a newcomer to Phoenix.

Running `mix ecto.create` and `mix ecto.migrate` hangs the mix process with not warnings or errors when the configuration file is missing the password key or password is blank.
Coincidentally my password was not black, and changing it to the correct password allowed me to conne

[2015-12-09 16:16] chrismccord commented on #1399
An incorrect password should definitely result in an error to the user, not hanging. Can you confirm any difference between `password: ""` and `password: "somethingobviouslynotcorrect"` ?

[2015-12-09 16:22] Ortuna commented on #1399
The `password: "somethingobviouslynotcorrect"` case does fail with an error on both `mix ecto.create` and `mix ecto.migrate`.

The `password: ""` case hangs as mentioned.

[2015-12-09 16:47] ericmj commented on #1399
@Ortuna Can you help us with some information to make it easier for us to reproduce?

What postgres version are you using? Also include the contents of the `pg_hba.conf` file, you can find it by running `SHOW hba_file;` in `psql`.

[2015-12-09 19:39] Ortuna commented on #1399
postgres version and build info:
` PostgreSQL 9.4.5 on x86_64-unknown-linux-gnu, compiled by gcc (Ubuntu 5.2.1-21ubuntu2) 5.2.1 20151003, 64-bit`

and the default `pg_hba.conf` file:

[code]

[2015-12-09 20:50] josevalim commented on #1399
fixed in ecto

[2015-12-09 20:50] #1399 closed

[2015-12-10 00:21] #1396 closed

[2015-12-11 02:37] chrismccord commented on #1373
Unfortunately this looks like an obscure node/brunch bug on your windows installation, so I'm out of things to try to fix on our end. If you come to a resolution, please let us know so we can pay it forward to the next person that runs into this. Thanks!

[2015-12-11 02:37] #1373 closed

[2015-12-11 16:21] #1345 closed

[2015-12-11 19:43] chrismccord commented on #1314
@scrogson ping. Are you still planning to tackle this one?

[2015-12-11 21:34] scrogson commented on #1314
@chrismccord I took a look into it, but I can't seem to figure out how to expose this in Plug. Maybe I could pair up with you or @josevalim?

[2015-12-14 05:20] lvvvvv opened #1405 "Need a way to retrieve request headers in socket"
It is a common scenario for a websocket application retrieving request headers info, such as a remote address behind a proxy by accessing "X-Forwarded-For", etc.
But looking around the source code, i can't find a way to achieving that.
if we could get headers info during socket connect, ie:
[code]
that would be really nice.

[2015-12-14 07:57] bajarmeh opened #1406 "Need best way for phoenix umbrella applications"
I'm beginner for phoenix framework. I liked this framework.
I Need best way for phoenix umbrella applications architecture.

like this:

apps/phoenix_core
apps/phoenix_cms
apps/phoenix_blog

Please help me.

[2015-12-14 08:13] sevenseacat commented on #1406
I don't think the issue tracker is the best forum to seek help working with Phoenix.

[2015-12-14 08:33] josevalim commented on #1406
Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2015-12-14 08:33] #1406 closed

[2015-12-14 11:16] chrismccord commented on #1405
Please reserve feature requests to the mailing list. We have so far avoided exposing this kind of information because it couples the transport to the channel. Channels are transport agnostic, and not all transports will have http headers. Your best option is to pass up such information as a param from the client, signed by Phoenix.Token, then you can grab this info in UserSocket.connect/2 and assi

[2015-12-14 11:16] #1405 closed

[2015-12-15 12:50] Hajto opened #1408 "Delete button generated in phoenix.gen.html not working"
I have created fresh app with phoenix (v1.0.2) and Delete button is not working properly. It only appends # to address path on browser.

Appending to app.html.eex fixed the problem:
<script>require("web/static/js/app").App.run()</script>

But i can clearly see that there are two app.js being downloaded in browser sources debug widow.

I calso see that the script "phoenix_html.js" is being concatin

[2015-12-15 13:12] josevalim commented on #1408
If you have this in your app.js, it should be automatically imported for you:

https://github.com/phoenixframework/phoenix/blob/master/installer/templates/static/brunch/app.js#L14

[2015-12-15 14:11] chrismccord commented on #1408
If you are on windows, please see this discussion and the workaround:

https://github.com/phoenixframework/phoenix/issues/1319

Explicitly requiring your app module in a script tag in the layout is not required. This has been fixed on the latest version of brunch.

[2015-12-15 14:11] #1408 closed

[2015-12-15 14:34] josevalim commented on #1408
Should we bump the brunch version installed by default with phoenix?

[2015-12-15 14:34] josevalim commented on #1408
In case we haven't yet, bumping and forcing folks to run the latest will be very helpful.

[2015-12-15 14:34] josevalim commented on #1408
Chris said he already bumped.

[2015-12-15 18:55] burgalon commented on #793
@chrismccord It seems rejoinUntilConnected() (in actions/phoenix.js) is responsible on rejoining channels however there is no socket reconnect code? Does this rely on passing a `transport` option in the constructor of something like https://github.com/joewalnes/reconnecting-websocket ?

[2015-12-15 19:05] chrismccord commented on #793
Does this rely on passing a transport option in the constructor of something like reconnecting-websocket ?

The expo backoff code applies to both the socket connection and the channel recovery, so something like the reconnecting-websocket is not necessary, we take care of it.

[2015-12-15 19:26] burgalon commented on #793
in actions/phoenix.js - rejoin timer calls rejoinUntilConnected() which calls this.rejoinTimer.setTimeout() every time again, making sure that the reconnection timer keeps trying again and again.
However, for the socket reconnectTimer, we only call `disconnect(() => connect())` with no this.reconnectTimer.setTimeout() which should make sure that it keeps trying to reconnect, and so the timer only

[2015-12-15 19:34] burgalon commented on #793
This seems to fix it
[code]

Would love to make a first PR

[2015-12-15 19:37] chrismccord commented on #793
We call setTimeout here https://github.com/phoenixframework/phoenix/blob/master/web/static/js/phoenix.js#L454

Which is called when the socket connection fails, which restarts the connect timer sequence. Can you verify that this is a reproducible bug? I'm not seeing it with the code as is.

[2015-12-15 19:38] burgalon commented on #793
indeed the timer kicks the first time, but then it stops and never kicks in again.

[2015-12-15 19:45] burgalon commented on #793
Also wondering, doesn't it make sense that if the initial call to connect() fails, shouldn't it reconnect as well as if it disconnected?

[2015-12-15 19:56] chrismccord commented on #793
@burgalon I cannot recreate this. Attached is a gif showing the backoff working as expected. Can you confirm?

![](https://s3.amazonaws.com/f.cl.ly/items/3L2y1F060Y1F2t0L1A2U/Screen%20Recording%202015-12-15%20at%2002.54%20PM.gif?v=6271db2c)
http://cl.ly/141A2F2L1f14

[2015-12-15 20:01] chrismccord commented on #793
Yes, which is what happens when the onClose callback is fired, which should always be fired if the connection open fails. If it doesn't, it's indeed a bug, but I'm not seeing it yet :)

[2015-12-15 20:09] burgalon commented on #793
The ticks you're seeing are for the channel rejoins... the reconnect never happens

[2015-12-15 20:12] burgalon commented on #793
Try doing console.log inside phonex.js
[code]

[2015-12-15 20:13] chrismccord commented on #793
In the gif, the client definitely rejoins. I took another recording, removed all channel joining, and add a socket.onOpen hook to demonstrate:

![](https://s3.amazonaws.com/f.cl.ly/items/2n0a1U161K3T0a1e3f43/Screen%20Recording%202015-12-15%20at%2003.11%20PM.gif?v=79c5e1ac)

[2015-12-15 20:36] chrismccord commented on #793
Same deal. To loop others in, this seems to be an issue with react-native and their WebSocket polypill not firing onClose events on failed connections

[2015-12-16 05:54] burgalon commented on #793
Yep.... That's a react-native issue. There's already a pending pull request https://github.com/facebook/react-native/pull/3229/files

[2015-12-16 06:42] burgalon commented on #793
I guess we can close this issue here

[2015-12-16 14:44] chrismccord commented on #793
Thanks for verifying!

[2015-12-16 14:44] #793 closed

[2015-12-16 19:51] travmichwill opened #1409 "Static CSS stuck in cache"
## Problem:

New phoenix project with out brunch is having a hard time updating the served css file to the web browser.
## How to recreate:

If I were to update the /priv/static/css/app.css, the original css will stay the same.(almost, see below)

The original css from the new project was greater than 92,000 characters. If the new modified CSS was only 100 characters, then only 100 of the first 92

[2015-12-16 20:10] josevalim commented on #1409
You are using old Phoenix and Elixir versions. Can you bump to Elixir 1.1
and at least Phoenix 1.0?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-12-17 00:51] conradwt opened #1410 "Compiling of 'web/static/js/app.js' failed due to "es2015""
For context, I'm working through the example on page 37 of "Programming Phoenix" PDF section "Creating the Project".  In order to reproduce this issue, I performed the following:

[code]

Error

[code]

[2015-12-17 00:57] bryansray commented on #1410
You just need to install the babel es2015 preset.

https://www.npmjs.com/package/babel-preset-es2015

  npm install --save-dev babel-preset-es2015

[2015-12-17 01:01] chrismccord commented on #1410
`babel-preset-s2015` fixed an issue I had, but then I blew away my `~/.npm` dir with `rm -rf ~/.npm`. Then I deleted my `rm -rf node_modules` in the phoenix project and `$ npm install`. And it worked without having the preset (node stuff). Give that a shot first.

[2015-12-17 01:20] conradwt commented on #1410
@chrismccord @bryansray The following option worked for me:

[code]

Will **babel-preset-s2015** NPM package be added to a future release of the Phoenix app creation process or is this something that will get sorted as part of the **babel-brunch**?

[2015-12-17 01:29] chrismccord commented on #1410
I don't believe there is anything for us to add. Like I said, I had to do this on one project, but not another. When I blew away my `~/.npm` directory I no longer needed babel-preset on *any* project. Please give this a shot and report back:

1. remove babel-preset from your `package.json`
2. `rm -rf ~/.npm`
3. `cd my_app`
4. `rm -rf node_modules/`
5. `npm install`

[2015-12-17 01:39] conradwt commented on #1410
@chrismccord For step 2, one can also use the following command:

[code]

I'm up and operational without the preset.

[2015-12-17 01:46] chrismccord commented on #1410
Glad to hear it, but bizarre nonetheless. I'm sure we'll be pointing folks to the `npm cache clean` solution often :)

[2015-12-17 05:37] zhangsoledad opened #1411 "Gettext compile error with 1.1"
![b7040f66-4189-4ce1-99a8-1b9f39846813](https://cloud.githubusercontent.com/assets/3198439/11862165/a4c07464-a4c2-11e5-93ce-3816bc8a8f19.png)
![eec08480-d33f-4f7b-ad40-61ebdfa1804c](https://cloud.githubusercontent.com/assets/3198439/11862214/4b693a08-a4c3-11e5-8a4f-195ab53c550e.png)

[2015-12-17 05:44] zhangsoledad commented on #1411
![a04a416e-0024-405a-a38e-be59b3c18216](https://cloud.githubusercontent.com/assets/3198439/11862304/521fb89e-a4c4-11e5-90b0-a4de10db683e.png)

[2015-12-17 06:27] tispratik commented on #1411
Have you tried `mix deps.clean gettext`

[2015-12-17 08:27] josevalim commented on #1411
You are likely missing the Erlang-parsetools package. Some distributions break Erlang into multiple Packages so you need to install them manually. Elixir v1.2 will include a better error message.

Chris, let's change the title to mention gettext and leave this open to help others that will certainly stumble upon this (on my phone, sorry).

[2015-12-17 09:03] zhangsoledad commented on #1411
@josevalim thx, I miss some Erlang package, better error message is very helpful for beginner, i develop on mac, use brew is so easy, but on linux need more procedure, thank you for your nice job!!!

[2015-12-17 13:56] rpkittle commented on #1409
I have tried the same steps using the updated versions:
[code]

Same issue appears to happen. At least there is a temporary work around by renaming the file, request the file, and renaming it back. That must be clearing some sort of cache. Let me know if there is anything I can provide!

[2015-12-17 14:01] chrismccord commented on #1409
Does this happen in all environments?

[2015-12-17 14:14] rpkittle commented on #1409
For what it is worth, I am using Ubuntu 14.4 inside of a vagrant vm, I have not tried from another system yet. I'll give Windows a shot and see what happens.

[2015-12-17 14:16] chrismccord commented on #1409
I mean MIX_ENV environments i.e. does it happen in dev and prod the same? But since you mentioned VM, is the vagrant vm sharing disk with the host where the app code lives? This sound like an issue with shared volumes and ctimes. If you do have a shared volume, can you move the codebase to within the VM and see if the problem still exists?

[2015-12-17 14:26] rpkittle commented on #1409
Thank you chris! You are correct, once I moved the project to another directory that was not shared, the css was applied instantly. I'm not sure if you want me to keep this open as an issue, but I am happy with the outcome.

[2015-12-17 14:33] smeevil commented on #1410
Actually you need to have node 5.x , (5.1.0 ? )
Before i was running 4.1.2 and could not fix the problem unless I added babel-preset-es2015 by hand

After updating to 5.1.0, removing the node_modules dir and running npm install again, everything was fine.

[2015-12-17 14:35] chrismccord commented on #1410
Leaving this open as I'm sure we'll get folks running into it. It does appear node v5 is now required, but it's not immediately clear why. In any case, node v5 and `npm cache clean` is the solution. Thanks for verifying!

[2015-12-17 14:40] chrismccord commented on #1409
Glad we got it sorted out! I don't think there's anything to handle on our end in this case.

[2015-12-17 15:29] #1385 closed

[2015-12-17 15:51] weejulius opened #1413 "poison cannot encode the message from ecto"
Hi,

 I add a validate_length in a schema, however the poison is failed to encode the message from the validation.

the error message:  unable to encode value: {"超过%{count}字符", [count: 20]}

phoenix version: 1.1

[2015-12-17 15:59] Gazler commented on #1413
Hi,

Could you please provide the view you are using to render the errors? You now need to call `Ecto.Changeset.traverse_errors` in Phoenix 1.1.

[2015-12-17 16:00] franzejr commented on #1411
Thanks for keeping this open. I just got this error and the title helped me! Fixed that installing `erlang-parsetools` mentioned by @josevalim.

[2015-12-17 18:08] josevalim commented on #1314
Closing in favor of the PR.

[2015-12-17 18:08] #1314 closed

[2015-12-17 23:03] timhabermaas commented on #1410
I'm one of them and upgrading from node v4 to v5 indeed fixes the problem.

The official guides (which I was following along) mention you need `node >= 0.5.0` (http://www.phoenixframework.org/docs/installation#section-node-js-0-5-0-). Is this meant to be `>= 5.0`?

[2015-12-17 23:04] chrismccord commented on #1410
yes, sorry, will fix. Thanks!

[2015-12-17 23:10] timhabermaas commented on #1410
Thanks for fixing it (that was quick!). And no worries, the guides have been great so far.

[2015-12-17 23:14] chrismccord commented on #1410
paging @paulmillr hoping he can shed some light on this. Anything we're missing here around babel-brunch issues with node < 0.5?

[2015-12-18 01:08] weejulius commented on #1413
sorr y for the missing

[2015-12-18 01:10] paulmillr commented on #1410
No ideas. Let's investigate this.

[2015-12-18 10:01] josevalim commented on #1413
Let's leave it open as others will certainly simple upon this. :)

[2015-12-18 17:59] erikdsi commented on #1411
I had the same error as zhang. After I installed erlang-parsetools I'm getting a different error:
[code]
I tried to ls the directory but there was no /include directory inside parsetools-2.1 just a single directory called **ebin** inside /usr/lib/erlang/lib/parsetools-2.1.

I'm using ubuntu 14.04.3, Elixir 1.1.1 and OTP 18.

[2015-12-18 18:03] zhangsoledad commented on #1411
@erikdsi  try `sudo apt-get install erlang`
https://github.com/elixir-lang/gettext/issues/67

[2015-12-18 18:21] josevalim commented on #1411
You may need erlang-parsetools-dev or something of sorts in case they don't include headers in the sources.

[2015-12-18 18:21] erikdsi commented on #1411
@zhangsoledad that worked, thanks a bunch.

The installation page at the Phoenix website implies that Erlang comes with Elixir and as I could fire up the erl repl I had no idea.

[2015-12-18 22:38] nathanhornby commented on #1411
I had the same issue as @erikdsi . On my mac it did indeed come with Elixir, but in Ubuntu I had no such luck. Considering the ubiquity of Ubuntu servers I'd personally mention this - it stumped me for a while!

[2015-12-19 02:03] jturner opened #1414 "phoenix.gen.html --no-brunch and Delete button"
When creating a new app with --no-brunch and then using mix phoenix.gen.html to create new models produces an index with non-functioning Delete buttons. The /priv/static/js/app.js is empty and thus leaving the Delete button non-functional.

Should the app.js at least contain code to support the Delete button in the --no-brunch case? Or should it have a no javascript fall back?

[2015-12-19 08:07] josevalim commented on #1414
@jturner I think we should rather emit a warning or update the docs or leave comments on the generated app.js. I don't want to reimplement all JS code we may add if folks decide to not use brunch.

[2015-12-19 16:35] realistschuckle commented on #1410
# TL;DR

Update your `npm` to version 3.X.

### Not a `node` problem, but an `npm` problem

It looks less about `node >= 5.0` and more about `npm >= 3`.

`npm 3` installs (by default) dependencies flat rather than deep. Due to this, when `brunch` runs and uses `babel-brunch`, `node` finds `es2015` in the `node_modules` directory just as if you had installed it by hand. You can see the output diffe

[2015-12-19 22:08] jaischeema opened #1417 "Generating new app with version 1.1 with `--no-html` option leads to compile errors"
I generated a new app using `--no-brunch --no-html` options and got this error while trying to start the server.

[code]

To make sure it was only happening with `--no-html`, I created another test project with just that option and got the same result. To reproduce this:

1) Create new project `mix phoenix.new test_compile_error --no-html`
2) `cd test_compile_error`
3) `mix phoenix.server`

[2015-12-19 22:21] chrismccord commented on #1417
This is fixed on master and will be included in a 1.1.1 release tomorrow. Thanks!

[2015-12-19 22:21] #1417 closed

[2015-12-19 22:33] jaischeema commented on #1417
Awesome, great work :+1:

[2015-12-20 04:05] paulmillr commented on #1410
@realistschuckle does this mean we can close the issue and point folks to this solution?

[2015-12-20 08:57] josevalim commented on #1410
@paulmillr it feels like so. We are keeping this open in any case to help folks find the solution. :)

[2015-12-20 10:00] Inconditus commented on #1410
This doesn't seem to be working for me. I'm on mac 10.11.2.

[code]

[2015-12-20 10:02] jimbeaudoin commented on #1410
@Inconditus what is your npm version?

[2015-12-20 10:11] Inconditus commented on #1410
Seems like `homebrew` has node 5.1.1, but npm 2.14. Uninstalling node from homebrew and downloading it from the official nodejs website fixed the problem.

[2015-12-20 10:35] sevenseacat commented on #1410
Homebrew here has installed node 5.1.1 and npm 3.3.12. With those versions installed, blowing away `node_modules`, `npm cache clean`, etc. has fixed the problem :)

[2015-12-20 13:07] realistschuckle commented on #1410
@Inconditus `homebrew` uses the official node distributions from [node.js](https://nodejs.org) which contain both node and npm, together. Here's the formula for it: [node.rb](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/node.rb). Your machine may have had some different installations of node which may have caused the `node` executable to come from one package and `npm` from ano

[2015-12-20 15:38] Oxyrus opened #1418 "Compilation error on a new project"
I'm trying to setup Phoenix, however after I generate the project and run

[code]
It prints out
[code]
I'm running it on Ubuntu, already installed the required in the installation docs.

[2015-12-20 16:01] josevalim commented on #1418
You need to install the Erlang-parsertools package since Ubuntu
unfortunately likes to break Erlang apart. There is another open issue with
instructions to install Erlang from Erlang solutions which is usually
preferred

On Sunday, December 20, 2015, Andrés <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-12-20 17:47] jimbeaudoin commented on #1418
You need to install the `esl-erlang` package which comes with all the tools.

My Phoenix installation procedure for Ubuntu is this:

[code]

[2015-12-20 18:33] chrismccord commented on #1418
Dup of #1411

[2015-12-20 18:33] #1418 closed

[2015-12-20 19:04] jturner commented on #1414
Sure, something to give the user an idea why it's not working would be helpful. By looking at a brunch based app I was able to find what file to look at to get the code from. Thanks

[2015-12-20 23:31] #1414 closed

[2015-12-21 12:58] ftaebi opened #1420 "It's not possible to use macros in controllers"
To demonstrate my usecase:

This is my macro module

    defmodule MyMacroMod do
      defmacro defsomething(head, body) do
        quote do
          def unquote(head) do
            unquote body[:do]
          end
        end
      end
    end

This is my controller

    defmodule Project.V1.MyController do
    use Phoenix.Controller
    import MyMacroMod

      defsomething arbitrary_function_n

[2015-12-21 13:00] aesmail opened #1421 "debug_errors value in dev.exs is ineffective"
First, I'd like to say I'm impressed and hooked to both elixir and phoenix. I would love to, and plan to be, a productive member of both communities.

I was following the Views guide on the website until I reached the [ErrorView](http://www.phoenixframework.org/docs/views#section-the-errorview) section. It says that we should set `debug_errors: false` in order `to see what page the application wou

[2015-12-21 13:06] chrismccord commented on #1420
Can you please provide a project (or full gist) that recreates this? I think we are missing some code to fully diagnose your error, but I"m confident that it is not `Phoenix.Controller` related. Thanks!

[2015-12-21 13:06] #1420 closed

[2015-12-21 13:50] #1421 closed

[2015-12-21 15:16] ftaebi commented on #1420
Thanks, i created a minimal test project with the current phoenix version and my version (1.0.3). The problem did not occur in both cases. So it has to be an interference with something else.

[2015-12-21 21:13] #1240 closed

[2015-12-22 22:19] ericmj opened #1423 "Do not find templates by path"
This is the only instance in any Elixir project where I have found that code is searched for in the filesystem instead of letting the compiler figure it with module names.

The convention of searching by path is confusing to users because it happens rarely in Elixir and I feel it is against the spirit of Elixir and Phoenix due to it being a bit too much magic.

There are other solutions that makes

[2015-12-22 23:14] mcade commented on #1410
I had this issue initially on my local machine but followed [this answer on SO](http://stackoverflow.com/questions/34345573/couldnt-find-preset-es2015-relative-to-directory-web-static-js) and overcame it. I've run into the problem again with running on Heroku. I've included node_version=5.3.0 in my phoenix_static_buildpack.config file.

This updates the version of node to 5.3. Once it's updated, h

[2015-12-23 11:37] walkr commented on #1411
I had the same error, but it works now. I just had to install `erlang-parsetools`.

Here's my recipe for installing erlang:

[code]

[2015-12-23 15:56] josevalim commented on #1423
We already have a configuration called `:root` that does exactly this. We can't let the compiler figure this one out, so we need a convention, it must either be the module name (camelcase) or the snake case version and we chose the snake one as we typically don't start directories in uppercase.

[2015-12-23 16:40] michalmuskala commented on #1423
I think the main issue is that this convention is implicit. I think what @ericmj proposes would be to make it explicit and, for instance, as a default generate the `:root` configuration inside the view.

[2015-12-23 16:42] ericmj commented on #1423
Yes, exactly what @michalmuskala said.

[2015-12-23 16:45] chrismccord commented on #1423
This is explicitly generated in web.ex's `view` block. I think including it every view would be overkill since it is never going to change.

[2015-12-23 16:50] chrismccord commented on #1423
`root:` is also different in this context. What @ericmj and @michalmuskala are asking for is is a root setting per view, where the root setting today is the "mount" point for all views in the system. We debated this way back if you search the issues, and honestly I think an explicit, direct path per view module would be more work, and more error prone than what we have today.

[2015-12-23 16:52] michalmuskala commented on #1423
Because I'm not using html templates day-to-day, I think I misunderstood the `:root` configuration. That is not what I meant. The problem is that `UserView` implies looking for templates in `root/user`, and `FooBarView` in `root/foo_bar`. The proposal would be to have the `user` and `foo_bar` subpath in the view explicitly, instead of implicitly figured out from the view module's name.

[2015-12-23 18:32] he9lin commented on #1411
thx all. just do `sudo apt-get install  erlang-parsetools` resolved this issue for me on my vagrant instance (ubuntu 14.04, Elixir 1.1.1 and OTP 18)

[2015-12-24 01:04] babakness opened #1425 "Error following "up and running" instructions"
Hello--I'm following the instructions at http://www.phoenixframework.org/docs/up-and-running

```mix phoenix.server```

Gives me this error

[code]

I am an absolute beginner and just want to learn more about Phoenix. I'm running this on a Mac OSX Yosemite machine.

[2015-12-24 01:51] chrismccord commented on #1425
You are on an old version of phoenix, please follow the instructions here to jump on the latest:
http://www.phoenixframework.org/docs/installation

From there, you should be able to regenerate a new project and you'll be all set.

Welcome! :)

In the future, please submit support requests to the phoenix-talk mailing list
http://www.phoenixframework.org/docs/installation

Welcome aboard!

[2015-12-24 01:51] #1425 closed

[2015-12-24 12:51] victorlcampos opened #1426 "Heroku Deploy Problem"
Hi guys,
today I try push the current version of phoenixcast(https://github.com/phoenixcast/phoenixcast) to heroku and I get this errors:

[code]

Could you get some help? I don't know how to proceed. I reread all deploy heroku documentation.

[2015-12-24 13:06] josevalim commented on #1426
It seems to be some stale configuration cached on heroku. Please create a buildpack config file as mentioned here:

https://github.com/HashNuke/heroku-buildpack-elixir#configuration

and set:

    always_rebuild=true

[2015-12-24 13:07] victorlcampos commented on #1426
Thx =)

It will be nice to have this in phoenix documentation, if you agree I can open a PR

[2015-12-24 13:07] #1426 closed

[2015-12-24 13:13] josevalim commented on #1426
Yes, we could leave it as a note I believe in the Heroku guides, it would be a great addition. Please do send a pr :)

[2015-12-24 13:25] victorlcampos commented on #1426
Done

[2015-12-25 02:49] datajohnny opened #1427 "ErrorHelpers"
When I create a new application with the flags for no brunch and no html I get a compilation error saying that MyApp.ErrorHelpers is not found.

Please advice and thanks

[2015-12-25 02:57] chrismccord commented on #1427
Please search the issues for a resolution. (On mobile) This has been fixed on master. Thanks!

[2015-12-25 02:57] #1427 closed

[2015-12-25 10:50] danschultz commented on #1410
I'm able to repro this using npm 3.5.2 and node 5.3.0. I also blew away my ~/.npm and node_modules directory.

[2015-12-25 23:10] realistschuckle commented on #1410
@danschultz, can you give me a little more information like your OS, top-level contents of your node_modules directory, and maybe your brunch config?

[2015-12-25 23:50] aerosol opened #1428 "Rendering raw changeset errors with phoenix_ecto 2.0"
Bumping `phoenix_ecto` to 2.0, crashes Phoenix 1.0.4 templates rendering form errors, when the `message` is a tuple coming from, for example, `validate_length` check.

I found the breaking commit here: https://github.com/phoenixframework/phoenix_ecto/commit/90436c97cd2883513743313e3660d6bc40f1b4a8

Phoenix crashes with:

[code]

I understand this is due the in-the-works gettext support.

Can error

[2015-12-26 00:03] aerosol commented on #1428
Sorry I just found [this]( https://github.com/phoenixframework/phoenix/commit/ed3eb4c45bd3a1e5b56deef7c363c258782a0e2c), I guess I'll try keeping up with the master.

[2015-12-26 00:03] #1428 closed

[2015-12-26 00:04] aerosol commented on #1428
(I would be grateful for a rationale behind this not being a part of Phoenix.HTML though)

[2015-12-26 03:35] chrismccord commented on #1428
Localization is also important for API only applications, so this applies beyond Phoenix.HTML

[2015-12-26 06:25] danschultz commented on #1410
@realistschuckle here you go:

OS: Mac OS 10.11.1
NPM: 3.5.2
Node: 5.3.0
node_modules, brunch config: https://gist.github.com/danschultz/915444062b9c5663f934

[2015-12-26 06:41] danschultz commented on #1410
@realistschuckle it seems my issue may be related to using an umbrella project. I created a new Phoenix  app outside my umbrella project and it's compiling assets fine.

[2015-12-26 07:21] josevalim commented on #1410
Ah, it may be the case. I will investigate. Can you confirm your mix.exs
also has a deps_path configuration?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-12-26 07:47] danschultz commented on #1410
@josevalim yes it does:

[code]

[2015-12-26 10:03] aerosol commented on #1428
Thanks, makes sense

On Sat, Dec 26, 2015, 4:35 AM Chris McCord <notifications@github.com> wrote:

--
/A.

[2015-12-26 11:07] josevalim commented on #1410
I have tried an umbrella projects and it worked running from both root and inside the dependency. So I don't think it is something related to config, just npm still acting weird.

[2015-12-26 13:48] realistschuckle commented on #1410
My apologies, @danschultz. I have had no success in reproducing your problem in normal or umbrella projects. If you'd like to talk more freely on the matter, feel free to contact me directly at [realistschuckle@gmail.com](mailto:realistschuckle@gmail.com). I should be in my office after 10am PT just hacking on my own Phoenix project. When we find a solution, we can come back and post it for the co

[2015-12-26 23:55] chrismccord commented on #1423
@ericmj or @michalmuskala can you show code of what you would like to see. Is it something like:

[code]

I still feel our current solution is the better option, and is one of the few times where implicit lookup is okay (even though we set the root explicitly in web.ex). If we have some code to talk around this might be easier :)

[2015-12-28 12:26] michalmuskala commented on #1423
What I imagine could be either what you propose, or we could keep the `:root` configuration, and add additional `:path` one:

[code]

[code]

This would also mean we could simplify this: https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/view.ex#L120-L147 to something like:

[code]

[2015-12-28 16:06] jaunkst commented on #1190
+1

[2015-12-28 17:15] victorlcampos opened #1430 "Truncate String function helper"
Hi guys,
in RoR we have String#truncate that helps alot: https://github.com/rails/rails/blob/db69474b553c0619d1e86346a889d14fd825f19f/activesupport/lib/active_support/core_ext/string/filters.rb#L65

It will be nice that we can have this in Phoenix:
https://gist.github.com/victorlcampos/cb81c68f093d825d30fb

What do you think?

[2015-12-28 17:19] chrismccord commented on #1430
Please submit feature requests to the phoenix-talk mailing list for discussion. We reserve the issues list for core bug fixes/development. Thanks!

[2015-12-28 17:19] #1430 closed

[2015-12-28 17:21] doomspork commented on #1430
@victorlcampos you can find `#truncate` in Crutches which is an ActiveSupport port to Elixir: [String#truncate/3](http://hexdocs.pm/crutches/Crutches.String.html#truncate/3).

Doubt it makes sense to added these helpers to Phoenix anyways.

[2015-12-28 17:29] victorlcampos commented on #1430
@doomspork, thx, I did not know Crutches...
@chrismccord, sry, I open here because of this comment in Readme: "We usually keep a list of features and bugs in the issue tracker."

[2015-12-28 17:36] chrismccord commented on #1430
I'm undecided right now on how far we want to push helpers in phoenix_html. For now, we'd like to keep it lean and let other libraries be used, since it is all simple function imports. One thing I'll note is I would avoid Crutches as you don't need such a heavy dependency for a single truncate function.

[2015-12-28 17:44] aesmail opened #1431 "Proposal: auto generate models from existing database"
It would be extremely helpful if phoenix had this option. It would be something similar to django's [inspectdb](https://docs.djangoproject.com/en/1.9/howto/legacy-databases/#auto-generate-the-models) command, where the framework would inspect the database schema and generates the appropriate models. This eases the transition to phoenix for existing apps that were written in a different framework.

[2015-12-28 17:45] chrismccord commented on #1431
Please direct feature request to the mailing list. We reserve the issue tracker to bugs and active feature development. This sounds like a great third-party library (nudge nudge :), but not something for core to maintain. Thanks!

[2015-12-28 17:45] #1431 closed

[2015-12-28 17:47] aesmail commented on #1431
Thank you Chris and sorry for posting in the wrong place. I got your hint ;). It would be an interesting challenge.

[2015-12-28 17:56] victorlcampos commented on #1430
@chrismccord, agree!

[2015-12-28 22:57] chncdcksn commented on #1410
Any update on this? I believe I'm having the same issue. I'm on Windows 10, Elixir 1.1.1, Phoenix 1.1.1, Node 5.3.0, and NPM 3.5.3. I'm trying to build an umbrella application consisting of 3 applications: the public website, an admin backend, and an application with an Ecto.Repo, models, and migrations that the admin backend and public website will use (Aside: Is that a good way to keep the publi

[2015-12-29 00:10] realistschuckle commented on #1410
@chncdcksn I tried your steps on OS X and couldn't get the same error. Now, booting up a Windows 10 VM to try to reproduce. Thanks for the steps! Just to confirm:

1. Create a new umbrella app
2. `cd` down into the `apps` directory
3. Create a new Phoenix app and let the mix task install all dependencies
4. Run `mix phoenix.server` and get a sad, sad error

(Installing Erlang/Elixir, right now, in

[2015-12-29 00:13] chrismccord commented on #1410
@realistschuckle you are my hero for taking on digging deeper into the windows issues :heart_eyes:

[2015-12-29 00:15] realistschuckle commented on #1410
@chrismccord It's really no problem. Thanks for [Programming Phoenix](https://pragprog.com/book/phoenix/programming-phoenix). I've enjoyed watching the book mature over the last five beta releases.

[2015-12-29 00:53] chncdcksn commented on #1410
@realistschuckle Yup, those are the steps. With `mix phoenix.server` being run in the directory of the umbrella app, not the Phoenix app. I'm also getting another error when trying to go to `localhost:4000` after starting the umbrella app.

    [info] Running TestPhoenix.Endpoint with Cowboy using http on port 4000
    28 Dec 18:50:30 - error: Compiling of '..\..\deps\phoenix_html\web\static\js\ph

[2015-12-29 01:46] paulmillr commented on #1410
I know how we can fix the es2015 issue. I'll submit the necessary patches to babel-brunch today

[2015-12-29 01:48] realistschuckle commented on #1410
~~@chncdcksn Totally reproduced and trying to figure it out, now. I think what's happening is that the working directory of the include gets changed to the relative path `../../deps/phoenix_html/web/static/js` in `babel` which, then, kills the `node` search path. I'm trying to run down if its `babel` or `brunch` or `brunch` using `babel`.~~

@paulmillr Thanks! Really great!

[2015-12-29 01:50] paulmillr commented on #1410
The quickfix for now:

[code]

[2015-12-29 03:35] chncdcksn commented on #1410
@realistschuckle Did your tests also produce the other error I had (you must restart your server after changing the following configuration files)? Or should I move that to other issue?

[2015-12-29 07:05] ryanswapp opened #1432 "Something is interfering with Mix's ability to pick up file changes"
I was working on a project tonight and encountered what appears to be a bug in which something is preventing mix from picking up file changes. I'm able to reproduce it by doing the following:

1) Add lib/helpers.ex and define a module with some functions.
2) Use the functions somewhere in the app (I was using them in a controller)
3) Start the phoenix server (everything should be working)
4) While

[2015-12-29 07:17] hamiltop commented on #1432
I was helping @ryanswapp track down the issue, and here's what I found:

`.compile.elixir`'s mtime is being updated when phoenix does code reloading on the `web` directory. When `mix compile` is later run, it compares the mtime of the file in `lib` (which has not been recompiled) and sees that it was modified before the last update to `.compile.elixir` and skips it.

I suspect this is actually a b

[2015-12-29 07:29] hamiltop commented on #1432
I've confirmed that I can reproduce it outside of phoenix. Opening https://github.com/elixir-lang/elixir/issues/4122 .

[2015-12-29 07:55] danschultz commented on #1410
@paulmillr I tried your workaround, but now I'm getting an error when running brunch build:

[code]
Is there another dependency that I need to update? Here's my current package.json:

[code]

[2015-12-29 08:25] paulmillr commented on #1410
@danschultz try `npm: enabled: false` in your config

[2015-12-29 08:44] danschultz commented on #1410
@paulmillr setting npm enabled to false reverts back to the original error

[code]

[2015-12-29 09:10] #1432 closed

[2015-12-29 12:54] josevalim opened #1434 "Add --no-primary-key support to migration generator"
This will be useful for upcoming many to many in Ecto:

    mix phoenix.gen.migration posts_tags post_id:references:posts tag_id:references:tags --no-primary-key

Contributions are welcome!

[2015-12-29 21:39] paulmillr commented on #1410
@danschultz any ideas on how I could get to the point of error with the default phoenix app?

[2015-12-30 00:32] jespr commented on #1434
There isn't any `phoenix.gen.migration` mix task as it is right now, right? So you would want that to be introduced, with an optional `--no-primary-key`?

[2015-12-30 00:37] josevalim commented on #1434
Doh, I am sorry. I am not sure the best way to proceed then. Adding a `phoenix.gen.migration` task would copy the efforts from ecto. On the other hand, adding the migration features from Phoenix to Ecto sounds like too much to have in Ecto. Thoughts?

[2015-12-30 00:41] chrismccord commented on #1434
Perhaps the happy medium is to support `--no-model` for `phoenix.gen.html/json/model` ?

[2015-12-30 00:43] jespr commented on #1434
Either that - or move the migration creation from `phoenix.gen.model` in to `phoenix.gen.migration` - and have `phoenix.gen.model utilize that when creating migrations

That way you would be able to call `phoenix.gen.migration` externally as well - and it wouldn't copy efforts from ecto as far as I can see?

[2015-12-30 00:44] chrismccord commented on #1434
I don't wan't to duplicate ecto's task for only a single flag, so I am :-1: on a phoenix.gen.migration task unless we have a better reason to deviate

[2015-12-30 04:38] danschultz commented on #1410
@paulmillr I've only been able to repro with an umbrella app.

Environment:

OS: Mac OSX 10.11.1
Node: 5.3.0 (installed via brew)
NPM: 3.5.2 (upgraded via `sudo npm install npm -g`)
Elixir/Mix: 1.1.1
Phoenix: 1.1.1

Steps to repro:

1. `mix new umbrella_app --umbrella`
2. `cd umbrella_app/apps`
3. `mix phoenix.new hello_phoenix`
4. `cd hello_phoenix`
5. `mix phoenix.server`
6. observe error:

[cod

[2015-12-30 07:17] jespr commented on #1434
The simple approach would be better, I agree. The only thing I'm worried about, is that `mix phoenix.gen.model PostTag post_tags post_id:references:posts --no-model` might seem a bit confusing? And would there be use cases for having the `--no-model` flag for `phoenix.gen.html`?

[2015-12-30 09:18] josevalim commented on #1434
@chrismccord we have already copied Ecto's task, except today Ecto's task is inside `phoenix.gen.model`. So after thinking about it a bit, I would add `phoenix.gen.migration migration_name attributes --no-primary-key`. I think it is the best way to go.

[2015-12-30 09:48] hubertlepicki commented on #1410
This is happening with umbrella apps, I confirm. This is, however, probably a separate issue.

The temporary workaround I found, is to generate the app outside of umbrella's main directory and move it manually inside umbrella app.

[2015-12-30 09:52] josevalim commented on #1434
Actually, ignore me, I am wrong. Providing both tasks would be confusing. On the other hand, providing `--no-model` to the model generator would also be confusing and providing `--no-primary-key` as well because it only makes sense to have no primary key when you have no model. I think this is too confusing right now to justify the games, so I am voting to close this.

@jespr thanks for pointing o

[2015-12-30 09:54] josevalim commented on #1410
Ok, just to confirm: who can reproduce the umbrella issue given @danschultz instructions? I certainly cannot.

* Node: 5.3.0
* NPM: 3.5.2
* Phoenix: master

[2015-12-30 09:57] hubertlepicki commented on #1410
I can.

Node: v5.3.0
NPM: 3.5.2
Phoenix: 1.1.1

I'll check with phoenix master and report back.

[2015-12-30 09:58] dyzajash commented on #1410
I can too.

Node: v5.3.0
NPM: 3.5.2
Phoenix: 1.1.1
OS: Fedora 23
Elixir: 1.1.1
Erlang: 18

[2015-12-30 09:59] hubertlepicki commented on #1410
An and I'm on Linux.

[2015-12-30 10:07] hubertlepicki commented on #1410
Yes, I can confirm this is still an issue on Phoenix master.

[2015-12-30 10:27] josevalim commented on #1410
Ok. I was able to reproduce it. The issue is that, because phoenix and phoenix_html are in the parent directories, brunch/babel is unable to find the preset for those dependencies.

Here is the directory structure:

    apps
      your_app
        node_modules
        brunch-config.js
        package.json
    deps
      phoenix_html
        web/static/js
      phoenix
        web/static/js

Becaus

[2015-12-30 10:27] josevalim commented on #1410
To clarify, I believe this is the bug because if I copy the "/apps/your_app/node_modules" to "/node_modules", everything works.

[2015-12-30 10:40] josevalim commented on #1410
Ok, here we go. To reproduce the bug:

1. `git clone https://github.com/josevalim/brunch-sample.git`
2. `cd brunch-sample/apps/hello_phoenix`
3. `npm install`
4. `node_modules/brunch/bin/brunch build`

The reason why it happens is because we are inside "apps/your_app" requiring files from "../../deps/phoenix". For some reason, npm/brunch/babel is expecting to find a node_modules at "../../node_mod

[2015-12-30 10:41] josevalim commented on #1410
@paulmillr is there anything I can do to help this further? Should I open up an issue on brunch issues tracker? Thanks for all the help.

[2015-12-30 11:34] bmalum opened #1437 "Route not found - Restart of Server is required."
I noticed after adding a custom action to a nested resource that Phoenix claims the route can not be found. I have discussed the problem with @Gazler in the Elixir IRC channel and he said the server restart should be not necessary  - I tried to reproduce the Issue and will describe you all the steps I've done. Thanks to @Gazler for taking time to help me.

Creating a simple hello_phoenix
[code]

C

[2015-12-30 11:46] josevalim commented on #1437
I believe we are missing the step where you add the routes to your `web/router.ex`. For example, when is "/api/posts/1/comments/1/test" added?

[2015-12-30 11:48] bmalum commented on #1437
Oh my fault - after Creating the second resource `web/router` looks like this:

[code]

[2015-12-30 13:27] paulmillr commented on #1410
Interesting. Let me check this

[2015-12-30 13:58] chrismccord commented on #1434
Agreed. The only other option I can think of is to have a task specific to many-to-many, i.e. `mix phoenix.gen.many_to_many posts_tags post_id:references:posts tag_id:references:tags`

[2015-12-30 14:06] chrismccord commented on #1437
Can you verify that the above router is the one that triggered this? It should have raised an error with `get "test"` since it missing a forward slash, and the output in the mix task is `:comment` action, not `:test`

[2015-12-30 14:16] paulmillr commented on #1410
Fixed in babel-brunch from github. Just waiting for folks to accept the pull request & release 6.0.1 now.

[2015-12-30 14:16] paulmillr commented on #1410
This seems like a babel issue: https://phabricator.babeljs.io/T2974

Well that's pretty fucking stupid. Babel needs another option for "resolving presets and plugins".

[2015-12-30 14:32] chrismccord commented on #1437
I can't recreate this, but I did confirm that we have a regression that allows router paths without a forward slash, we should be raising. Can you verify your elixir version?

[2015-12-30 14:38] chrismccord opened #1438 "Router paths that don't start with forward slash should raise"
This regression popped in somewhere

[2015-12-30 14:43] bmalum commented on #1437
I'm pretty sure, the first try was with `comment` in the route, the second one with `test`. I will try on another System at the evening again.

My Elixir Version is:
    Elixir 1.1.1

[2015-12-30 15:43] josevalim commented on #1437
@chrismccord I thought at some point we decided to drop the restriction? I can't remember anymore.

[2015-12-30 15:45] josevalim commented on #1410
@paulmillr I saw that setting sourceRoot is commented out in your PR. Is it not yet supported then?

[2015-12-30 15:46] josevalim commented on #1434
Yeah, lets close this for now then. Thanks everyone

[2015-12-30 15:46] #1434 closed

[2015-12-30 15:48] hectorip commented on #1437
@chrimccord @josevalim yes you removed the restriction it didn't happen to me but I have to restart the server every time I add a new route.

[2015-12-30 15:52] chrismccord commented on #1437
@hectorip let's rule out your editor using a syntax checker plugin that recompiles the project behind the scenes. I'm willing to be that is what is happening, causing the running server to not pick up any changes because it sees no files that need recompiled/reloaded

[2015-12-30 17:19] paulmillr commented on #1410
sourceRoot is something different. I've just tried a few variables and none of them do the required job. Babel needs a new option for that.

[2015-12-30 17:32] josevalim commented on #1410
Awesome, thanks for clarifying and fixing @paulmillr !

[2015-12-30 19:14] chncdcksn opened #1439 ""You must restart your server after changing the following configuration files" in umbrella app"
I'm on Windows 10, Elixir 1.1.1, and Phoenix 1.1.1. I've also reproduced this error in Linux, so it isn't a Windows exclusive error. If this is a Mix issue I can recreate the report there. This will set up an umbrella app that will error when going to `localhost:4000` in your browser.

    $ mix new umbrella --umbrella
    $ cd umbrella/apps
    $ mix phoenix.new testphoenix
    $ cd ../
    $ mix

[2015-12-30 19:17] chrismccord commented on #1439
Can you push a project that recreates this to github for me to attempt to isolate? Thanks!

[2015-12-30 19:24] chncdcksn commented on #1439
No problem. https://github.com/chncdcksn/phoenix_umbrella_error

[2015-12-31 07:46] josevalim opened #1440 "Ensure we show proper error report from user socket errors"
See this report on stack overflow: http://stackoverflow.com/questions/34514874/phoenix-channel-erlang-keyerror-when-connecting

[2015-12-31 08:31] #1440 closed

[2015-12-31 09:32] bmalum commented on #1437
Hi to all - I just had to restart my Server on Elixir 1.1.1 on - i have immediately committed the changes and pasted the `phoenix.server` output in the commit message.

You can find the commit here:
[Constructeev_Elixir - Server needed restart](bmalum/Constructeev_Elixir@21166a030b40b81c42161af0bdf2a335a987419e)

[2015-12-31 10:41] josevalim commented on #1437
@bmalum so is it working as expected now?

[2015-12-31 12:38] chrismccord commented on #1437
@bmalum, are you using an editor plugin that does syntax checking? These have been known to cause reloading issues since they recompile the project behind the scenes.

[2015-12-31 12:58] bmalum commented on #1437
@chrismccord - good hint. I'm using SublimeText with several Plugins (Elixir, Angular …)  - I tried again with @Gazler today using a plain VI - everything worked fine. I thought Elixir Package from Sublime does not compile in background. Very Strange :/

[2015-12-31 16:21] Immortalin opened #1442 "Happy New Year"
Happy New Year!  :D

[2015-12-31 16:30] Gazler commented on #1442
Happy New Year to you too.

Closing because this isn't an issue. IRC/the slack channel may be a better place for this for future years.

[2015-12-31 16:30] #1442 closed

[2015-12-31 16:32] josevalim commented on #1442
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-01-01 06:26] tokafish opened #1443 "Include refute helpers for channel tests"
In working on a project using Phoenix, I set out to test a channel I implemented. I found it difficult to check a behavior of my channel - in this case, I wanted to make sure I was not pushed a particular message.

I'd like to propose adding refute_push, refute_reply, and refute_broadcast helpers to allow for these kind of tests. I'm happy to submit the PR if this is desired.

[2016-01-01 08:59] josevalim commented on #1443
:+1:

[2016-01-01 16:04] chrismccord commented on #1443
Please go ahead!

[2016-01-01 21:57] tokafish commented on #1443
Thanks! Here's the [PR](https://github.com/phoenixframework/phoenix/pull/1444)

[2016-01-02 01:54] Lazarus404 opened #1445 "Generating a JSON model errors"
Running mix phoenix.gen.json generates an error:

[code]

[2016-01-02 02:27] chrismccord commented on #1445
Please incle the exact command you tab and your router. Did you follow the output instructions to add a new route?

[2016-01-02 04:44] #1443 closed

[2016-01-02 09:50] josevalim commented on #1445
Yes, it looks like you forgot to execute a instruction after running a generator.

[2016-01-02 09:50] #1445 closed

[2016-01-02 09:53] Lazarus404 commented on #1445
Sorry, yes, thats exactly what happened.

[2016-01-02 10:35] Immortalin commented on #1410
I am getting the following error on node 5.3.0:
[code]
This is my `package.json`:
[code]

[2016-01-02 12:12] paulmillr commented on #1410
Still waiting for the PR to be accepted: https://github.com/babel/babel-brunch/pull/19

[2016-01-02 17:59] seenickcode opened #1446 "Generated Controller tests fail using ``mix phoenix.gen.json``"
Hello, I seem to be having trouble running the generated tests via:

[code]

I then added the following to ``web/router.ex``

``resources "/users", UserController``

I then ran ``mix test`` and got this output:

[code]

On the other hand, it seems that ``mix phoenix.gen.model`` works fine so maybe it's something with ``mix phoenix.gen.json``?

[2016-01-02 18:27] josevalim commented on #1446
Did you add it to your API pipeline as the generator instructions ask?

[2016-01-02 21:16] seenickcode commented on #1446
Turned out it I mistakenly put it in the default generated scope with ``pipe_through :browser`` rather than the default commented out ``pipe_through :api``.  Sorry for the false alarm!

[2016-01-02 21:16] #1446 closed

[2016-01-04 16:09] #1439 closed

[2016-01-04 18:29] madshargreave commented on #1359
@chrismccord What if I want to let any host connect to my Phoenix app over web sockets? In my case, I have a small JS script that people can include on their site and this script will connect to my application behind-the-scenes.

How can I accomplish this when the hosts remain unknown?

[2016-01-04 18:34] chrismccord commented on #1359
`check_origin: false`

[2016-01-04 18:44] madshargreave commented on #1359
That worked, thanks for the quick response

[2016-01-05 03:29] luiz-pv9 commented on #1410
Updating NPM from 2.X to 3.X fixed the issue for me.

Elixir: 1.2.0
Node: 4.2.4
NPM: 3.5.2 (before update was 2.14.12)
Phoenix: 1.1.1

[2016-01-05 23:50] ndeet opened #1451 "static_path causes major slowdown"
On my [testapp](https://github.com/ndeet/pete) it seems that the ```static_path``` is the issue causing the server load not to grow >6 on a 12 core server and only giving 3000 req/s throughput.

I used this in my template
[code]

@chrismccord you removed that in your PR and changed it to a absolute path:
[code]

12-core vm using static link:
[code]

without (I had tears in my eyes):
[code]

Side n

[2016-01-06 00:00] ndeet commented on #1451
I just cross checked to be sure it is not an routing or DNS or other weird issue and replaced the absolute path with URL to IP and a local domain in the image tag, and the results are the same, so it seems very likely to be the ```static_path``` function.

[2016-01-06 01:35] walkr opened #1452 "An Idea About Improving Documentation"
Programming is a fun but complex activity, especially in this day and age, when people work with multiple languages, juggle with various mental models – both of the language and of the program/system – and contribute and extend other people's code.

I like Phoenix and Elixir a lot, but I sometimes find the documentation hard to follow, and I'm assuming a lot of other people might be in the same si

[2016-01-06 02:09] chrismccord commented on #1452
Hey Tony,

Thanks for the ideas and feedback! We try to make the docs as approachable and comprehensive as possible, but we leave some expansion on design to the guides.

Please raise an issue in such cases and we'll do our best to fill in the gaps.

I agree these are nice, and this one is probably more a time bottleneck than anything. You can find open issues on the guides that are for schematics

[2016-01-06 02:09] #1452 closed

[2016-01-06 02:19] chrismccord commented on #1451
This should have been fast, but I noticed the other framework had a hard-coded path so I removed the call. We do an ets cache lookup, which be super cheap, but I will investigate tomorrow on possible bottlenecks.

Also as a sanity check, can you verify that you isolated this huge difference to `static_path`? The PR I sent also stripped out other plugs, so I want to double check if the gains could

[2016-01-06 09:29] ndeet commented on #1451
I'm pretty confident that it is caused by ```static_path```, you can easily verify on your side. After your pull request on my localhost:
[code]

If I add _nothing_ back from your PR but only the static_path function in the template:
[code]

I can do the reverse check and add everything back except the static_path, but even if other plugs somehow slow things down the above test is evidence enough

[2016-01-06 09:32] josevalim commented on #1451
We are doing file system lookup when there are no entries in the ETS table,
which will always be the case for "/images/". You should always lookup the
full thing. Chris, tomorrow we should talk about the proper fix. :)

On Wednesday, January 6, 2016, Andreas Tasch <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-01-06 09:45] ndeet commented on #1451
Ok did the reverse check, so I added everything back you removed:
[code]

Now, removing only ```static_path``` in the image.html.eex:
[code]

So, yes the other plugs slow things down ~1400 req/s but the ```static_path``` seems to take away ~9100 req/s.

[2016-01-06 09:49] josevalim commented on #1451
Yup, it is not that `static_path` is slowing things down, `static_path` is straight a bottleneck. It doesn't matter how fast or slow you make other things, you ain't gonna pass 3000req/s. :) Great find @ndeet!

[2016-01-06 10:24] ndeet commented on #1451
Thank you both for helping me to isolate the issue.

Out of curiosity I did another experiment to verify:
[code]

run wrk:
$ wrk -t4 -c100 -d30s --timeout 1000 http://localhost:4001
Running 30s test @ http://localhost:4001
  4 threads and 100 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency    18.71ms    3.65ms  82.34ms   89.67%
    Req/Sec     1.35k   109.03     1.93k

[2016-01-06 12:47] chrismccord commented on #1451
@ndeet What José is saying is the slowdown is caused by your calls to static_path which do not provide the full file path, i.e. `static_path(conn, "/images/") <> file`. This causes us to hit disk doing a lookup on /images/ on every request, where the standard usage `static_path(conn, "/images/#{file}")` would have been cached. We definitely want to take care of the former case, but to be clear sta

[2016-01-06 15:21] ndeet commented on #1451
Ahh, ok I guess I understand the issue now. The problem was that (due to my lack of understanding the correct syntax) I used static_path to get the path only (which seems to be slow) and after that I concatenated the string to the full path.:
[code]

The correct and way faster syntax is this(?): (successfully tested this with wrk)
[code]

So if it is not possible to make the path only lookup as fa

[2016-01-07 08:41] #1451 closed

[2016-01-07 09:12] leolorenzoluis opened #1454 "Elixir fails to compile templates when a different machine hasn't compiled new routes"
I encountered this issue when trying to pull changes from a different machine. After pulling changes from GitHub, one of the changes I have in the template is

    <%= link "Test", to: test_path(@conn, :index) %>

The problem is, since this machine hasn't compiled its new routes from the previous machine, then elixir won't compile and complain that  **undefined function test_path/2**

Quick fix is

[2016-01-07 09:24] josevalim commented on #1454
Restarting the application should be all that is required in this case. You don't need to run "mix phoenix.routes" because it does not do anything in particular to your routes besides compiling them in the same way calling "mix phoenix.server" again would.

[2016-01-07 09:24] #1454 closed

[2016-01-07 12:44] #1393 closed

[2016-01-07 12:48] josevalim opened #1455 "Continue instrumenting the controller/channel"
We need to instrument the action dispatch and use the information in logging instead of `Phoenix.Controller.Logger`. We also need to revisit how to enable/disable logger because the API today is through `use Phoenix.Controller, log: false` which is not accessible through `web/web.ex`.

[2016-01-07 12:50] chrismccord commented on #1455
Do we need to make the options accessible? Since web.ex has no magic, a user could define their own new clause for specialized controllers for these cases, imo. Thoughts?

[2016-01-07 12:54] chrismccord commented on #1455
They can also `use Phoenix.Controller, log: false` directly and forgo web.ex. Since the `log: false` is an edge case, and we pass no other options regularly, I'm for leaving web.ex as is.

[2016-01-07 13:01] josevalim commented on #1455
I don't think they are OK options but we could probably do a better job, possibly something that also works per action.

[2016-01-07 13:06] chrismccord commented on #1455
For web.ex, what about:

[code]

[2016-01-07 13:11] josevalim commented on #1455
I would rather have `use MyApp.Web, type: :controller, log: false` but I don't like how it makes everything more complex, more unquote, etc. The simpler, the best.

[2016-01-07 13:13] chrismccord commented on #1455
@josevalim for the tuple case, it would allow the existing usage, with an option to use a tuple for these edge cases. I don't like `:type` because what if `:type` becomes an option you need to pass down to the using module? The tuple keeps things segregated and only would be used as needed, otherwise `use App.Web, :controller`

[2016-01-07 13:54] michalmuskala commented on #1455
Why not two arguments?

[code]

[2016-01-07 13:59] chrismccord commented on #1455
`use` only accepts 1 argument. We've decided to not change anything with web.ex, but we're going to revisit controller logging behavior.

[2016-01-07 21:14] leolorenzoluis commented on #1454
I did call mix phoenix.server but it didn't successfully recompile.

[2016-01-07 21:22] chrismccord commented on #1454
Were you using an editor plugin that does syntax checking or linting? Some plugins have been known to cause issues because they compile the elixir files on save, causing the changes to not be picked up by the code reloader. It would also cause the app to appear to not compile when the server is restarted.

[2016-01-08 09:29] dvcrn commented on #325
I think we should provide a option to terminate identifiers. URL fragments like `/search/:latitude,:longitude` are currently not possible because it assumes the comma is part of the identifier.

Same if I had something like `/api/something/:id.:type`. I know that I can do the content type matching based on header, but when you expose an API, sometimes you want to make things a bit easier for your

[2016-01-08 11:13] aesmail opened #1458 "The live reload logger is not silenced when generating a new project with --no-html"
Using Phoenix 1.1.1, when doing `mix phoenix.new myapp --no-html`, the console gets filled with:
`[info] GET /phoenix/live_reload/socket/websocket` log messages.
I noticed that the deps function doesn't include `phoenix_live_reload` when using the `--no-html` option. I don't know if this has anything to do with it.

[2016-01-08 11:18] josevalim commented on #1458
That's it. We should likely skip including the socket call and middleware for --no-html cases. :)

[2016-01-08 13:58] stevedomin commented on #1458
I'll fix this one if no one is on it

[2016-01-08 15:27] chrismccord commented on #1458
I'm willing to bet you had an old phoenix app running in a browser tab with live reload enabled, which is making those requests. For --no-html, we do not plug the LiveReloader, so you shouldn't be seeing any log entries from the app. It must be from another tab?

[2016-01-08 15:47] chrismccord commented on #1437
I'm closing this for now. If you are able to recreate, please reopen. Thanks!

[2016-01-08 15:47] #1437 closed

[2016-01-08 17:20] aesmail commented on #1458
Ok you're right @chrismccord.
I quit all browsers and terminal sessions and started from scratch. The messages didn't show.
But reproducing it is easy and consistent.
So for the sake of clarity, this is exactly what to do to cause the log messages to appear (this is all using Phoenix 1.1.1):
In a terminal session (S1):
* `mix phoenix.new apiapp --no-html`
* `cd apiapp & mix phoenix.server`
* no we

[2016-01-08 19:34] josevalim opened #1460 "Update Phoenix website"
We need to:
- [x] List companies using Phoenix in production
- [ ] Promote the book
- [ ] Overhaul the guides

[2016-01-08 20:16] chrismccord commented on #1458
Yeah there is nothing to fix here since you had two different apps running on the same host/port, with old clients attempting connections. Glad it's sorted out!

[2016-01-08 20:16] #1458 closed

[2016-01-08 20:19] walkr opened #1461 "phoenix.gen.json controller test failure"
Platform: OS X
Elixir: 1.2
Phoenix: 1.1

I've generated a new app via `mix phoenix.new` then I've created a new model like so:

[code]

Model tests pass, but controller test for this resource fail. Any thoughts?

Here's the output:

[code]

[2016-01-08 20:21] walkr commented on #1461
Found the issue:
I added the `resources "/users", UserController, except: [:new, :edit]` under the wrong scope in routes.

[2016-01-08 20:21] #1461 closed

[2016-01-08 21:13] walkr opened #1462 "Upgrading from 1.0 - phoenix.gen.json test failures"
Elixir: 1.2
Phoenix: 1.1
Platform: OS X

I've upgraded a phoenix app from 1.0 to 1.1, then when trying to generate new models via `phoenix.gen.json` controller tests fail.

Here's the output

[code]

Any thoughts?

Thanks