[2015-03-13 16:43] drewolson commented on #657
I created a public example[1] of this approach as well.

[1] - https://github.com/drewolson/blox/blob/8329dc79e4290b5c70cbe2cf808e914d0257bc26/lib/blox/protocol/poison/encoder/post.ex

[2015-03-13 17:03] jeregrine commented on #699
Also feel free to burn me on my coding style. Only way to get better is through feedback!

[2015-03-13 21:13] josevalim commented on #699
A couple notes:

1. We generally should not rely on the session

2. We can add timestamps to the first solution too if we want. We just encrypt the timestamp, similar to how we do in sessions. I am not sure how this is different from from JWT tokens. There is no need to use timex

I feel like we should ship with something like 1/2 and have guides on how to do 3.

[2015-03-13 21:14] josevalim commented on #699
Btw, Hex needs to store them in the database because they are lifetime and stored in the users computer and not something we can use just for a single session like tokens.

[2015-03-13 21:22] josevalim commented on #657
Nice example @drewolson! Quick question though: shouldn't you pass the options forward to when you call encode instead of passing an empty list?

[2015-03-13 21:41] jeregrine commented on #699
1 - You mean like cookie sessions?

2 - Yea we could, but I’d prefer to not define our own spec when one exists. I’m pretty confident we could work with the creator of Joken to remove all deps but poison. He only used timex for time math convenience. 

I agree we should ship with 1/2 and have guides for 3. 

My gut leans towards JWT because its a standard open spec and used all over. People will h

[2015-03-13 21:41] drewolson commented on #657
@josevalim that's a really good point, I hadn't thought about it. I'll update the example.

[2015-03-14 03:00] chrismccord commented on #699
So @jeregrine  and I have been chatting about this on IRC, and this is a braindump of my thoughts and the types of authorization we have thought about it. Regardless of our choice of Plug vs JWT, we need to figure out the high-level API and usecases.

Two use-cases around tokens/encrypted data have come up:

1. Token generation/verification. Each topic has a unique token generated, and this token

[2015-03-14 13:41] josevalim commented on #699
@chrismccord Thanks for the write up and the code samples. :+1: from here.

Both use cases are the same in my opinion. In the first, you will just encrypt the topic you want to access. In the second, you are adding a payload (in this case, the user id) along side the topics you are allowed to access.

Here are the signatures:

1. `generate_token(conn | socket, topic | [topic], payload)` - generate

[2015-03-14 13:57] josevalim commented on #657
@drewolson btw, have you implemented Poison.Encoder for some default Ecto types like Date, DateTime, Time and Decimal? If so, can you please point me to your implementation so I can add them to `phoenix_ecto`?

[2015-03-14 14:10] jeregrine commented on #699
Its not uncommon for a token to encode what data it has access to. See google macroons paper on distributed auth  http://hackingdistributed.com/2014/05/16/macaroons-are-better-than-cookies/

I'm still on the side of letting the database or letting the user define a system of access. And use just giving arbitraury ways of encoding, decoding and verifying tokens. 

Going with the plug route is fine

[2015-03-14 17:40] bryanjos commented on #699
Don't know if it still matters or not, but I did create an update for Joken with no dependencies and allows the selection of a json module via implementing a behaviour. Looking for any feedback but I think this will end up being the next version.

https://github.com/bryanjos/joken/pull/16

[2015-03-14 20:37] drewolson commented on #657
@josevalim I've only done something for `Ecto.Date`, but I hadn't used an encoder. That's a really good idea, I'll move to it. My current implementation looks something like this -- https://gist.github.com/drewolson/04440d19b837dc6b4652

[2015-03-14 21:16] josevalim commented on #657
Ah, ok. You can probably do something like this too: https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto.ex#L38-L44

[2015-03-14 21:17] josevalim commented on #657
The big question is if we should serialize decimals as a string or as a float. :(

[2015-03-15 04:05] miwee opened #702 "Extracting comma seperated string in query parameters as list of items"
While going through spec at http://jsonapi.org, I found usage of comma for denoting collection of related items. One example is
GET /comments?filter[post]=1,2&filter[author]=12

This is how phoenix processed it
  Parameters: %{"filter" => %{"author" => "12", "post" => "1,2"}, "format" => "json"}

If the above scenario is considered common enough, so that other people might be following this conven

[2015-03-15 04:36] chrismccord commented on #702
I think this is best left up to a plug, which could do the parsing. The problem with auto doing this is we can't be sure things are id's, or just comma delimitted user input for arbitrary fields (common in html forms), so I would prefer something like this be used:

[code]
I think this would make a great little hex package

[2015-03-15 04:36] #702 closed

[2015-03-15 07:57] hamiltop commented on #590
In a similar vein, I'm writing a custom websocket handler that does not fit the mold of channels. I'm able to build it fairly easily on top of `Phoenix.Transports.WebSocket`, which is awesome. However, replying to the socket requires sending a message to yourself that is caught by `websocket_info` and then sent to the client. Seems awkward and inefficient.

[2015-03-15 10:40] chrismccord commented on #590
Phoenix.Transport.WebSocket is an internal API that's not guaranteed to work in the future as we are binding directly to cowboy in this case.

[2015-03-15 10:46] josevalim opened #703 "Live reloading is broken inside umbrella applications"
We can fix this when we move live reloading to `fs`. We just need to write our regular expressions (or whatever we will use to check paths) in a way that it considers only the ending of the path. For example, we will check it ends with `priv/static/.*\.css`.

[2015-03-15 10:47] josevalim commented on #585
@chrismccord I have added `if code_reloading? do` block to endpoints. Once we make `live_reloader` a plugin, we just need to add it there too. This is done! Pew pew pew!

[2015-03-15 10:47] #585 closed

[2015-03-15 15:20] hamiltop commented on #590
Fair enough.

On Sun, Mar 15, 2015 at 3:41 AM Chris McCord <notifications@github.com>
wrote:

[2015-03-16 14:58] chrismccord opened #705 "Fix wording when `--no-brunch` is passed to phoenix.new"
Today the wording is confusing as it says brunch was set up, when in fact it was not.

[2015-03-16 17:09] hunterboerner commented on #286
@thisishugo have you gotten something working. I would love to use this.

[2015-03-16 22:43] hunterboerner opened #706 "mix phoenix.gen.resource does not work"
[code]

[2015-03-16 22:47] chrismccord commented on #706
To fill other's in, @hunterboerner is on Elixir `1.1.0-dev`. I'm unable to recreate this on Elixir `1.0.3`. Perhaps something has changed/regressed in Elixir master?

[2015-03-16 22:47] hunterboerner commented on #706
Yep, I just tested with 1.0.3 so it's definitely a problem with master.

[2015-03-16 23:17] pma commented on #706
https://github.com/elixir-lang/elixir/commit/2024b48d71d6abd81dd0cce99137e405991047ef changed Module.split to expect an atom or a string with prefix "Elixir.".

But Phoenix master seems to reflect this change since  https://github.com/phoenixframework/phoenix/commit/45100119d3527e931767acaa64bb45007bec9b40

[2015-03-16 23:25] chrismccord commented on #706
Ah, thanks @pma. Looks like we're good

[2015-03-16 23:25] #706 closed

[2015-03-17 08:07] josevalim commented on #706
@hunterboerner it is nice that you are using Elixir master but keep in mind that you can run into trouble exactly like these. :) Btw, the change in Module.split to error defintiely caught a bug on Phoenix side.

[2015-03-17 12:52] BennyHallett commented on #646
I started to take a look at this. The 2 main things I can see is that we have dependencies on both Plug and Phoenix.Controller within the Phoenix.HTML module.

I think the Plug dependency is probably ok, but given we're splitting this out from Phoenix, I think we'll need to find a way to not depend on it.

The only issue I can see is getting hold of the csrf token when generating form tags. Am I o

[2015-03-17 12:57] josevalim commented on #646
@BennyHallett to be clear, we are not accepting pull requests for this issue. We will just extract it when it is closer to 1.0. Thanks though! :)

Now, to answer your questions, phoenix_html will likely depend on phoenix. So it is ok to depend on both Plug and Phoenix.Controller.

[2015-03-17 13:05] BennyHallett commented on #646
No worries Jose, thanks.

The reason I ask about the Phoenix dependency was because phoenix_html was mentioned in hex/hex_web#69. I thought it'd be nice for Hex to be able to use the module without having to bring in all of Phoenix along with it.

[2015-03-17 13:06] josevalim commented on #646
@BennyHallett that's a good point. We should consider something like this, maybe by making the controllers imports explicit instead of a module, and then depending just on plug.

[2015-03-17 13:41] lexmag commented on #646
Praise the gods.

[2015-03-17 14:02] josevalim opened #707 "API generator"
Today we have a resource generator that generates pages for a browser. I think we should also include an API generator, that generates a resource but focused on a more API drive approach, including status codes and what not. The only issue is: what should we name this generator?

We have a couple options:

1. Keep a single resource generator and have an --api flag. I don't like this because it is

[2015-03-17 14:05] paulcsmith commented on #707
I love the idea and option 3 makes the most sense to me.

[2015-03-17 14:07] chrismccord commented on #707
+1 for option 3

[2015-03-17 14:18] chrismccord opened #708 "Add path prefix configuration to Endpoint for prefixed path building"

[2015-03-17 14:29] josevalim commented on #708
Nice. We already have a good place for adding this which is here:

https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/endpoint/adapter.ex#L109

And then consider it here:

https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/endpoint/adapter.ex#L130

What should be the name of the option @chrismccord? :prefix? :path?

[2015-03-17 14:35] josevalim commented on #708
Sorry, my comment is wrong, it needs to use script_name.

[2015-03-17 15:06] hunterboerner commented on #706
@josevalim yep, that's why I'm using it. :) Gotta find the bugs.

[2015-03-17 15:18] lancehalvorsen commented on #707
+1 for option 3 as well

[2015-03-17 15:23] josevalim commented on #708
I have pushed this on ec2ce96. It is somewhat incomplete as it requires script_name to be explicitly set but I will work on making it better next.

[2015-03-17 15:49] jeregrine commented on #707
3 :+1:

[2015-03-17 21:13] hahuang65 commented on #657
@josevalim I do this for Ecto.Date and Ecto.DateTime.
Just uses Ecto's builtin functions to convert to ISO8601.

https://gist.github.com/hahuang65/aeadef311a6f8ec44d8e

[2015-03-17 21:13] paulcsmith commented on #657
Note that in the latest version of `phoenix_ecto` you get datetime JSON encoding for free: https://github.com/phoenixframework/phoenix_ecto/blob/716224086e7e2c1bc613e0eaed15d1a1d9d1c808/lib/phoenix_ecto/json.ex

[2015-03-17 21:14] hahuang65 commented on #657
I was just gonna link that :)
Jose's link above is outdated. See Paul's link.

[2015-03-17 22:29] marcioj opened #709 "textarea tag?"
Hi guys, thanks for the awesome work in phoenix framework.

While updating to phoenix 0.10.0, and updating the html to use the new form helpers, I noticed that there is no `textarea` tag. Is there any reason for not include this one?

Thanks in advance!

[2015-03-18 16:13] josevalim opened #710 "Unify long polling and websockets transports when it comes to replaying messages"
Now that we have a process per channel, we have the possibility of changing our channels strategy to always have replaying. We should discuss this and unify both approaches before 1.0, to reduce the chance of bugs by having two distinct implementations.

[2015-03-19 09:34] josevalim opened #712 "Do not use ":" in channel events"
I am frequently confused by the fact events use ":" in their naming. Every time I glance at one, I think it is a topic, then I need to think twice and ask myself which one is it. Since we don't use ":" for anything in case of an events, what if our recommendation is to have them as simple strings and not include ":" in them? This way, if I look at "foo:bar", I know it is a topic, if it is just "fo

[2015-03-19 10:17] essenciary opened #713 "Enhanced Phoenix.HTML.Link"
Doing some development with Phoenix and really missing the conveniences and succinctness of the Rails URLHelper.

Most urgently and importantly:
* the :confirm data attribute (implemented unobtrusively, without external dependencies on JS libraries)
* link_to_if
* link_to_unless

Are they planned or is anybody working on them already? If not, I can take a stab at implementing them.

[2015-03-19 10:22] josevalim commented on #713
Please go ahead! We do need help implementing those conveniences.

[2015-03-19 10:28] essenciary commented on #713
Thanks, will do.

[2015-03-19 11:41] chrismccord commented on #712
:+1: I've thought about this too. For multi-world event names, should we promote hyphens instead?

`chan.send("new-msg")`

[2015-03-19 12:45] josevalim commented on #712
I don't know what is cleaner from the JavaScript side but the Elixir in me simply says: "new_message".

[2015-03-19 15:05] scrogson commented on #712
I actually like the `:` separator. I look at it as a namespace.

[2015-03-19 15:10] josevalim commented on #712
I am ok with having a separator too as long as it is not the same one as the topic. :P

[2015-03-20 00:42] #590 closed

[2015-03-20 03:45] pkoppstein opened #715 "npm issue during installation on a Mac"
I followed the instructions at http://www.phoenixframework.org/v0.10.0/docs
and ran into some kind of npm issue, during the "mix phoenix.new DIR" step.  Everything went well until the "Install brunch.io dependencies?" substep, as shown below.

[code]
In case it's relevant:
[code]

Thanks!

[2015-03-20 03:51] lancehalvorsen commented on #715
Caveat: I'm no npm expert.

This stackoverflow issue may be of assistance:
http://stackoverflow.com/questions/22152162/npm-cannot-install-dependencies-attempt-to-unlock-something-which-hasnt-been

[2015-03-20 05:37] pkoppstein commented on #715
@lancehalvorsen - Thanks for the pointer.  I ran chmod on many directories (including $TMPDIR, /usr/local/bin/, /usr/local/Cellar, but not on /usr/local itself), to no avail.

It is sad that Phoenix has a dependency that makes it so brittle.

[2015-03-20 07:26] josevalim commented on #715
@pkoppstein the dependency won't allow you to serve assets but everything else should work. Plus, if you don't want it, you can skip it completely by passing --no-brunch.

[2015-03-20 10:57] chrismccord commented on #715
Let's be fair – this is exactly the first time this issue has been reported, and as José has said, if you pass `--no-brunch` you can enjoy all the Phoenix has to offer except asset compilation. This does indeed sound like a permissions issue. Can you try upgrading your node installation? `brew update && brew upgrade node`

[2015-03-20 11:36] pkoppstein commented on #715
@chrismccord - Thanks for the suggestion to upgrade node.  That did not quite work, but it did make clear what the problem was: extended permissions on ~/.npm were causing npm to fail when attempting to create ~/.npm/javascript-brunch

The solution:
[code]
Unfortunately, since I upgraded node first, I don't know whether there was a node version dependency after all.  If there is such a dependency,

[2015-03-20 11:59] josevalim commented on #715
@pkoppstein You are welcome! I advise you to bring this question (with a bit mode detail possibly) to the elixir-lang-talk mailing list. I think everyone contributions may make it more productive. :)

[2015-03-20 20:19] #715 closed

[2015-03-21 16:27] scrogson commented on #707
Couple of ideas:

1. Ask the user at runtime:

[code]

2. Split generators into separate tasks `phoenix.gen.model`, `phoenix.gen.controller`, `phoenix.gen.template`, and `phoenix.gen.scaffold`.
  * The scaffold would invoke `model`, `controller`, and `template` generators.

I think I prefer option 2 here, because it will allow users to generate only what they need.

Thoughts?

[2015-03-21 16:32] josevalim commented on #707
Having `phoenix.gen.scaffold` does not solve the problem because the plan is to have two "scaffolds", one for HTML and another for JSON. Hence the format proposal.

However, you are right, once we get to implement this, we need to break the generators apart anyway. We need at least a model generator since both "HTML" and "JSON" generators will need it.

[2015-03-21 16:46] scrogson opened #718 "Generate application skeleton from anywhere"
Currently you have to clone `phoenix`, `mix deps.get`, `mix compile`, `mix phoenix.new ~/code/my_app`, `cd ~/code/my_app`, `mix deps.get`, `mix compile`,  ... before you're ready.

It would be nice if you could simply generate a new phoenix application from anywhere `mix` is available. I believe this would require `phoenix` to be installed as an `mix archive` or something?

[2015-03-21 16:47] #708 closed

[2015-03-21 16:47] chrismccord commented on #718
This is on the roadmap. If it's not already an open issue, this can be the todo

[2015-03-21 16:51] josevalim commented on #718
Yeah, we need to make it an escript or an archive. The pros of the archive is that it is easier to install (at least for now) but we will need to guarantee all modules in the archive have an isolated namespace otherwise it would conflict with Phoenix modules. For example, someone with an archive for Phoenix 0.1.0 working on a Phoenix 0.2.0 could have modules coming from different places and crash

[2015-03-21 16:51] scrogson commented on #707
So maybe the `scaffold` generator can ask the user for which format they want?

[2015-03-21 16:54] josevalim commented on #707
@scrogson asking is good for the first time but just the first time. All other times it is an annoyance because I know my options and what I want to generate. Specially for such generators which would be run frequently compared to the new application one which we just run from time to time. That's why I am more inclined towards something like .html asit may lead users to think: "ah, maybe there is

[2015-03-21 16:55] scrogson commented on #679
I wonder if this could be resolved by simply wrapping the injected code from the live reloader in a self calling anonymous function?

[2015-03-21 16:58] chrismccord commented on #679
We'd still need to skip the require.register("phoenix") bit so we don't stomp on that namespace

[2015-03-21 17:21] josevalim opened #719 "Only reload (in live reload) if the file md5 changed"
This should reduce the chance of reloads when no change has really happened.

[2015-03-21 17:38] chrismccord commented on #679
We already custom wrap the code here https://github.com/phoenixframework/phoenix/blob/master/brunch-config.js#L8-L12

So one terrible hack would be to extend the wrapper to check if "phoenix" has been registered, if it has, we register a "phoenix-core" or something and use that for the reloader.. Not sure how I feel about this, but it could be made to work.

[code]

[2015-03-21 17:52] josevalim opened #720 "Allow render in controllers to accept the view"
We should support `render(conn, View, "template")` and `render(conn, View, "template", assigns)`.

[2015-03-21 17:58] ijt commented on #671
The docs don't reflect this: http://www.phoenixframework.org/v0.10.0/docs/channels

[2015-03-21 18:02] chrismccord commented on #671
please direct issues in the guides to https://github.com/lancehalvorsen/phoenix-guides <https://github.com/lancehalvorsen/phoenix-guides>

[2015-03-21 21:50] ijt commented on #671
Got it.

On Sat, Mar 21, 2015 at 11:02 AM, Chris McCord <notifications@github.com>
wrote:

[2015-03-21 22:21] scrogson commented on #720
:+1:

[2015-03-22 06:13] #679 closed

[2015-03-22 06:14] chrismccord commented on #679
iframes to the rescue! I solved this by loading the bundled phoenix.js and code reload script in an iframe, and we just send `window.parent.location.reload()`. All is right with the world again and no nasty JS hack.

[2015-03-22 09:33] josevalim commented on #679
Nice!

@scrogson you should try this out. I am not sure if this is going to work on your case given you are using different domains. @chrismccord you may also want to use `window.top` because of this: http://stackoverflow.com/questions/7545633/parent-location-reload-in-iframe-not-working-ie

I know more about iframe issues than I would like to confess. :(

[2015-03-22 13:28] chrismccord commented on #679
I changed to `window.top` and confirmed it works with a different domain.

[2015-03-23 18:53] essenciary opened #724 "Brunch related error upon "mix phoenix.server" in umbrella apps"
Having an umbrella app with the following structure:
[code]
When running `mix phoenix.server` in the root of the umbrella app, I get:

[code]

Not sure about the side effects yet - might end up with assets not being automatically compiled in development. I'll test and follow up.

[2015-03-23 18:54] chrismccord commented on #724
The only side-effects are assets not being compiled. You need to update your `watchers:` to point to the correct path(s)

[2015-03-23 19:19] chrismccord commented on #724
@essenciary Can you include the inner `apps` dir structure as well as the snippets from your dev.exs's?

[2015-03-23 19:41] essenciary commented on #724
Thanks @chrismccord updating my `watchers:` worked

Maybe it can be made more robust by:
1. extending the `phoenix.new` generator to check the existence of `whatever/here/umbrella_dir/apps/my_app` and confirm by looking for `mix.exs` in `umbrella_dir/`
2. if yes, `dev.exs` could generate the umbrella compatible path instead - potentially by asking the user to confirm.

[2015-03-23 19:53] essenciary commented on #724
@chrismccord
[code]

They're the default configs as I'm just starting to work on a new project. The phoenix app was created directly inside the umbrella `apps/` dir.

web_ui: https://gist.github.com/f07ed0918fc99c000872
feedlex: haven't created the configs per environment yet, just the regular `config.exs` for a `mix new`:
[code]

The issue also occurred on a previous project, after upgrading phoe

[2015-03-23 22:00] josevalim commented on #724
Yeah, we have fixed this bug in master and should be ok in new applications.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-03-23 22:01] #724 closed

[2015-03-25 00:42] #703 closed

[2015-03-25 00:42] #647 closed

[2015-03-25 19:30] anagromataf opened #727 "Submodules not handled correctly"
Creating an project with phoenix.new (version 0.10.0) and using a submodule (e.g., "Web.API") results into an error.

I created a project with ```mix phoenix.new /tmp/web_api  --no-ecto --no-brunch --module Web.API``` and tried to run it as is. Starting the server with ```mix phoenix.server``` compiles everything without an error. But accessing the root results into this error:

    Could not rend

[2015-03-25 19:40] josevalim commented on #727
@anagromataf good catch. You will need to call `plug :put_new_layout, {Web.API.LayoutView, :application}` to your browser pipeline.

[2015-03-25 20:12] anagromataf commented on #727
@josevalim I hacked some kind of namespace support into the Controller. Maybe that would also be an options compared to the view.

[code]

With this I can use ```use Phoenix.Controller, namespace: Web.API``` in my web.ex. If that is also an option, I would do it a bit nicer and provide and pull request. ;-)

[2015-03-25 20:17] chrismccord commented on #727
As José said

[code]
is the best approach. Not code injection required and pipelines work perfectly for these scenarios.

[2015-03-25 20:18] chrismccord commented on #727
I don't think we need any changes on this one. Let us know if you have issues getting the pipelines set up.

[2015-03-25 20:34] anagromataf commented on #727
Thanks for the help. Using the namespace option for the view and the plug it works. Maybe the generated project should contain this als well?

[2015-03-25 21:54] josevalim commented on #727
Yeah, we should leave this open. @chrismccord I was thinking about support namespace in controller... at least for consistency with how views work. Wdyt?

[2015-03-25 22:49] chrismccord commented on #727
@josevalim just explained the need for this, so I can see how a `:namespace` option would remove the need for putting `plug put_view` in every controller. We'll do some more internal discussion on this, but it's probably something we can sneak in for 0.11 if we decide to move forward.

[2015-03-26 00:25] mdav43 commented on #656
[code]

Gives me a error regarding the port. Change to

[code]

[2015-03-26 00:42] bramd commented on #684
It seems, that on Windows brunch is not directly executable. However, by explicitly call npm in the watchers definition and giving the path to brunch as first argument, it works here.

[2015-03-26 06:28] scrogson opened #728 "phoenix.server task doesn't start after installing the phoenix archive"
It seems like the archive collides with running local phoenix mix tasks...

Running:

[code]

I'm not getting a message in the log that cowboy is listening on port 4000 and visiting in the browser results in a web page unreachable error page in Chrome.

Uninstalling the mix archive fixed this.

[2015-03-26 09:42] fatum opened #729 "Performance expectations"
Hi to all!

I started use phoenix for high throughput app and have couple of questions:

* What performance can i expect? Phoenix based on cowboy and i saw very impressive numbers (20-30RPS)

* When i bench simple "hello world" at localhost i get only 2K rps with high latency (150-200msec), i used wrk with 1K concurrent connections. This is my issue only? What is a roundtrip through the full Phoen

[2015-03-26 11:50] chrismccord commented on #728
You need to build/install the archive in the installer/ (not the root
Phx die). You'll also need to rm the archive you just built from ~/.mix/archives

Sent from my iPhone

[2015-03-26 11:52] chrismccord commented on #729
Are you running with MIX_ENV=prod and consolidated protocols?

[2015-03-26 11:59] fatum commented on #729
@chrismccord Yes!

MIX_ENV=prod mix compile.protocols
MIX_ENV=prod PORT=4001 elixir -pa _build/prod/consolidated -S mix phoenix.server

[2015-03-26 13:30] BlakeWilliams commented on #713
@essenciary You still working on this? If not I wouldn't mind attempting it.

[2015-03-26 14:51] josevalim commented on #729
@fatum can you put the app or something similar available somewhere so we can take a look? Also, which Elixir / Phoenix versions are you using?

[2015-03-26 14:56] josevalim commented on #729
Nevermind, I was able to reproduce it in a new app. I will investigate.

[2015-03-26 15:32] josevalim commented on #729
@fatum I have pushed some fixes to master, we had two issues but the biggest one being that static lookup was disabled on production. If you add `cache_static_lookup: true` to your prod config, does it make things better?

[2015-03-26 15:38] essenciary commented on #713
After further discussions with the core team, this basically can be broken into 2 parts:

1. the unobtrusive JS part - where we agreed to:
a. skip support for custom :confirm attribute (as @josevalim said that rails is moving away from it) and just add it as a normal "data-" attribute. So nothing to be done here.
b. port the rails' jquery-ujs

2. link_to_if / link_to_unless - where we haven't disc

[2015-03-26 16:27] #728 closed

[2015-03-26 16:48] chrismccord commented on #713
I'm not convinced `link_to_if` and `link_to_unless` are neccessary. These are not helpers I've ever used and can be easily achieved with a wrapping `<%= if expr do %><%= link "something", to: ... %><% end %>`. I'll let others chime in though. Maybe these is a highly used feature by others?

[2015-03-26 17:01] djm commented on #713
@chrismccord I have to agree with that.

Not coming from the world of Rails, I had to look up what the functions did and having done that I'm now certain I'm missing something that they do as otherwise they just seem to take what would otherwise be perfectly good HTML and turn it into a function call.

For frontend developers that do not know a template system in depth it would seem you solution i

[2015-03-26 17:06] sorentwo commented on #713
I would much rather see a jquery-less port of ujs included. Less overhead for a rather small set of features, not likely to conflict with other bundled assets. I'm willing to do the porting if desired.

[2015-03-26 17:09] chrismccord commented on #713
Can someone clarify what all is provided with the port? Are we talking about the `remote: true` stuff in rails, or just data-confirm?

Agreed. If we go this route, we already provide a private `Ajax` object in phoenix.js

[2015-03-26 17:09] paulcsmith commented on #713
`link_to_if` can be very useful for pagination for example `<%= link_to_if @more_pages?, "next", next_page_path %>` or anytime you don't want to totally remove a link, just show that it won't do anything (post can't be deleted if it's already been published for example). I'm not sure this is worth having a helper for, but those are some use cases.

[2015-03-26 17:12] paulcsmith commented on #713
@chrismccord The most useful ones would be `data-confirm`, allowing links to make post requests (for sign out, delete, etc.) and disabling submitted forms. The disabling of submitted forms is a really handy one to prevent duplicates and to show loading states on forms.

[2015-03-26 17:19] fatum commented on #729
Yes, with cache_static_lookup: true result little better (it was 0.10)

[code]

But, when i checkout master i get error

[code]

[2015-03-26 17:20] chrismccord commented on #713
We already support this:

[code]

Just to be clear, this is the same as `<%= if @more_pages?, do: link "next", to: next_page_path(@conn) %>` right?

[2015-03-26 17:21] paulcsmith commented on #713
I didn't realize `method: :delete` was supported. Awesome :+1:

`link_to_if` is unclear. It isn't the same. link_to_if will link if the condition is true, otherwise display the text without a surrounding anchor tag

[2015-03-26 17:22] chrismccord commented on #729
Update your `plug Phoenix.CodeReloader` in your endpoint.ex to be:

[code]

Then re-run your measurements.

[2015-03-26 17:29] chrismccord commented on #713
@paulcsmith thanks for clarify. 6 years of doing rails and I never knew the semantics of those methods. The if/else approach is 100x more clear imo, at the small cost of possibly duplicating the link text.

[2015-03-26 17:42] fatum commented on #729
Thanks, it works, but result not changed.

Only i have this result?

[2015-03-26 17:58] paulcsmith commented on #713
No problem. Yeah it is a tricky method. It's useful if you remember what it does, but it's not immediately obvious.

[2015-03-26 19:14] lancehalvorsen commented on #656
@mdav43, where are you seeing this task invocation without the port specified? I can't seem to find it in the repo or on the site.

[2015-03-26 19:37] josevalim commented on #729
I got 8k req/s on my machine with logging. About 16k with logging only
warn. If you have a simple app, I would love to take a look and give
pointers.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-03-26 21:00] essenciary commented on #713
In regards to the jQuery / jQuery-less ujs - initially I was thinking too that it's better to go the jQuery-less way, but after doing a bit of research, I changed my mind considering that:
+ sooner or later Phoenix will probably achieve feature parity with rails' ujs because there are useful functionalities in there (https://github.com/rails/jquery-ujs/blob/master/src/rails.js). If we start with t

[2015-03-26 21:01] mdav43 commented on #656
Sorry @lancehalvorsen , just in the above example from jose.

[2015-03-26 21:08] lancehalvorsen commented on #656
@mdav43 ah, ic.  :+1:

[2015-03-26 21:27] sorentwo commented on #713
* While Phoenix's UJS implementation may achieve feature parity it doesn't need to copy Rails wholesale, much like the rest of Phoenix. Hand picking some of the most desirable features (confirm, disable, remote) is a great place to start.
* jQuery had approached ubiquity, but that trend has been declining. It seems that the decisions made for Phoenix thus far have steered toward the simplest small

[2015-03-26 23:46] bhogancvtc commented on #713
Just chiming in. I strongly miss link_to_unless_current. I have used that forever  as it makes doing a navbar incredibly easy. I've never used link_to_if, but I can see its use as well.

[2015-03-26 23:48] napcs commented on #713
Just chiming in. I strongly miss `link_to_unless_current`. I have used that forever as it makes doing a navbar incredibly easy. I've never used `link_to_if`, but I can see its use as well.

[2015-03-27 01:06] sorentwo commented on #713
Here's a list of the UJS enhancements in question, as scraped from the [jquery-ujs tests](https://github.com/rails/jquery-ujs/tree/master/test/public/test):

* call-remote - AJAXify links
* csrf-refresh - Refresh the CSRF token remotely (not sure about this one)
* csrf-token - Inject the CSRF token into forms automatically
* data-confirm - Use a confirmation dialogue to prompt before an action
* d

[2015-03-27 07:35] fatum commented on #729
@josevalim @chrismccord Thanks for your help!

pointers.

Thanks, but I just bench fresh new app with one controller which set status 200 and body "hello world", if nobody in community got result like me, i think this is my local case

In my toy test i want to measure what is a roundtrip through the full phoenix stack and, when i set logging only warn i got ~ 8K rps on my old laptop with wrk runni

[2015-03-27 07:35] #729 closed

[2015-03-27 18:18] scrogson commented on #713
Before anyone goes porting stuff...take a look at this: https://github.com/hauleth/vanilla-ujs

[2015-03-27 19:18] sorentwo commented on #713
@scrogson: Awesome find.

[2015-03-28 20:28] chrismccord opened #732 "Fix RedisServer and RedisConn EXIT semantics"

[2015-03-29 05:45] endel commented on #718
The PHP ecosystem have a [`composer create-project`](https://getcomposer.org/doc/03-cli.md#create-project) command. Maybe `mix` could have a feature like that.

[2015-03-30 11:51] rossjones opened #733 "NPM Brunch installation failure"
If you choose not to install the brunch dependencies at ```phoenix.new``` (0.10.0)  time you are told:

[code]

If however you chose Yes at ```phoenix.new``` time, **and the installation fails** (connecting to github :( ) you are no longer instructed that you can use ```npm install``` in the app folder to get the same result.

[2015-03-30 13:57] chrismccord commented on #733
I don't think we need to worry about this one tbh. The output after you answer yes says "running npm install", so I think we're ok.

[2015-03-30 13:57] #733 closed

[2015-03-30 16:46] #719 closed

[2015-03-30 16:47] josevalim opened #735 "Digest, gzip and generate manifest files for assets"
We need to do this before Plug 1.0 as we need to figure out how digest files will be served by Plug.Static.

[2015-03-31 03:13] chrismccord commented on #674
Pending in #737

[2015-03-31 03:13] #674 closed

[2015-03-31 15:51] #718 closed

[2015-03-31 15:51] josevalim commented on #718
In maaaaaster!

[2015-03-31 15:51] #712 closed

[2015-03-31 15:53] josevalim opened #738 "Error messages in v0.11.0 can cause errors"
That's because error messages are not always strings:

https://github.com/phoenixframework/phoenix/blob/master/priv/templates/resource/form.html.eex#L7

[2015-03-31 15:58] paulcsmith opened #739 "RFC: JSON serialization helpers"
## The Rundown

First, I'm writing this pretty quickly when I have spare time so it isn't organized as well as I'd like. *Feel free to ask lots of questions*. Code examples are at the bottom.

**The problem**

When serializing JSON there is still a lot of boilerplate functions being defined. A lot of typing what could (fairly) easily be inferred (view names, actions names, etc.).

**The solution**

[2015-03-31 16:36] paulcsmith commented on #739
BTW, I would be happy to create a PR once I get some feedback on what people like/dislike.

[2015-03-31 20:44] josevalim commented on #739
@paulcsmith great rundown, thanks for this! Here are my thoughts:

  * `render_one` and `render_many` definitely need to be included. That's for sure our starting point.

  * "By default they use the view's Base (App.V1.PostView -> App.V1)" we can't actually do this unless they are macros, which pushes me more towards a no-go. We can inflect it based on the model name (i.e. basically `App.User` be

[2015-03-31 21:22] #738 closed

[2015-03-31 21:42] paulcsmith commented on #739
@josevalim Thanks for the feedback!

I've tried this function and it works without a macro. If you call it from `App.V1.PostView` and pass it a `App.User` struct it will return `App.V1.UserView`.

[code]
I wrote this quickly and it could obviously use some cleanup :P, but it works. No macros needed :)

I never thought of using these for HTML. Good point! Maybe we could have a default template and

[2015-03-31 21:47] josevalim commented on #739
In your example you are using the model as basis. Not the view. So that will definitely work. :) The simplest implementation would be:

[code]

:-1: for singular and plural. We have done tons of work on Phoenix to *not* have plural and singular, so I wouldn't introduce them now. :) Just explicitly define the index view and we are fine.

[2015-04-01 11:16] josevalim commented on #739
@paulcsmith I think we agree with everything else though. That said, can you please send a pull request for `render_one`/`render_many` with the signatures proposed earlier:

[code]

* We are inflecting the view, as you proposed
* The template name is explicit
* The render parameter will be inflected from the *view* but can be configurable with `:as`

Those can be directly added to `Phoenix.View`.

[2015-04-01 13:01] josevalim opened #741 "Add a channel generator"

[2015-04-01 14:17] paulcsmith commented on #739
Sounds good! Thanks for laying that out clearly I'll work on a PR.

[2015-04-01 15:37] jeregrine commented on #739
:+1: Here I thought @josevalim had merged these already!

[2015-04-02 17:59] laurocaetano commented on #735
I'm working on this one!

I'll open a W.I.P Pull Request as soon as I get something working.

[2015-04-02 18:41] jeregrine opened #743 "phoenix.new not asking if you want to install ecto"
`mix phoenix.new app --no-brunch` did not ask me to install ecto or not.

[2015-04-02 19:48] josevalim commented on #743
We are not going to ask for everything. We just decided to ask about npm and mix in case you don't have internet connection or you are sure you want to customize stuff before.

[2015-04-02 19:48] #743 closed

[2015-04-02 21:02] laurocaetano commented on #735
I have some questions:

1 - How the links will work? Example: A CSS that points to an image.
[code]
How can we make it point to the digested file?

2 - How it will be integrated with third party assets? One [example](https://github.com/rails/sprockets/blob/master/UPGRADING.md#preference-for-asset-manifest-and-links) is how links works on sprockets.

I'm completely new to phoenix codebase, so I mig

[2015-04-02 21:08] josevalim commented on #735
That's a very good point we will need to discuss them eventually. I think we can leave them to a later stage though since our static system will still serve image.png with conditional cache.

[2015-04-02 21:28] laurocaetano commented on #735
That's great, thanks!

[2015-04-03 13:53] josevalim commented on #732
Wait, we still need to call shutdown on terminate and receive the EXIT
message on both. The change is that we should not call shutdown *only* in
the exit message.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-03 13:58] chrismccord commented on #732
Since we link with redo, do we need to call shutdown?

[2015-04-03 14:20] josevalim commented on #732
@chrismccord terminate is also called for normal exits.

[2015-04-03 19:36] josevalim commented on #732
I am reopening this. :)

[2015-04-04 01:51] #732 closed

[2015-04-07 12:38] DevL opened #745 "Deprecation warnings with Plug 0.11.2 and Phoenix 10.0"
Plug 0.11.2 deprecates `Plug.Builder.compile/1` and `Plug.Builder.compile/2` in favour of `Plug.Builder.compile/3`.

[code]

[2015-04-07 12:44] DevL commented on #745
This is already fixed in master.

[2015-04-07 12:44] #745 closed

[2015-04-07 18:19] josevalim opened #748 "Generate test files in phoenix.gen.html and phoenix.gen.model"

[2015-04-07 20:57] #172 closed

[2015-04-08 14:51] laurocaetano commented on #735
Hi there!

I've been working on this issue the past few days and I have a draft for the implementation: https://gist.github.com/laurocaetano/ee876a71fc0c32afa6dd What do you think?

How is this going to work on Phoenix? Is it going to be a new mix task or something?

[2015-04-08 16:12] 2kodes opened #750 "mix phoenix.server doesnt start endpoint"
Hi

After creating a new phoenix v0.11.0 project, running mix phoenix.server in the project directory in dev mode doesnt start the endpoint or server. It only works after setting the config "server" for the endpoint to true. I believe the default behaviour was to flip it on to true automatically?? :(
I am using elixir 1.0.4  with erlang 17.4

[2015-04-08 16:22] 2kodes opened #751 "Error when running in prod mode"
I am using elixir v1.0.4 with erlang 17.4
Currently in a freshly generated phoenix v0.11.0 project running
MIX_ENV=prod mix phoenix.server
or

MIX_ENV=prod mix compile.protocols
MIX_ENV=prod PORT=4001 elixir -pa _build/prod/consolidated -S mix phoenix.server

results in the stacktrace below

Generated ecto app
==> phoenix_ecto
Compiled lib/phoenix_ecto.ex
Compiled lib/phoenix_ecto/json.ex
Compiled

[2015-04-08 16:23] josevalim commented on #751
You no longer need to do the protocol dance with Elixir v1.0.4.

[2015-04-08 16:25] 2kodes commented on #751
the protocol dance..lol
May i please know the correct way to run phoenix in production mode??

[2015-04-08 16:34] josevalim commented on #751
`MIX_ENV=prod PORT=4001 mix phoenix.server` should be enough now. I will try to verify your reports soon.

[2015-04-08 16:36] drewolson opened #752 "URL parameters should be encoded using to_param"
After upgrading to phoenix 0.11.0, I have a path helper that isn't working.

[code]

This now fails with the following error:

[code]

@josevalim and I discussed on IRC and I'm opening this issue at his request.

[2015-04-08 16:42] 2kodes commented on #751
thanks .. tried but still the same.:(  however i will wait for the results on your end. Perhaps i might be doing something wrong or have a faulty configuration somewhere

[2015-04-08 16:42] josevalim commented on #750
I cannot reproduce this. The generated Phoenix application worked out of the box just fine. Are you upgrading an existing application?

[2015-04-08 16:50] 2kodes commented on #751
yipeeee..
@josevalim   Setting "server" setting for the Endpoint to true in prod.exs under the config folder makes it work with MIX_ENV=prod PORT=4001 mix phoenix.server   :)

However theres another issue I think.
running MIX_ENV=prod mix phoenix.server  without setting the port seems to give a stacktrace similar to above. It seems the config is expecting the port to be given in prod mode???

[2015-04-08 16:54] josevalim commented on #751
The stacktrace is horrible. You either need to set the PORT=... or configure your port properly.

[2015-04-08 16:55] 2kodes commented on #750
No i am not upgrading an existing application.
PS: I generated the application with the --no-brunch option. Is there a possibility of this being the cause??

mix phoenix.new   my_app  --no-brunch

[2015-04-08 17:05] chrismccord commented on #750
Can you include your dev.exs  contents?

[2015-04-08 17:05] josevalim commented on #751
Are you sure you have a new Phoenix application? I think you are missing the `compilers: [:phoenix] ++ Mix.compilers` option in your mix.exs...

[2015-04-08 17:05] #751 closed

[2015-04-08 17:06] #750 closed

[2015-04-08 17:07] josevalim commented on #750
I think you changed your `mix.exs` somehow. In any case, you have uncovered a bug, this is fixed in master! :D Thank you!

[2015-04-08 17:09] 2kodes commented on #751
no. the contents are as follows :

defmodule Evo.Mixfile do
  use Mix.Project

  def project do
    [app: :evo,
     version: "0.0.1",
     elixir: "~> 1.0",
     elixirc_paths: elixirc_paths(Mix.env),
     compilers: [:phoenix] ++ Mix.compilers,
     build_embedded: Mix.env == :prod,
     start_permanent: Mix.env == :prod,
     deps: deps]
  end

  # Configuration for the OTP application
  #
  #

[2015-04-08 17:13] 2kodes commented on #750
@josevalim  You are welcome . Glad to have helped. :)

[2015-04-08 17:15] 2kodes commented on #750
@chrismccord

use Mix.Config

# For development, we disable any cache and enable
# debugging and code reloading.
#
# The watchers configuration can be used to run external
# watchers to your application. For example, we use it
# with brunch.io to recompile .js and .css sources.
config :my_app, MyApp.Endpoint,
  http: [port: 4000],
  debug_errors: true,
  code_reloader: true,
  cache_static_lookup:

[2015-04-09 02:20] parkerl commented on #748
I'd love to take a stab at this @josevalim if you are not already working on it.

[2015-04-09 02:26] chrismccord opened #754 "Add Phoenix.ChannelTest"
Started in #652 . Adding here for 0.12 milestone.

[2015-04-09 02:28] chrismccord commented on #752
So I'm assuming we need to recursively walk the values and call to_param?

[2015-04-09 06:04] josevalim commented on #752
I wanted to change Plug to receive a function here:

https://github.com/elixir-lang/plug/blob/master/lib/plug/conn/query.ex#L157

Which would be called here instead of `to_string/1` (to string is the default though):

https://github.com/elixir-lang/plug/blob/master/lib/plug/conn/query.ex#L193

Then we can just pass to_param as argument here:

https://github.com/phoenixframework/phoenix/blob/master

[2015-04-09 06:05] josevalim commented on #748
@parkerl I have already started on the test files for phoenix.gen.model, so feel free to tackle the ones for phoenix.gen.html.

[2015-04-09 06:36] hahuang65 opened #755 "Code reloader doesn't properly load in dev environment"
In the upgrade instructions from 0.10 to 0.11, it states that we should add
`config :your_app, Your.Endpoint, code_reloader: true`
in config/dev.exs file.

Then, to support this option, we need to actually load the code reloader, which we do by adding
[code]
in lib/your_app/endpoint.ex

This is working great, but only when the Endpoint is up and running.

When running anything that doesn't kick up

[2015-04-09 06:50] hahuang65 commented on #755
Sorry, this was a false alarm. @josevalim made me aware that Phoenix.LiveReloader is separately required as an external dep.

I removed it. It might help to make this clear(er) on the upgrade guide. If it's there, I apologize to have missed it.

[2015-04-09 06:50] #755 closed

[2015-04-09 09:46] sononix opened #756 "The task phoenix.new could not be found"
Getting a "The task phoenix.new could not be found. Did you mean 'phoenix.server'?"

running something like this for my startup -
[code]

[code]

[2015-04-09 13:13] parkerl commented on #748
On it!

[2015-04-09 13:30] gjaldon commented on #741
Hi @josevalim! I'd like to take this on if no one else has worked on it yet.

[2015-04-09 14:15] chrismccord commented on #756
The new task is now available as a mix archive so you can skip the git clone dance:

    mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.11.0/phoenix_new-0.11.0.ez

Now `mix phoenix.new` will be available from anywhere on your system.

[2015-04-09 14:15] #756 closed

[2015-04-09 16:11] josevalim commented on #741
please go ahead :)

[2015-04-09 16:55] jeregrine commented on #699
Just a heads up for all those following along. We're going to just use Plug based tokens. If anyone else has feedback let me know. Plan on implementing this for 0.12.0

[2015-04-09 16:55] josevalim commented on #739
@paulcsmith have you started any work on this? I want to pick this up as it is on my bucket for 0.12.

[2015-04-09 17:02] paulcsmith commented on #739
I'm on vacation and won't be able to work on it for a few more days. I started on it but it's not worth pushing up. Feel free to tackle it if you need it soon!

[2015-04-09 17:03] josevalim commented on #739
@paulcsmith ok, thanks. Enjoy the vacation!

[2015-04-09 17:06] paulcsmith commented on #739
@josevalim thanks! :)

[2015-04-10 09:34] lsimoneau opened #759 "Decimal ecto fields specified in mix phoenix.gen.html create number fields in the HTML"
Example:

[code]

At least in Chrome, this makes it impossible to submit the form with a decimal input.

![screen shot 2015-04-10 at 7 31 24 pm](https://cloud.githubusercontent.com/assets/31768/7085251/41b92480-dfb8-11e4-9b80-848c7e06082c.png)

It's easy enough to change the template back to a text field, but it seems like it would be best to only output a number field for integer columns.

[2015-04-10 09:35] josevalim commented on #759
Yes, defnitely, please send a PR?

[2015-04-10 09:36] josevalim commented on #759
Another option is this: https://blog.isotoma.com/2012/03/html5-input-typenumber-and-decimalsfloats-in-chrome/

Just add step: "any" to float and decimals.

[2015-04-10 09:38] lsimoneau commented on #759
Yep, ok, I'll have a look at making a PR for this (using `step: "any"`, that seems like the best solution).

[2015-04-10 10:38] lsimoneau commented on #759
Ok, I've had a look into the code, and I'd like to know what others think before diving in. Looking at the `inputs/1` function [here](https://github.com/phoenixframework/phoenix/blob/1ebea0bd1651a03914c6bd455c4be69bf1033108/lib/mix/tasks/phoenix.gen.resource.ex#L69), a two-element tuple is passed along in the bindings to the template, in the form `{ :name_of_field, :form_helper_function }`. In ord

[2015-04-10 10:47] lsimoneau commented on #759
Alternately I could just make decimals and floats output a text field. That feels kind of like giving up, but at least avoids the bad experience of generating a form that doesn't work at all.

[2015-04-10 10:49] josevalim commented on #759
@lsimoneau If you do a 3 tuple, something like this would be the best:

https://github.com/phoenixframework/phoenix/blob/1ebea0bd1651a03914c6bd455c4be69bf1033108/lib/mix/tasks/phoenix.gen.model.ex#L98

Another alternative is to generate the whole input as a string still in the generator: "number_input f, #{inspect field}, step: "any"`

I think this may be the cleanest approach and support more rob

[2015-04-10 10:53] lsimoneau commented on #759
We can't just use a single string, since the `index` and `show` templates use those tuples to output the headers of tables using the field names. Although I guess we could have 2-element tuples of `{ :field_name, :whole_input_string }`?

[2015-04-10 11:00] josevalim commented on #759
@lsimoneau we can make the second element of the tuple the string. The index view cares only about the key. :)

[2015-04-10 11:12] lsimoneau commented on #759
Sounds good :+1: On it.

[2015-04-10 13:49] #759 closed

[2015-04-11 11:45] laurocaetano commented on #735
I think this can be closed now, right?

[2015-04-11 11:56] #735 closed

[2015-04-11 12:37] josevalim opened #763 "Ask instead of saying sorry when it comes to npm"
Today we are generating brunch assets and then telling people that it won't work if they don't have npm. Maybe we could flip it a bit.

If the user does not have npm in his system, we should ask them: "Phoenix uses a node.js build tool called brunch.io but you don't have node.js in your system. Would you like to skip the build tool setup?".

If the user say yes, we go with static, if the user says

[2015-04-11 13:45] chrismccord commented on #763
This is what we did at first, before we changed to the `--no-brunch`, so I would be fine with this.

[2015-04-11 17:13] #763 closed

[2015-04-12 15:04] parkerl commented on #748
@josevalim I'm looking for some feedback on that second SHA above. (Github is doing something unhelpful by displaying the first) Am I on the right track? What else should the generated tests be testing? Also, the tests generated by this implementation will not be green without user intervention. I'm not dynamically generating valid params for create and update. I assume that generating those would

[2015-04-12 17:24] josevalim commented on #748
@parkerl This looks *fantastic*. I have added some comments but those comments are because we (phoenix + plug) are lacking the tools to make those tests more elegant. So we will need to improve the surrounding area a bit.

About the params, good question. Maybe we should define an attribute:

    @user_params [name: "foo", age: 0]

And pass those as argument on create and update so we at least don

[2015-04-12 20:15] parkerl commented on #748
@josevalim oh great! I will see what I can do on the params issue when I get a few more free minutes. One more thing, views do not appear to have much in them when they are generated beyond boilerplate. Do we want a boilerplate test file generated? A good 'ol `1 == 1`?

[2015-04-12 20:21] parkerl opened #766 "Running phoenix.new multiple times results in duplicated database configs"
I ran this command `mix phoenix.new ../../scratch` and then ran the exact same command again and entered `n` for all the overwrite responses. As you can see here in the commit below the database config is duplicated.

https://github.com/parkerl/scratch/commit/760268be580f172b989d63da07294bf629087d4e

[2015-04-13 08:27] erickhsiao commented on #169
It may out of topic, but wondering anyone interesting about adding <a href='http://sendy.co' target='_blank'>sendy</a> into this layer

[2015-04-13 11:10] chrismccord commented on #169
Whatever we end up providing will be adapter based, so sendy support would be possible with a third-party package. We've got some other areas to finish up before this though.

[2015-04-13 11:13] chrismccord commented on #766
I'm assuming we append to *.exs and that's why yo get the dup. I think this is OK to be honest. The preferred upgrade path is usually a manual one. Running `mix phoenix.new` on top of an existing project is always going to require a bit of fiddling after the fact to get things right.

[2015-04-13 11:13] #766 closed

[2015-04-13 17:44] #739 closed

[2015-04-13 17:45] josevalim commented on #739
I have pushed this. Thank you for the write up @paulcsmith. Although reluctant at first, I really like your idea of "inflecting" the view as it allows us to render a collection of different models dynamically. :+1:

[2015-04-13 17:52] paulcsmith commented on #739
@josevalim You're welcome, and thanks for implementing. It looks great!

[2015-04-13 17:58] jeregrine commented on #657
@josevalim we can probably close this one in conjunction with #739 ?

[2015-04-13 18:10] josevalim commented on #657
render_one and render_many are a huge step but not everything.  What is left are the generators + guides but we can tackle it on the side.

[2015-04-13 18:10] #657 closed

[2015-04-13 18:21] parkerl commented on #766
Thanks @chrismccord that is totally reasonable. I ran into this while working on the test generators. I was running it multiple times with `--dev` to update the scratch app I was using to fiddle with the generators. I was not using the default database setup for dev. I will fix that but perhaps that is not the best workflow?

[2015-04-13 19:26] chrismccord commented on #766
It would be very difficult to us to make any guarantees when running phoenix.new over top of an existing app. I'd prefer to leave this as is and rely on `git diff` and version control to handle the rest of job.

[2015-04-13 20:33] parkerl commented on #766
Yup. Totally get it. Wasn't trying to argue against closing the issue. Thanks.

[2015-04-14 07:25] kamilc commented on #169
My few cents is that my mailman library (https://github.com/kamilc/mailman) has been updated not too long ago. I have integration with the Mix.Config soon too to make it easier to integrate the library wherever one pleases.

[2015-04-14 07:26] kamilc commented on #169
Oh and mailman **is** adapter based

[2015-04-14 09:20] josevalim opened #767 "Provide sent/2, sent_html/2, etc in connection test"
Today, we want at least to assert three things in a controller test:

1. What is the status code
2. What is the content type
3. What is the response body

The only way to do this if with 3 assertions today:

[code]

This approach is, however, very verbose. I would like to introduce some helpers to make it easier for us to assert those things. For example, we could rewrite all above as:

[code]

`s

[2015-04-14 10:47] chrismccord commented on #767
I like these a lot :+1

[2015-04-14 14:18] batate commented on #767
I like the concepts very much too.

I am not yet convinced on the name or the rollup in sent_html... it reads
poorly and perhaps doesn't separate concerns enough. Perhaps we could base
the assertions on contents of the conn, and provide the various shorthands
that would make this beautiful.

Maybe have options for sent (I think response or responds_with is better)
which would allow users to test a

[2015-04-14 14:28] chrismccord commented on #767
The issue I have with a `response` function is it becomes less obvious what is and isn't supported. If a user is browsing our test docs/code, it would be nice to have an at-a-glance look into what functions they can use and when. Other than a listing of great examples, a catch-all response is going to be less clear. @batate You make a good point about extension. I think José's proposed functions w

[2015-04-14 15:18] josevalim commented on #767
I have talked to @batate and the main concern was with the name. `assert sent_html(conn, ...)` does not read nicely. At the end, we have arrived to the following:

[code]

So instead of `sent`, we are using `response`. The functions work as previously described. This is also semantically better because we were not effectively asserting that something was *sent*, but if a response was *set* or *sen

[2015-04-14 15:27] batate commented on #767
Thanks Jose for a great idea. I like this API a lot.

To clarify, both types of codes would be supported: exact code:

assert response(conn, 200) =~ ...
assert response(conn, 201) =~ ...

or

assert response(conn, :success) =~ ...

which means the code is between 200 and 299, inclusive.

This allows a less restrictive test, supporting both redirect permanently
and redirect temporarily return codes

[2015-04-14 18:19] chrismccord commented on #767
:+1: on `response` and friends. I also like the option to use atoms for the status

[2015-04-14 19:04] duijf commented on #767
Hi all,

New here, but I'd love to try and implement this tomorrow if it isn't already taken :)

[2015-04-14 19:11] chrismccord commented on #767
@josevalim Is already on it

[2015-04-15 09:29] josevalim commented on #752
This is fixed in master.

[2015-04-15 09:29] #752 closed

[2015-04-15 09:37] josevalim opened #768 "Remove inconsistency in "use" inside web/"
Today, inside the web directory we have:

* `use MyApp.Web, :controller`
* `use MyApp.Web, :view`
* `use Phoenix.Router`
* `use Phoenix.Channel`

I would like that all "use" inside the web directory went through `MyApp.Web`. Thoughts?

[2015-04-15 09:44] josevalim commented on #727
Fixed in master.

[2015-04-15 09:44] #727 closed

[2015-04-15 10:47] chrismccord commented on #768
I've had similar thoughts, but we haven't had much of a need for routers/channels. I'm still :+1: since it would be a nice place to group aliases/imports as they come up

[2015-04-15 10:50] #768 closed

[2015-04-15 12:45] #767 closed

[2015-04-15 13:13] josevalim commented on #748
@parkerl let's not generate anything for views. I think they will be mostly boilerplate. I will generate a simple test for the ErrorView but that will be it. I am waiting for your html tests PR, it is almost good to go. :D

[2015-04-15 17:35] parkerl commented on #748
@josevalim sorry, I'm just trying to clean things up and get it out. Hopefully sometime today.

[2015-04-15 18:03] josevalim commented on #748
Don't be! I was not trying to hurry you in any way, it was just a reminder that it is good to go. Take your time. :)

[2015-04-16 08:03] josevalim commented on #748
Just a follow up. This is almost ready! We just need tests for the failure scenarios in create/update and I believe @parkerl is on it.

[2015-04-16 14:10] #707 closed

[2015-04-16 14:10] #748 closed

[2015-04-16 14:57] paulcsmith opened #772 "MyApp.Test, :conn and friends"
Now that Phoenix is getting support for controller and channel testing it might be helpful to have something similar to `MyApp.Web`, but for tests. That way it's easy to extend them with new modules, functions, imports, etc.

[code]

I imagine this file would be auto-generated and go in test/support somewhere.

[2015-04-16 16:28] laurocaetano commented on #617
I'm on this one :)

[2015-04-16 18:37] josevalim commented on #772
We are shipping with two now:

* https://github.com/phoenixframework/phoenix/blob/master/installer/templates/new/test/support/conn_case.ex
* https://github.com/phoenixframework/phoenix/blob/master/installer/templates/ecto/model_case.ex

It doesn't use the same schema as `MyApp.Web` though because it wouldn't work with ExUnit case templates. Also, I think it would be ok to define functions in a cas

[2015-04-16 19:09] paulcsmith commented on #772
Oh I see. I didn't realize that there were templates that were copied to test/support on application creation. I just saw the `Phoenix.ConnTest` stuff . That solves everything I was trying to get at with my proposal. Thanks for the info @josevalim!

[2015-04-16 19:09] #772 closed

[2015-04-17 11:02] jhlllnd opened #776 "[error] backend port not found: :inotifywait"
I get the message
[code]
when running ```mix phoenix.server```

I think i am missing something but i can't find something about phoenix and inotify or inotifywait on google or in the docs. Maybe it has something to do with code reloading?

Edit:
I have Elixir 1.0.3 and phoenix 0.11

[2015-04-17 11:06] josevalim commented on #776
Yes! You need that for live reloading, we need to make the docs/guides better. Install instructions here:

https://github.com/rvoicilas/inotify-tools/wiki

I can improve phoenix_live_reload readme but I am pinging @jeregrine @lancehalvorsen to let them know and figure out if something needs to be done in the guides front.

[2015-04-17 11:43] jhlllnd commented on #776
Thanks, that was what i needed to know :)

[2015-04-17 15:00] #776 closed

[2015-04-17 15:02] JakobHealey opened #777 "Phoenix missing from Web Framework Benchmark"
Even though phoenix appears to be in the Github source, Phoenix is not in the latest benchmarks

http://www.techempower.com/benchmarks/previews/round10/

https://github.com/TechEmpower/FrameworkBenchmarks

[2015-04-17 15:05] chrismccord commented on #777
I would love to see it there if someone wants to setup the test/notify the powers that be. I have other priorities at the moment though. Thanks!

[2015-04-17 15:05] #777 closed

[2015-04-17 16:02] jordan0day opened #778 "Any plans to add support for foreign keys to phoenix.gen.model?"
I'm not sure what the syntax would look like, but It'd be cool to be able to do something like

[code]

[2015-04-17 16:05] chrismccord commented on #778
I feel like it's a bit beyond memorable and wouldn't save much beyond entering it yourself in the migration. I'll let other chime in

[2015-04-17 19:07] josevalim commented on #778
:+1: just because of the index support. We could support `foo:belongs_to` and it generates foo_id in the migration with an index+foreign key and a relationship in the model. Pull request please?

[2015-04-17 19:09] chrismccord commented on #778
make it so

[2015-04-17 19:26] paulcsmith commented on #754
Just a heads up, I'm working on upgrading our internal app to Phoenix 0.11.0 and along with it, the test helpers I wrote. I'm way busy, but I'll see what I can do. @chrismccord When do you want to release 0.12?

[2015-04-18 21:21] josevalim opened #779 "Don't ship with encrypted_salt"
Folks will be using SSL anyway, no need to pay the cost of also encrypting session.

[2015-04-18 21:37] chrismccord opened #780 "Clean up Channel tests"
The channel tests badly need to be cleaned up (my fault). I'm making this a priority now or it will never happen before 1.0

[2015-04-19 18:13] c-rack opened #782 "Rendering of shared view without assigns fails"
Following [the template guide](http://www.phoenixframework.org/v0.11.0/docs/templates#shared-templates-across-views), it is possible to include a shared view (aka partial) by using
[code]
If you try to render a shared view without assigns, a "template not found" exception is raised, because the parent view searches for the key template its own directory instead of the shared directory:
[code]
Pass

[2015-04-19 18:16] josevalim commented on #782
@chrismccord we already added an extra clause to all render/2 functions in views, maybe it is worth adding another way to handle this case?

[2015-04-19 20:17] chrismccord commented on #782
Different clauses or different functions?

[2015-04-19 20:38] josevalim commented on #782
A different clause. If we get an atom as first arg, we need to dispatch to
the view.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-20 11:14] #782 closed

[2015-04-20 15:07] scrogson commented on #779
Closing. https://github.com/phoenixframework/phoenix/pull/786

[2015-04-20 15:07] #779 closed

[2015-04-20 17:45] scrogson opened #788 "Add --adapter option to phoenix.new"
We should have an option to specify which adapter should be used with `phoenix_ecto`. Right now we assume everyone is using Postgres.

[code]

Should it default to `pg` ?

[2015-04-20 18:15] josevalim commented on #788
Yes. There is no reason to default to mysql in 2014.

[2015-04-20 19:54] andrzejsliwa commented on #788
I would consider --adapter as mandatory,
fail quickly... instead of create project with database other than I want

[2015-04-20 19:58] andrzejsliwa commented on #788
@josevalim you mean in 2015 ^^

[2015-04-20 20:00] chrismccord commented on #788
It should not be mandatory. Phoenix is all about sane defaults with ability to override when needed

Sent from my iPhone

[2015-04-20 20:00] scrogson commented on #788
Hmmm...I don't know if I agree here. For instance, Rails defaults to SQLite3 and provides a flag to specify it manually. This allows people to get started quickly and can always be changed. It's really not that difficult to change your adapter dependency is it?

[2015-04-20 20:02] josevalim commented on #788
Oh god. Is it 2015 already?! :D

I agree we should have a sane default. If by any chance you generate an app with the wrong default, you can just start a new one. It is 1 minute of your life you won't get back but at least is much faster than doing everything by hand.

[2015-04-20 20:05] andrzejsliwa commented on #788
I would avoid "opinionated" choices, for me postgres is also database of choice but still we should respect other points of view.

anyway this is not challange about "lets write blog in 5 minutes" ;) nobody is counting time.

[2015-04-20 21:14] josevalim opened #789 "Update brunch dependencies"
We have two git dependencies and they can be updated to proper packages. We should require the latest brunch and sass-brunch though and do a local test just to be sure it works™.

https://github.com/phoenixframework/phoenix/blob/master/installer/templates/static/brunch/package.json#L5

[2015-04-21 16:16] gjaldon commented on #741
Is this channel generator going to generate Channel files for a resource similar to `phoenix.gen.json` and `phoenix.gen.html`? Where instead of a controller we generate a channel which handles incoming CRUD events?

[2015-04-21 17:46] josevalim commented on #741
The channel will generate just the channel (no model for it).

[2015-04-22 00:17] scrogson commented on #789
Closed via https://github.com/phoenixframework/phoenix/pull/790

[2015-04-22 00:17] #789 closed

[2015-04-22 08:31] jeffweiss opened #792 "Phoenix needs stickers"
Can we get a large-ish version of the Phoenix logo (minus the `Phoenix Framework` text or perhaps the text smaller and below the logo)?
Then we can submit to https://www.stickermule.com/products/die-cut-stickers (or other vendor, I'm not partial)

[2015-04-22 08:46] DevL commented on #792
:+1:

[2015-04-22 09:04] h4cc commented on #792
:+1:

[2015-04-22 09:39] Frost commented on #792
:+1:

[2015-04-22 09:46] jeffweiss opened #793 "Exponential backoff for channel reconnect"
@chrismccord said during the ElixirConf EU tutorial that he needed to open an issue for timeout exponential backoff when channels can't connect.

[2015-04-22 09:55] Kosmas commented on #792
:+1:

[2015-04-22 10:04] 2kodes commented on #792
:+1:

[2015-04-22 14:15] williamgueiros commented on #792
:+1:

[2015-04-22 18:01] lstor opened #794 "mix phoenix.server / SASS fails on Windows"
As noted [on the mailing list](https://groups.google.com/forum/#!topic/phoenix-talk/FB4DrpeN1sc), I can't get Phoenix to work on Windows after repeated efforts.

After digging around, it seems that `events.js` is used by SASS. I have been unable to find a work-around myself so far, but it is probably because I'm not familiar with Phoenix and how things fit together. Any help with resolving the err

[2015-04-22 18:14] scrogson commented on #794
The `sass-brunch` package uses `libsass` by default but can be configured to use `ruby` if desired. I think you just need to ensure that you have `libsass` installed.

Here's a couple of (hopefully) helpful links:

https://github.com/brunch/sass-brunch
https://github.com/sass/libsass/wiki/Building-on-Windows

[2015-04-22 18:15] scrogson commented on #794
https://github.com/phoenixframework/phoenix/issues/794#issuecomment-95289125

On Wed, Apr 22, 2015 at 1:01 PM Lars Storjord <notifications@github.com>
wrote:

[2015-04-22 18:16] lstor commented on #794
Checking it out, thanks! I'll report back on how it goes.

[2015-04-22 20:22] lstor commented on #794
I didn't have any luck with using the ruby builder instead, but I'm wondering if perhaps I found another clue as to what is wrong.

I tried regenerating the Phoenix project, and then I noticed this output from npm:

[code]

Combined with the stack trace, my hypothesis is that what's going on is that sass is watching for changed files, and then something fails because the [`fsevents`](https://www.n

[2015-04-22 22:02] chrismccord commented on #794
So phoenix is actually working just fine, it's just your asset compilation through brunch that's failing. In the meantime before you find a fix, you can use phoenix without brunch by passing the `--no-brunch` flag to `phoenix.new`. We had a handful of people at the Phoenix workshop today and brunch was working... mostlyish. One person had to run `brunch watch` directly on cmd.exe and remove the wa

[2015-04-23 02:26] alexdaube commented on #792
![phoenix](https://cloud.githubusercontent.com/assets/8660478/7289460/91105b86-e93e-11e4-8581-3d1182e58f6c.png)

[2015-04-23 04:57] josevalim commented on #794
Can we leave this open? We should ensure brunch works out of the box regardless of the OS they are using.

[2015-04-23 06:28] optikfluffel commented on #792
:+1:

[2015-04-23 09:26] josevalim commented on #794
If we find the person that had issues on windows during the workshop, I
would love to debug it and find out what was wrong.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-23 09:37] chrismccord opened #795 "channels do not terminate when the transport exits normally"

[2015-04-23 09:37] chrismccord commented on #795
@josevalim need to pair up on this at some point

[2015-04-23 19:53] lstor commented on #794
Alright, I've figured it out now =) @chrismccord's comment about running `brunch watch` led me to suspect that maybe the problem was with running brunch. Turns out `brunch` wasn't installed, and when I tried to install it with npm, it failed. I found out that my node and/or npm installations were too old, which meant that brunch didn't install properly.

I simply reinstalled node and npm, and now

[2015-04-23 19:53] #794 closed

[2015-04-23 19:54] chrismccord commented on #794
yay! Sorry for the insta-close. Glad you got it working!

[2015-04-23 20:31] laurocaetano commented on #617
Hi there!

Just pinging here to tell that I didn't fish the first draft, but I'm working on it. I'll open a PR soon :)

[2015-04-24 01:40] skylerparr opened #797 "What is the max upload size?"
And how can I change it?

[2015-04-24 02:13] skylerparr commented on #797
Found it. http://stackoverflow.com/questions/27134219/how-to-upload-a-big-file-from-a-form-to-phoenix

[2015-04-24 02:13] #797 closed

[2015-04-24 15:12] paulcsmith opened #801 "Improve description of mix phoenix.gen.html"
From IRC:

Maybe this should be something like "Generates controller, and HTML files for a resource"?

[2015-04-24 15:14] chrismccord commented on #801
:+1:  PR?

[2015-04-24 16:20] limhoff-r7 opened #804 "Template and view layout incorrect when using nested --module"
I am using `--module` to match the namespacing we do on our Ruby projects, but the `pheonix.new` task generators aren't handling it correctly for the `web/templates`:

# Reproduction Steps

1. `mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.11.0/phoenix_new-0.11.0.ez`
2. `mix phoenix.new elixir-metasploit-pro --module Metasploit.Pro --app metasploit_pro`
3. In

[2015-04-24 16:22] limhoff-r7 commented on #804
I should note, `rails new` also doesn't handle nested namespace well and I have to manually fix them up.

[2015-04-24 16:46] limhoff-r7 commented on #804
I renamed `web/templates/page/index.html.eex` to `web/templates/pro/page/index.html.eex` and I now get `undefined function: Metasploit.LayoutView.render/2 (module Metasploit.LayoutView is not available)`

![screen shot 2015-04-24 at 11 37 41 am](https://cloud.githubusercontent.com/assets/2230482/7323728/65d9b4d8-ea76-11e4-8d77-2fad8538b480.png)

I thought it odd that the LayoutView was being looke

[2015-04-24 17:38] limhoff-r7 commented on #804
Using 893ef92651aaa99f1e47923cb6b9341bf220176d, I get `Could not render "index.html" for Metasploit.Pro.PageView, please define a clause for render/2 or define a template at "web/templates/pro/page".`:
![screen shot 2015-04-24 at 12 19 41 pm](https://cloud.githubusercontent.com/assets/2230482/7324466/3e860048-ea7c-11e4-87b2-f0a591f57d94.png)

So, I did the template move again `web/templates/page/i

[2015-04-24 17:40] limhoff-r7 commented on #804
So, I have work-arounds, so I just need to know if using nested namespace for the `--module` is meant to be supported.  If it is supported, then I'll try to come up with PR to do the work-around I found correctly in `mix pheonix.new` OR if it is NOT supported, then I'll just rename the top-level module to `MetasploitPro` and I'll come up with a PR to check that `--module`'s argument does not conta

[2015-04-24 19:16] lstor opened #805 "Code reloading makes page navigation impossible on Windows"
#### Problem
When clicking a page link, live reload causes the current page to be re-rendered, effectively canceling navigation. Verified on a fresh project too.

#### Example
1. Let's say we're on a rendered `/users` view, and click to edit `/users/1`
2. The browser tries to navigate to `/users/1/edit`.
3. At the same time, the live reload triggers a call to `/users` (the page we're on). The page

[2015-04-24 19:41] endel opened #806 "Brunch: "SyntaxError: Unexpected end of input""
I've installed pixi.js via bower and it worked. But as I import my source files on `web/static/js/app.js` (using ES6 import) the following error pops out randomly:

[code]

**Screenshot:**

![screen shot 2015-04-24 at 4 32 20 pm](https://cloud.githubusercontent.com/assets/130494/7327011/2da23750-eaa0-11e4-85a9-0402e8525361.png)

Note that there is no syntax errors in my sources, since they work ju

[2015-04-24 20:27] limhoff-r7 opened #807 "Default .gitignore should ignore secrets"
`mix pheonix.new` supplies a .gitignore, but it's not ignoring `config/prod.secret.exs` by default.  Additionally, only the production database's password is considered secret, when really all environments databases shouldn't have their password in source control.  Repositories are already leaking their secret_key_base as you can see in this search: https://github.com/search?utf8=%E2%9C%93&q=filen

[2015-04-24 21:03] scrogson commented on #807
@limhoff-r7 https://github.com/phoenixframework/phoenix/pull/717

[2015-04-24 21:03] #807 closed

[2015-04-24 21:06] scrogson commented on #804
@limhoff-r7 this has been addressed in master. See the [changelog](https://github.com/phoenixframework/phoenix/blob/master/CHANGELOG.md#v0120-dev) for more details.

[2015-04-24 21:07] josevalim commented on #804
I don't think this is fixed in master because the generator does not
generate the proper namespace calls... Or do we?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-24 21:11] scrogson commented on #806
I've also had weird issues between `brunch` and `bower`. Would need to know a bit more of your setup to determine the problem.

[2015-04-24 21:11] josevalim commented on #805
Someone reported this issue on the phoenix_live_reload project. I can send
a link tomorrow when I am not in my phone. :)

On Friday, April 24, 2015, Lars Storjord <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-24 21:12] limhoff-r7 commented on #804
@scrogson, I used master when triaging myself.  I said so in https://github.com/phoenixframework/phoenix/issues/804#issuecomment-96009046, and I still needed to make changes.  Please reopen.

[2015-04-24 21:12] scrogson commented on #801
https://github.com/phoenixframework/phoenix/pull/802

[2015-04-24 21:12] #801 closed

[2015-04-24 21:15] limhoff-r7 commented on #804
Here's a patch of the changes I had to make @scrogson

[code]

[2015-04-24 21:26] lstor commented on #805
Do you mean phoenixframework/phoenix_live_reload#7? If so, the causes may be related, but the effects seem to be different. In my case, the page is only reloaded when a link is clicked.

In any case, I didn't realize phoenix_live_reload was its own project, it makes more sense to report the issue there. I'll close this one =)

[2015-04-24 21:26] #805 closed

[2015-04-24 22:00] chrismccord commented on #806
Can you provide the contents of `web/static/js/app.js` ?

[2015-04-25 01:38] chrismccord commented on #804
The changes you needed to perform are expected for an unconventional namespace. I'm not sure if we should accommodate this for the new project generator or not. On one hand it sucks to generate a project that doesn't build by default, but having the nested hierarchy/namespace complexity in the generator is something we'll have to maintain for unconventional edge cases.

Sent from my iPhone

[2015-04-25 15:20] elliotcm opened #809 "Render all GenServer timeouts as 504"
Hi all,

Following [this twitter conversation](https://twitter.com/elliotcm/status/591936265139785728) I'd like to request a feature for the automatic rendering of GenServer timeouts as 504 gateway timeouts.

I can catch these in the controller but it'd be nice to have a fully supported version, or even a way to handle controller-based modifications to error responses.  By the time errors hit Erro

[2015-04-25 15:56] alfert commented on #778
Just an idea after playing with phoenix after the tutorial at ElixirEU Conf:

Wouldn't it be simpler to generate the rest from the ecto model file instead of the command line? For somewhat bigger models the commandline becomes  long and unhandy. The amount  of writing a proper commandline is not that much smaller than editing the model file directlly. Generating the migrations (and the other files

[2015-04-25 21:21] chrismccord opened #810 "Channel message considerations"
After some great discussions at ElixirConf, I'm proposing the following channel additions:

1. All clients will be expected to send a `vsn` on connect, containing the Phoenix version they are expecting to be talking to. This will be very useful later when Phoenix applications need to be migrated up to a new version, with old clients.

2. We should pass an ignore reason when the join returns `:igno

[2015-04-25 21:37] chrismccord opened #811 "Support view fragments"
Having a `yield/content_for` like feature comes up often and I have so far punted on the issue because solutions have required other processes or abusing the process dict. @danielberkompas from irc came up with a  nice solution and we've outlined it as follows:

1. We can inject a `fragment/2` catch-all clause into all views, with an impl like this:

[code]

And then you can use it like this in yo

[2015-04-25 23:40] chrismccord commented on #811
If we wanted to be able to easily scope this to "per template", we could do something like:

[code]

And then you can use it like this in your templates:

[code]

[code]

[2015-04-25 23:42] chrismccord opened #812 "Controller should add :phoenix_template conn assign when rendering"
Will enable #811 and provide testing tool integration point

[2015-04-26 01:28] maxnordlund opened #814 "Test coverage"
This would be very useful to have, and [exocoveralls][1] adds support for Elixir on coveralls.io + travis. However I believe only repo owners can add this.

[1]: https://github.com/parroty/excoveralls

[2015-04-26 01:59] endel commented on #806
After removing files, and blocks of code, I've found the (scary) problem.

When you have a JavaScript block without implementation, just with comments, the "unexpected end of input" errors starts to appear.

[code]

It seems to be a problem with [babel-brunch](https://github.com/babel/babel-brunch), which I've created an issue here: https://github.com/babel/babel-brunch/issues/10

[2015-04-26 04:07] garbles commented on #812
Giving this a go.

[2015-04-26 07:42] chrismcg commented on #811
I'm not sure I like `fragment(:foo, assigns)` doing different things depending on which template it's rendered in. IMHO `fragment(:index_scripts)` and `fragment(:show_scripts)` are much clearer and explicit and not very much more typing. You also wouldn't have to switch to the view to see if there are multiple clauses that might be in play when looking at the template.

[2015-04-26 08:47] josevalim commented on #812
`phoenix_template` or `phoenix_view` and `phoenix_layout`?

[2015-04-26 08:53] josevalim commented on #811
:+1: for @chrismcg feedback.

Also, we can avoid injecting a function into views if we make it a bit more explicit. In the layout, we will call:

    fragment @conn, :my_fragment, foo: :bar

And that will invoke:

    conn.private.phoenix_view.fragment(:my_fragment, foo: :bar)

Ideally, it would be nice if we had different names to avoid confusion, like content_for/yield) in Rails, but we should l

[2015-04-26 08:55] josevalim commented on #811
Actually, it seems we are reimplementing the rendering dispatch. If I could do this in my layout:

    render @conn, "header.html", foo: :bar

It is literally the same I proposed above... the problem is that header.html would be needed on all views (the same with fragment) while in Rails I would usually do:

    render(conn, "header.html", ...) || default

Thoughts?

[2015-04-26 08:56] josevalim commented on #806
Than you for finding the source and reporting the bug! Awesome work!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-04-26 08:56] josevalim commented on #806
I am closing this but if you don't agree, let us know and we will gladly reopen.

[2015-04-26 08:56] #806 closed

[2015-04-26 09:02] josevalim commented on #810
Actually, I was thinking about something similar. Since we have made `join` sync, we should consider allowing actual replays from it. It will happen on spotty connections because we will ensure clients can be updated on join (and the data won't be sent async later on).

I don't think we need to worry about this if our current transport protocols are extensible. For example, let's just guarantee we

[2015-04-26 09:21] chrismccord commented on #811
I had this thought too, but it's not the same because we are in the context of the layout view, but we want to render the fragment from our `@inner` view. `render @conn, "header.html", foo: :bar` would be looking for "header.html" on the layout. We need to dispatch to the `@inner`.

[2015-04-26 09:22] chrismccord commented on #811
Just so we're clear, if we follow the Rails functionality which people are asking for, content_for/yield are controller per template, and are a special case from render because they are dynamic. They may or may not be implemented downstream.

[2015-04-26 09:24] chrismccord commented on #811
@josevalim About as close as we can get is something like this if we stay with just render:

layout:
[code]

Better/worse?

[2015-04-26 09:46] josevalim commented on #811
@chrismccord yeah, something like that is the direction to go. Which one do you prefer: `maybe_render` or `render_if_exists`?

[2015-04-26 09:50] josevalim commented on #809
The biggest issue is that local GenServer calls can also timeout and they shouldn't map to 504. That's why some sort of flag or configuration does not make sense in my opinion.

I would rather explicitly handle the cases you want to eventually become a 504 instead of slipping something globally. If you still want to be global, then @chrismccord solution is the best. You could even do it in the rou

[2015-04-26 09:51] chrismccord commented on #811
What about `render_existing` ? It fits well with our render functions, `render_one`, `render_many`, `render_existing`

[code]

[2015-04-26 09:54] chrismccord commented on #809
I think @josevalim is right. 504 is useful in some cases as becoming a gateway timeout, but not always. In the meantime, you can override call and wrap as needed. Hope that helps!

[2015-04-26 09:54] #809 closed

[2015-04-26 09:58] elliotcm commented on #809
True.  Happy to leave this closed, though I am curious as to what circumstances would lead to an uncaught local call timing out that wouldn't be considered an upstream timeout.  What sort of thing did you have in mind?

[2015-04-26 10:03] chrismccord commented on #812
All 3. We have `phoenix_view` and `phoenix_layout` today, and we can add `phoenix_template` for use within render and test helpers. So things like `assert rendered(conn, UserView, "show.html") =~ "Name:"` are possible

[2015-04-26 10:31] lstor commented on #805
Resolved by [phoenix_live_reload/5c8ffb2](http://github.com/phoenixframework/phoenix_live_reload/commit/5c8ffb2649bcd2c3ec6ab64e0e8204ac2f2414a7).

[2015-04-26 12:23] josevalim commented on #811
:+1:

[2015-04-26 12:25] josevalim commented on #812
`assert rendered(conn, UserView, "show.html") =~ "Name:"`

Please don't :D It makes no sense to test which template was invoked. We just care about the result. I would like to close this unless we come up with an actual use case as #811 likely won't need this.

[2015-04-26 14:09] josevalim opened #815 "Clean up websocket termination"
The documentation for terminate should be:

* `terminate({:shutdown, :leave}, state)` - when the client has explicitly left. called even when not trapping exits
* `terminate({:shutdown, :close}, state)` - when the client connection has been closed. called even when not trapping exits
* `terminate(error, state)` - when there is an error. called only when trapping exits

@chrismccord now I am wonder

[2015-04-26 15:16] chrismccord commented on #812
You are right. As usual! :)  I see how testing the template is just coupling  your test, not giving you anything. JoséConscience™ as a Service

[2015-04-26 15:16] #812 closed

[2015-04-26 15:20] chrismccord commented on #815
Thanks for writing this down. I had forgotten what we decided.

This is what will happen today if you receive a message for which you aren't joined. So no problems there.

It will be sync, so the client can just `chan.leave().receive("ok", () => // gone )`

[2015-04-26 17:23] #811 closed

[2015-04-26 17:25] chrismccord commented on #811
Thanks for the feedback everyone. We get most of what we want, without introducing another concept which is a big win :+1:

@josevalim should we import `view_module/2` and friends or let the user add as needed. Right now without this import/example:

    <%= render_existing view_module(@conn), "banner.html", assigns %>

users won't really recognize they can use this like a dynamic content_for

[2015-04-26 17:32] chrismccord commented on #814
Do you mean for us to add exocoveralls to phoenix or? Sorry not following atm

[2015-04-26 17:35] chrismccord commented on #778
These are my feeling in general, but, I think the generates are really helpful to some folks and a better workflow for them. I resisted generates at first, but now that we have them I see the value in them, especially for folks getting started. So :+1: on this. @scrogson I'm pushing for a 0.12 this week, I'm tagging this as 0.12 milestone. Feel free to punt on it if you don't have time

[2015-04-26 17:37] scrogson commented on #778
I started working on this but got stuck part way through. I'll pick it back
up next week. Might ping you or @josevalim to pair.
On Sun, Apr 26, 2015 at 12:35 PM Chris McCord <notifications@github.com>
wrote:

[2015-04-26 17:57] maxnordlund commented on #814
Yes, I think I wasn't very clear :-) Right now coveralls.io doesn't support Elixir out of the box, but exocoveralls solves that problem. However, as far as I can remember, only repo owners can add their repo to coveralls, which is why I'm asking here. See https://github.com/parroty/coverage_sample for an example.

[2015-04-26 19:23] josevalim commented on #811
We have an import in the view block in `web/web.ex`. We should just add `view_module/2` to the list.

[2015-04-27 15:00] jhlllnd opened #823 "Slow resource_path method"
In my current project, the current time for rendering a view with 100 models takes about 8ms. When I add a simple

```<% vehicle_path(@conn, :show, vehicle) %>```

it jumps up to over 200ms.
I'm not even altering the generated html, I'm just calling the method.

In contrast, the following code does not slow down anything:

```<%= link "Show", to: "/", class: "btn btn-default btn-xs %>```

[2015-04-27 15:04] chrismccord commented on #823
@jhlllnd If you are running in development, it is likely lack of protocol consolidation that is biting you. Please try running in prod with protocol consolidation and report back

[2015-04-27 15:16] jhlllnd commented on #823
Thank you for the fast response :)

It goes away when running in production mode. So all is fine then :)

[2015-04-27 15:23] josevalim commented on #823
Let's keep this open. 200ms is not acceptable even in development. Let's
see if I can speed things up a bit!

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-27 19:16] limhoff-r7 commented on #804
If you want to not support it @chrismccord that is fine.  I'll make a PR to validate `--module`'s argument and disallow `.` in the name then so that people can't do what I did and get a broken file structure then.

[2015-04-27 19:17] josevalim commented on #804
We should support it. It is an easy fix, I am already on it. :)

[2015-04-27 21:18] chrismccord opened #824 "LongPoller joins should send response in same request"

[2015-04-27 21:22] jhlllnd commented on #823
To be clear, its not a single call, it's inside a loop of 100 items...

[2015-04-28 12:02] chrismccord commented on #814
Ah neat. I will look into this. Thanks!

[2015-04-28 12:02] #814 closed

[2015-04-28 14:48] chrismccord opened #825 "Spec all public APIs"

[2015-04-28 14:48] chrismccord commented on #825
Just trolling @jeregrine with the assignee, but this is something we can all take part in as we finalize things for 1.0 :)

[2015-04-28 15:31] chvanikoff opened #826 "Change default DB username/password when generating app with "--database mysql""
Currently it defaults to "postgres":"postgres" and I think it should be "root":"" for mysql. I can send a patch if it's ok.

[2015-04-28 15:42] chrismccord commented on #826
PR please

[2015-04-28 16:20] garbles opened #827 "Extract phoenix.js into it's own repo and npm package"
Since phoenix is using npm to install brunch, would it be a good idea to move phoenix.js to its own repo/npm package? At the moment, separating the library into multiple files and setting up a JavaScript test suite seems cumbersome.

I could create a repo this week and transfer ownership to the phoenixframework org once I'm done.

[2015-04-28 16:21] chrismccord commented on #827
We plan to extract eventually once the churn slows down, but it doesn't make sense for us to extract quite yet.

[2015-04-28 16:21] #827 closed

[2015-04-28 16:49] #826 closed

[2015-04-28 20:18] josevalim commented on #815
Furthermore, `socket.disconnect()` should trigger leave on the server for all channels.

[2015-04-28 20:28] josevalim commented on #815
We have decided that leave should be sync although the leaving  confirmation will be sent by the transport.

[2015-04-28 20:46] josevalim commented on #824
Closing this in favor of new issue.

[2015-04-28 20:46] #824 closed

[2015-04-28 20:47] josevalim opened #829 "Long poller should first search for the process locally and fallback to pubsub only if configured"
The docs should mention how to enable session affinity on places like Heroku or using HAproxy.

[2015-04-28 20:49] chrismccord commented on #829
Brining @lancehalvorsen into the loop here. Nothing to act on yet, but just to keep on eye on these developments

[2015-04-28 20:50] josevalim opened #830 "Allow replies to be sent on join"
The goal here is to allow replies to be sent on join. This will make it easier for clients to catch-up, specially on long polling. We will also change the client so `join()` mirrors message sending:

[code]

The second argument of `socket.chan` is going to be the channel storage/params and they can be updated on demand and always sent on join. We can use this mechanism to implement something like

[2015-04-28 21:22] lancehalvorsen commented on #829
Thanks @chrismccord, will do.

[2015-04-29 14:23] #710 closed

[2015-04-29 14:24] josevalim commented on #576
To be implemented as part of #830.

[2015-04-29 14:24] #576 closed

[2015-04-29 14:32] josevalim commented on #713
Folks, I am closing this. If someone wants to tackle ujs, it will be very welcome. I am not sure how it would fit within Phoenix, even more with the Phoenix HTML project being extracted in the future but it is definitely something people are looking for.

`link_to_if` and friends are also welcome additions but it is worth discussing their APIs. For example, in order to calculate the current path,

[2015-04-29 14:32] #713 closed

[2015-04-29 14:34] josevalim commented on #795
Closing in favor of #815.

[2015-04-29 14:34] #795 closed

[2015-04-29 14:44] josevalim commented on #804
Btw, this was a fantastic bug report.

[2015-04-29 14:49] #804 closed

[2015-04-29 19:15] #815 closed

[2015-04-29 20:03] limhoff-r7 commented on #804
# Test Plan

## Move workaround repository aside
1. `cd ~/git/rapid7`
2. `mv elixir-metasploit-pro elixir-metasploit-pro-804`

## Update to fix commit
1. `cd ~/git/phoenixframework/phoenix`
2. `git pull`
3. `git checkout 97482df`

## Generate new project
1. `cd installer`
2. `mix phoenix.new ~/git/rapid7/elixir-metasploit-pro --app metasploit_pro  --dev --module Metasploit.Pro`
3. Install mix depe

[2015-04-29 21:54] Tuxified commented on #825
@chrismccord sounds like something that should be enforced? like a style guide / rubocop-like check?

[2015-04-30 02:13] chrismccord commented on #825
I'm late to the party of specs. We should promote them, but we are far from enforcing anything.

[2015-04-30 15:13] josevalim commented on #823
I have good and bad news.

* Good news: I know how to make this fast.
* Bad news: we will have to wait until Elixir v1.1.

[2015-04-30 21:57] #823 closed

[2015-04-30 22:01] josevalim opened #832 "Generate implementations of Phoenix.Param on the fly"
Today, `Phoenix.Param` is expensive because falling back to Any is expensive as it implies a code server miss (and therefore traversing the code path).

We can optimize this if we automatically generate implementation for the struct every time we reach `Phoenix.Param`. However, we should only do this if the protocol was not consolidated and currently there is no way to check this in Elixir v1.0. H

[2015-05-01 11:29] skyeagle opened #833 "ssl error on phoenix install"
Hello!

I get an error when I follow the first installation instruction:

[code]

I tried to google it without a succeed. Any help, please.

[2015-05-01 11:31] josevalim commented on #833
You can access the page directly, save the file to your computer and then:

    mix archive.install path/to/file/phoenix_new-0.12.0.ez

And it will be installed.

Btw, can you tell us which Erlang version are you running? Just run `iex` and paste the first three lines or so.

/cc @lancehalvorsen should we add a note to the guides telling manual instructions in case it fails?

[2015-05-01 11:33] skyeagle commented on #833
Thank you!

[code]

[2015-05-01 11:55] skyeagle opened #834 "dependency error on fresh app"
I have just created fresh app with phoenix 0.12.0 and I got dependency error on `brunch`:

[code]

[code]

[2015-05-01 12:01] josevalim commented on #834
Thanks for the report. Can you copy the contents of your `config/dev.exs` file please? Other than that, I would try updating node (I am running on 0.12.x fwiw).

[2015-05-01 12:13] skyeagle commented on #834
I've switched to node 0.12.2 and recreated the app. It doesn't make sense, I have the same error.

config/dev.exs
[code]

[code]

[2015-05-01 12:41] josevalim commented on #834
Sorry, I have no idea what is happening then. :( It is very weird the path it is looking up contains 3 dots:

    Cannot find module '.../node_modules/brunch/bin/brunch'

it is supposed to be only:

    Cannot find module 'node_modules/brunch/bin/brunch'

What happens if you do `npm install` and try again?

[2015-05-01 12:44] josevalim commented on #834
Ok I have one last idea. In your `config/config.exs` you have this:

[code]

If you replace it by:

[code]

Does it fix the error?

[2015-05-01 12:47] skyeagle commented on #834
Dots are appeared here because I replaced my full path with them.

Running `sudo npm install` helped me!

You are extremely helpfull! Thanks a lot!

[2015-05-01 12:47] #834 closed

[2015-05-01 13:31] josevalim opened #835 "Provide a phoenix-static buildpack"
We need a phoenix build pack that is going to compile brunch.io assets on Heroku. The phoenix-static build pack is supposed to play with the existing [Elixir buildpack](https://github.com/HashNuke/heroku-buildpack-elixir) and just add the following steps:

1. Installation and cache of node.js
2. Running `brunch --production`
3. Running `mix phoenix.digest` in the appropriate MIX_ENV to copy the fi

[2015-05-01 21:02] lancehalvorsen commented on #833
I just created an issue in the guides repo for this.

https://github.com/lancehalvorsen/phoenix-guides/issues/213
/cc @josevalim

[2015-05-01 21:06] tsloughter commented on #835
A new Heroku CLI feature that should help with this will land today or tomorrow. I'll update when it is.

[2015-05-02 06:40] josevalim commented on #835
:speak_no_evil:

[2015-05-02 07:01] #833 closed

[2015-05-02 15:19] lstor commented on #835
I personally think using a multi-buildpack approach is better, because then we don't have to maintain the node buildpack.

I've been thinking about writing a guide on how to do this, but a sooper quick rundown is:

1. **Use `heroku-buildpack-multi` as buildpack**

[code]
2. **Add this to `.buildpacks`**

[code]
3. **Profit!**

I'm using this for [patback](http://patback-dev.herokuapp.com) (very WI

[2015-05-02 15:35] tsloughter commented on #835
You'll be able to do it without using that buildpack very soon.

[2015-05-02 15:44] lstor opened #836 "Use "clean" frontend libraries"
Instead of putting all the [sass](http://www.goodreads.com/quotes/24780-hey-you-sass-that-hoopy-ford-prefect-there-s-a-frood) code in `phoenix.scss`, the Phoenix and Bootstrap CSS should be split up. Having bootstrap on its own means that you can upgrade the bootstrap version or use [bootswatch](https://bootswatch.com/) or other bootstrap themes without having to do any manual work.

Since Phoenix

[2015-05-02 15:49] chrismccord commented on #836
We promote es6 and Sass by default, but you are free to use whatever preprocessors you'd like. We are in the  middle of discussions around the bootstrap bundle. If may be staying, it may be split up, it may be going away entire. We'll see

[2015-05-02 15:49] #836 closed

[2015-05-02 16:03] lstor commented on #836
Yes, I ported my project to LESS long ago, it was just a suggestion. It wasn't the key point of the issue anyway.

I must've missed the bootstrap discussion, do you have a link to it? I couldn't find it on either mailing list.

[2015-05-02 16:34] scrogson commented on #836
It was in IRC yesterday.
On Sat, May 2, 2015 at 11:03 Lars Storjord <notifications@github.com> wrote:

[2015-05-02 16:38] lstor commented on #836
Ah, I see. Thanks!

[2015-05-02 20:56] danielberkompas opened #837 "mix phoenix.routes --watch"
I recently put together a little tool to help me learn Phoenix's routing system:

http://phoenixroutes.herokuapp.com/

It would be nice to see this functionality built-in to Phoenix, and I think the best way to do that might be to add a `--watch` option to the `mix phoenix.routes` task. The task would then loop, updating its output every time `router.ex` is changed. Rather than firing up my tool a

[2015-05-02 21:04] josevalim commented on #837
This made me smile, thank you! The biggest issue with adding this feature to Phoenix right now is that it would add a dependency to `fs` and it requires C extensions and we want to avoid those as a Phoenix requirement.

The second point is that I don't think the console is the best place to reload this stuff, honestly. But it could be really nice as part of the browser, as you did. Maybe we could

[2015-05-02 21:14] danielberkompas commented on #837
This could work as a live_reload extension, but it has a few drawbacks in that form.

For example, would the page _actually change_ your router? If so, developers might prefer to use their own editor to do that rather than a web-based one. If not, you'd have to copy/paste between your editor and the web editor, which might feel weird when you're changing something on your local filesystem.

That's

[2015-05-02 21:17] danielberkompas commented on #837
**Edit**: I think I misunderstood what you're saying. This _would_ work quite well as a live reload extension if the editor part was dropped completely. /phoenix/routes would just show the current output of `mix phoenix.routes`, much like `/rails/routes` does for Rails in Rails 4.

[2015-05-02 21:27] josevalim commented on #837
Yes, and if you save the routes file, we will automatically reload the
routes. We could even highlight the new entries.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-02 21:29] chrismccord commented on #837
@danielberkompas this is really neat! Please open an issue over at phoenixframework/phoenix_live_reload and we can discuss potentially adding this as a feature.

[2015-05-02 21:29] #837 closed

[2015-05-02 21:37] danielberkompas commented on #837
@chrismccord @josevalim Done: https://github.com/phoenixframework/phoenix_live_reload/issues/10

[2015-05-02 21:39] Theemuts opened #839 "Months in date_select form inputs are not sorted correctly"
Form inputs with the tag date_select are not sorted correctly. They are currently being sorted alphabetically by month number ("1", "10", "11", "12", "2", ...).

![Screenshot](https://cloud.githubusercontent.com/assets/11926636/7442883/6840a9ac-f124-11e4-8dce-f5340c71a81b.png)

[2015-05-03 09:52] #839 closed

[2015-05-03 13:55] josevalim commented on #646
I have extracted this. It took much more work than expected and it was hard to find the proper boundaries, that's why I decided to take a stab at it myself. Thanks everyone!

[2015-05-03 13:55] #646 closed

[2015-05-03 16:26] COLABORATI opened #842 "Up and running tutorial does unexpected things and frustrates first contact users"
Hi, the first contact with this framework unfortunately leads to frustration, because the up and running tutorial does not work as expected. I will try to describe.

First the sentence

 Note: If we don't prepend a path to our application name, Phoenix will generate our new application inside of the Phoenix repo itself. That will work, but if we want our application to be in its own repo, we need

[2015-05-03 16:33] COLABORATI opened #843 "Website: search broken"
The search box on the website seems to be broken. I input a word and press enter and nothing happens. Also clicking the looking glass symbol does not do anything.

[2015-05-03 17:04] josevalim commented on #842
@COLABORATI Thanks for channeling your frustations. We agree this needs to be better and I have already sent a pull request (linked above) that addresses the points you complained.

Your feedback is particularly valuable because it seems you have done just a fresh Elixir install and often we forget many users will be starting from this exact scenario. The pull request removes the notes you have sa

[2015-05-03 17:05] josevalim commented on #843
It is working here but you need to wait it show a box with the options (i.e. it doesn't send you to a search page).

[2015-05-03 17:10] lstor commented on #842
I shared your frustration the first time I tried out Phoenix I had a problem that took me three days to figure out, with practically no help from the community. As you say, trying to debug a problem in a system with *a lot* of moving parts where you don't know anything about half of them is... challenging.

The Phoenix guides are largely due to the heroic effort of @lancehalvorsen. You can contrib

[2015-05-03 17:54] chrismccord commented on #842
@COLABORATI thanks for the feedback. The new user onboard process is one of the highest priorities for us. Understand that *months* of hard work has gone into the guides, getting started process, etc, but since we only have a handful of folks and things have changed fast, sometimes our guides have lagged.

@lstor Did you try IRC? I practically live on there to help newcomers with elixir and phoeni

[2015-05-03 18:02] #843 closed

[2015-05-03 18:03] lancehalvorsen commented on #842
@COLABORATI I echo what both @josevalim and @chrismccord have said above.

Just to let you know, changes to the Up and Running Guide which address your frustrations are in both the guides repository, and on http://www.phoenixframework.org/.

[2015-05-03 18:37] lstor commented on #842
@chrismccord Thanks, I'll keep that in mind and make sure to try irc next time :)

[2015-05-03 19:27] lancehalvorsen commented on #842
I totally forgot; thanks @lstor for your kind words. :)

[2015-05-03 23:58] chrismccord commented on #842
@COLABORATI I hope we addressed your concerns and keep you around as a happy Elixir and Phoenix user.

[2015-05-03 23:58] #842 closed

[2015-05-04 13:19] shankardevy commented on #646
thanks @josevalim. For everyone who are watching this thread, here is the link to the extracted repo: https://github.com/phoenixframework/phoenix_html

[2015-05-04 18:24] jeffweiss opened #845 "server-side session expiry hook"
I am using ETS sessions to store data server-side. The situation, as I understand it, is as follows:
 * Browser cookie stores the session id
 * Session map stored in ETS keyed off of session id (retrieved from browser cookie)
 * If browser cookie expires and is deleted, ETS entry remains, leading to slow memory leak

My particular situation is compounded because I am creating an `:eldap` connectio

[2015-05-04 19:21] josevalim commented on #845
Well, we can't ever know that a session was expired, can we? For example, if you want the user session can be valid for a whole year, until he decides to sign out. At least, in this scenario, we would know to delete it. However, if he deletes the cookie in his machine, we would never know that it will never be used again.

So I don't think we can ever have a session expiry hook. The best we can do

[2015-05-04 19:23] Tuxified commented on #792
:+1:

[2015-05-04 19:25] josevalim commented on #845
To clarify, what I have in mind is similar to what was proposed. Except you will have a single process, that goes through ETS every 1 minute to clear up stale entries. Another alternative is to have the eldap processes shutting down after x minutes of inactivity, detecting it, and then removing the relevant entry from the table.

I would recommend you to fork Plug.Session.ETS and add your logic. I

[2015-05-04 20:03] jeffweiss commented on #845
I think that if we have an expiry of 1 year, then we have a timer fire after a year (or whatever `max_age` is), even if the user decides to delete her cookie and we don't know about it. I have never tried to fire a timer event after 1 year though. :)

I don't know what to do if `max_age` isn't set. :)

That definitely leaves us vulnerable to a DOS attack though: Create a session; delete the cookie

[2015-05-04 20:04] jeffweiss commented on #845
As I said above though, I'm not super worried about it because Heroku will "fix" it for me. :smiley:

[2015-05-04 20:11] josevalim commented on #845
@jeffweiss yes! I was mostly arguing why this mechanism does not make sense for Phoenix itself. If you have some special constraints, a limited amount of users, etc, then a simple solution as proposed becomes viable. But supporting such mechanism out of the box is asking for trouble. :)

[2015-05-04 20:11] #845 closed

[2015-05-05 13:17] asconix commented on #792
(y)

[2015-05-05 13:19] jeregrine commented on #792
💯

On Mon, May 4, 2015 at 2:23 PM, Tonći Galić <notifications@github.com>
wrote:

[2015-05-05 14:49] #830 closed

[2015-05-05 17:23] tsloughter commented on #835
The buildpack stuff has been released if you update your client. They are still working on a devcenter article:

[code]

[2015-05-05 17:25] ptrckbrwn commented on #835
Awesome!! :smile: :+1:

[2015-05-05 19:13] COLABORATI commented on #843
hmm, I input e.g. the word "security", but nothing happens, I wait but no box visible. When I press enter, also nothing happens. I checked with Chromium and Firefox on Ubuntu 14.04, adblockers disabled.

[2015-05-05 19:16] chrismccord commented on #843
@COLABORATI sounds an issue on readme.io's end (where we host the guides). In the future, please direct guides/website issues to https://github.com/phoenixframework/phoenix-guides  thanks!

[2015-05-05 19:18] COLABORATI commented on #842
Thanjks for your quick corrections, seems to work now like described. I will follow the flight of the phoenix :)

[2015-05-05 19:25] lancehalvorsen commented on #842
@COLABORATI glad that we could address your issues and keep you interested in Phoenix. :)

Also, for anybody following this thread, the guides have moved into the phoenixframework github organization. You can find them here:
https://github.com/phoenixframework/phoenix-guides

[2015-05-06 06:37] josevalim opened #847 "Provide better error messages for when the connection is not assigned in tests"
http://stackoverflow.com/questions/30063819/runtimeerror-expected-connection-to-have-a-response

[2015-05-06 12:08] parkerl commented on #847
@josevalim can I be any help on this one or do you have it covered?

[2015-05-06 12:33] josevalim commented on #847
@parkerl Oh, please go ahead! The idea is to store something when we create the connection and remove it when the user calls get/post/etc. Then, in response, if we see the flag is still there, we can give a really nice example of what should be done!

[2015-05-06 12:37] mobileoverlord commented on #810
Should this reference the phoenix version or should we reference a channel protocol version? For example, what if phoenix 0.13.x has protocol changes, 0.14.x doesn't but 0.15.x does. Technically 0.13 and 0.14 are the same and could be confusing.

[2015-05-06 12:51] josevalim commented on #810
It should be the message protocol version. So not the Phoenix version.

[2015-05-06 14:20] jeregrine commented on #810
Could also be a header we pass up on initialization of the websocket/long
poller.

On Wed, May 6, 2015 at 7:51 AM, José Valim <notifications@github.com> wrote:

[2015-05-06 19:44] adamkittelson opened #848 "terminate/2 isn't called in a Channel without trapping exits when using Chrome"
It is called when I trap exits. Also it is called when I don't trap exits if I'm using Safari.

It looks like in Phoenix.Endpoint.CowboyWebsocket.websocket_terminate/3 the reason when chrome navigates away from a page with a WS connection is `{:remote, 1001, ""}` but in Safari it is `{:error, :closed}`

[2015-05-06 19:47] adamkittelson commented on #848
https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent might be useful if there are other chrome exits that need handling

[2015-05-06 19:56] #848 closed

[2015-05-06 19:56] chrismccord commented on #848
@adamkittelson Please verify fixed on master. Thanks for reporting

[2015-05-06 20:13] adamkittelson commented on #848
Fix verified, thanks Chris!

[2015-05-07 02:59] chrismccord opened #849 "Update phoenix_live_reload to new channel client"

[2015-05-07 12:35] ericmj commented on #810
We can't send headers with XDomainRequest unfortunately.

[2015-05-07 12:36] chrismccord commented on #810
It could just be a param. The transport can send it up however it likes as long as it makes it into the `socket.vsn` field.

[2015-05-07 17:38] tsloughter commented on #835
Devcenter article: https://devcenter.heroku.com/changelog-items/653?utm_source=dlvr.it&utm_medium=twitter

[2015-05-08 13:16] esbanarango commented on #792
:+1:

[2015-05-08 13:28] schaary commented on #792
:+1:

[2015-05-09 00:09] jeffweiss commented on #792
I have requested a proof from [Sticker Mule](https://www.stickermule.com).
They claim the proof will be ready in 15 hours, 8 minutes.
![screen shot 2015-05-08 at 5 08 30 pm](https://cloud.githubusercontent.com/assets/818053/7547568/fd01e720-f5a4-11e4-9ed9-5a26d6a7ddc1.png)

[2015-05-09 00:14] Kosmas commented on #792
:+1:

[2015-05-09 16:52] josevalim opened #853 "Consider shipping errors_on with ModelCase"
It will be convenient and it will teach folks how to add custom functions to their test cases.

[2015-05-09 17:26] chrismccord commented on #853
+1

Sent from my iPhone

[2015-05-10 06:03] scrogson opened #858 "Live Reload is broken on master"
`Uncaught TypeError: socket.join is not a function`

[2015-05-10 06:24] josevalim commented on #858
Dup of #849.

[2015-05-10 06:24] #858 closed

[2015-05-10 06:55] josevalim commented on #849
We also need to update the dependency in Phoenix after fixing live reload.

[2015-05-10 13:48] jonhkr opened #859 "Multipart/form-data without file rises a MatchError"
Hi,
I'm sending a post request with `Content-Type: multipart/form-data` with some parameters but no file and I receive the following error:
[code]

If I send a file with the same content type everything works fine.
I know `multipart/form-data` is intended to be used with files, but I should not receive a `500` status code if I send a post without a file.

[2015-05-10 13:54] josevalim commented on #859
I don't think it is related to the lack of a file. Can you provide more information about the form you are sending and which browser? The error looks like there is no content-type header or it is poorly formatted (for example, no boundary).

[2015-05-10 14:04] #849 closed

[2015-05-10 14:43] gjaldon commented on #853
Hi guys. I'd love to take this on. What should `errors_on` do? Check that a specific error is found in the Ecto changeset after running a validation?

[2015-05-10 15:00] crismali opened #861 "Difficulty setting the session in tests"
I was trying to test an action that would clear the session, but I ran into a bit of trouble.

First I tried setting the session:

[code]

Next I followed the error to `fetch_session`:

[code]

I followed that error to `configure_session`:

[code]

And I tried passing different arguments to `configure_session`:

[code]

Not sure, but it looks like there might be a chicken and the egg sort of probl

[2015-05-10 15:10] gjaldon commented on #861
The generator should have generated a `MyApp.ConnCase` which imports test helpers from `Phoenix.ConnTest`. Try using `MyApp.ConnCase` in your tests and you can do

[code]

`conn/0` in the above example comes from `Phoenix.ConnTest` and it does the set-up for you so that you have a `conn` struct that you can easily test.

You can look up some more at- http://hexdocs.pm/phoenix/Phoenix.ConnTest.html

[2015-05-10 15:36] crismali commented on #861
I am creating the `conn` via the `MyApp.ConnCase` helpers in my tests and am able to make assertions against the response body and the database. For some reason `put_session` raises as I described above when given a `MyApp.ConnCase` `conn`.

[2015-05-10 15:56] gjaldon commented on #861
Ah, I see! You will need to call one of the http_methods(preferrably get) on the `conn` struct before doing any session stuff. For example:

[code]

Calling `get/2` will lead to calling `Endpoint.dispatch` where it will go through each of the plugs you have plugged into your `MyApp.Endpoint` including `Plug.Session` by default. After that, session will be configured, fetched and you could do what

[2015-05-10 16:37] josevalim commented on #861
Yes, you need to setup your connection somehow, be it by calling the endpoint or doing it manually. For doing it manually, you can check the examples in plug itself:

https://github.com/elixir-lang/plug/blob/master/test/plug/session/cookie_test.exs#L31-L35

[2015-05-10 16:37] #861 closed

[2015-05-10 17:52] jonhkr commented on #859
I'm using REST Console chrome extension to make the requests, here are the request headers:

[code]

And the request payload:

[code]

[2015-05-10 19:55] josevalim commented on #859
So the payload you are sending is not multipart/form-data is it? It is x-www-form-urlencoded. More info here: http://www.w3.org/TR/html401/interact/forms.html#h-17.13.4

[2015-05-10 20:40] jonhkr commented on #859
Yeah, I've just checked that the Chrome extension I'm using is not sending the request correctly. Either way, I think the server should not send a `500` response in this case, since it's the client that is sending a malformed request the server should respond with a `4xx` status code.

[2015-05-10 21:50] crismali commented on #861
Cool, thanks all!

[2015-05-10 22:52] jeffweiss commented on #792
Phoenicians, I just took a look at the online proofs from Sticker Mule, and I'm excited. We have a few more variants to evaluate too.

[2015-05-10 22:57] asconix commented on #792
@jeffweiss do you have a sample to see online?

[2015-05-11 07:24] josevalim commented on #859
Yes, agreed. Thanks for the report @jonhkr !

[2015-05-11 07:25] josevalim commented on #859
I have moved this to plug (see linked issue above).

[2015-05-11 07:25] #859 closed

[2015-05-11 11:30] larshesel opened #862 "Brunch installation fails but failure not reported"
When creating a new phoenix project including brunch.io dependencies, everything looks good, but in fact the brunch.io dependencies failed (the reason is most likely due to my age-old node and npm installations). The problem is that the error is never shown when running `mix phoenix.new`, which seems to be because the status code from npm is not returned (and checked) from :os.cmd/1: https://githu

[2015-05-11 12:30] jonhkr commented on #859
Thank you :+1:

[2015-05-11 13:39] limhoff-r7 opened #864 "static_path not used in web/static/css/app.scss"
I [figured out](https://gist.github.com/limhoff-r7/79be3e78a5f1d39edae7) with @chrismccord's help on #elixir-lang how to host phoenix under the path /phoenix behind nginx, but while preparing the PR for our project, I realized the phoenix.png logo wasn't loading.  Looking at the Network panel in chrome, I saw that it was trying to load from `https://localhost:<nginx-port>/images/phoenix.png` inste

[2015-05-11 13:40] josevalim commented on #864
Just to be clear: Is it not working because the static plug cannot find the file or because we are not using the static_path function?

[2015-05-11 13:41] josevalim commented on #864
Doh, sorry. The answer to my question is in the title. Thank you!

[2015-05-11 17:12] jeffweiss commented on #792
Prototype stickers ordered, in production, and will be shipped to @chrismccord for final in-person approval.

Here's a preview
![r706615016_r](https://cloud.githubusercontent.com/assets/818053/7570613/3a94c530-f7c6-11e4-8c36-edf7e0b80884.png)

[2015-05-11 17:16] optikfluffel commented on #792
![Me likey!](http://www.reactiongifs.com/wp-content/uploads/2013/08/happydog.gif)

[2015-05-11 17:34] mjs2600 commented on #792
![Shut up and take my money!](http://i1.kym-cdn.com/photos/images/original/000/264/241/9e9.gif)

[2015-05-11 17:37] asconix commented on #792
@jeffweiss awesome, i like them a lot :) thanks for your work!

[2015-05-11 17:56] jeffweiss commented on #792
@mjs2600 it looks like Sticker Mule will allow for selling online once we get the :+1: after @chrismccord examines in-person. They should arrive to Chris around May 20-ish. We'll see what he has to say then... :smiley:

[2015-05-11 18:34] jeregrine commented on #792
Any way to get one of JUST the phoenix?

On Mon, May 11, 2015 at 12:56 PM, Jeff Weiss <notifications@github.com>
wrote:

[2015-05-11 18:44] jeffweiss commented on #792
@jeregrine yup. A trial of just the phoenix is already on order too.

[2015-05-11 18:45] jeregrine commented on #792
Awesome.

On Mon, May 11, 2015 at 1:44 PM, Jeff Weiss <notifications@github.com>
wrote:

[2015-05-11 19:13] josevalim commented on #853
The code is literally:

[code]

We need to include it in the model case and guarantee it is imported. We should also include some docs with examples, for example:

      assert {:password, "is unsafe"} in errors_on(%User{}, password: "password")

[2015-05-11 19:27] josevalim commented on #864
I am going to mark this as won't fix for now. Use SASS variables or some SASS helper to clean things up.

[2015-05-11 19:27] #864 closed

[2015-05-11 19:27] danielberkompas commented on #853
+1. Since @josevalim pointed this out to me, I've been adding it to ModelCase manually on all my Phoenix projects.

[2015-05-11 19:28] chrismccord commented on #864
@scrogson Any interest in putting a sass helper together that we can ship with?

[2015-05-11 19:28] josevalim commented on #825
I am closing this. Specs are definitely welcome but instead of having a main issue, let's all verify pull requests more closely for specs and docs actively.

[2015-05-11 19:28] #825 closed

[2015-05-11 19:29] josevalim commented on #780
I have cleaned up the channel tests and I will work on integration tests next. I am closing this as this is on my plate anyway and coming soon™.

[2015-05-11 19:29] #780 closed

[2015-05-11 19:29] josevalim commented on #754
Landed on master. I will write the docs soon.

[2015-05-11 19:29] #754 closed

[2015-05-11 19:33] josevalim opened #866 "Do not duplicate references on transport reply"
See:

* https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/transports/websocket.ex#L102-L105

* https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/transports/long_poller/server.ex#L99-L102

[2015-05-12 01:52] scrogson commented on #864
I'll look into it.

[2015-05-12 10:13] chrismccord commented on #862
I don't think we can do much here if node is not respecting the status code. Can you jump up to node >= 0.12? We should list the min node requirements (if we already don't")

[2015-05-12 10:27] josevalim commented on #862
Node may be respecting the status code. The problem is that we ignore it because we can't retrieve it with `:os.cmd` and `Mix.shell.cmd` only supports quiet mode on v1.1. However, I am not sure if we should really worry about this. If node fails, it means the next brunch command will fail anyway and then you need to debug it, regardless of the info we show now.

Thoughts?

[2015-05-12 11:56] gjaldon commented on #853
This issue can be closed now @josevalim @chrismccord :)

[2015-05-12 11:59] larshesel commented on #862
@chrismccord I did update my node installation afterwards and then I don't get the error (live_reload still doesn't work for some reason, but I haven't investigated why yet).

@josevalim I'm not sure if I agree. I think the right thing, although I understand it might not be realistic to implement, would be to fail immediately. It's really not easy to understand later why brunch fails - especially

[2015-05-12 12:10] josevalim commented on #853
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-05-12 12:10] #853 closed

[2015-05-12 14:14] chrismccord commented on #862
I think we should just document on the guides the minimum node requirement and go from there. Checking versions and what not is going to couple us tightly to brunch, where right now it's quite swappable and other node watchers may not be 0.12 specific. Thanks for the report and hopefully this does enough to point folks in the right direction

[2015-05-12 14:14] #862 closed

[2015-05-12 14:51] lancehalvorsen commented on #862
For the record, I just merged a PR from @chrismccord to document the minimum node version, and I made the corresponding change on phoenixframework.org.

[2015-05-12 15:06] larshesel commented on #862
Awesome!

[2015-05-12 23:57] jonhkr opened #872 "ArgumentError cannot use Plug.MethodOverride without body parsing, be sure to parse body parameters with Plug.Parsers"
I've found another error similar to the one I've reported these days.

I'm sending a request with the following headers:
[code]
And the server is returning a `500` response with the error described in the title.

This happens because there is no `application/xml` parser defined, however this in my opinion is not a server error (`500`) therefore a `4xx` http status response should be returned.

I g

[2015-05-13 00:01] jonhkr commented on #872
Sending a request with `Content-Type:text/plain;charset=UTF-8` produces the same error.

[2015-05-13 00:57] #866 closed

[2015-05-13 01:10] neildaemond opened #873 "api.phoenixframework.org returning "Server Not Found""
According to 'http://www.phoenixframework.org/v0.13.0/docs/resources', the official documentation is supposed to reside at api.phoenixframework.org

I'm getting "Server Not Found" when visiting that url

[2015-05-13 01:39] kkirsche commented on #873
@neildaemond Thanks for pointing this out. I've suggested the edit via the website to move to the correct link of http://hexdocs.pm/phoenix/

[2015-05-13 01:39] scrogson commented on #872
@jonhkr looks like @josevalim fixed this on Plug `master` here https://github.com/elixir-lang/plug/commit/8e2c5a6bfb51342e17eec7dca194f8f4d042f3bc

This should be fixed in the next release.

In the mean time, you can add Plug master to your application with the `override: true` option.

Let us know if that addresses your issue.

[2015-05-13 01:43] neildaemond commented on #873
Cool, then a cname record from api.phoenixframework.org to hexdocs.pm/phoenix/ on the DNS level should easy enough?

[2015-05-13 01:57] mogadget commented on #792
@jeffweiss Cool!! .. could you have it where the Phoenix Framework text is after the firebird? with burning effect?

[2015-05-13 01:58] kkirsche commented on #873
Not sure. Core team would be able to help with that aspect of it.

[2015-05-13 02:29] jonhkr commented on #872
I've just run a test and that commit solves the issue. Thank you very much, closing this issue.

[2015-05-13 02:29] #872 closed

[2015-05-13 02:32] chrismccord commented on #873
We'll get the site updated. Thanks!

[2015-05-13 02:32] #873 closed

[2015-05-13 02:33] lancehalvorsen commented on #873
I just accepted your suggested edit, @kkirsche. Thanks very much for that. I'll fix this in the repo now.

[2015-05-13 02:35] lancehalvorsen commented on #873
And now fixed in the repo.

[2015-05-13 02:42] ericmj opened #875 "gitignore manifest.json"
I think manifest.json should be ignored by default since the other compiled assets are ignored by default. /cc @josevalim

[2015-05-13 03:00] chrismccord commented on #792
Thanks for the enthusiasm everyone! And big thanks to @jeffweiss for the hookup! Stickers are being printed  now. If you'd like some, come to ElixirConfUS in Austin, TX Oct 1-3 :) We'll also see about making them available online somewhere

[2015-05-13 03:00] #792 closed

[2015-05-13 03:34] seantan opened #876 "Update outdated example code in web/static/js/app.js"
With version 0.13.0 update, the generated code in `web/static/js/app.js` needs to be updated.

Instead of
[code]
should be updated to e.g.
[code]

[2015-05-13 06:44] josevalim commented on #876
It has been fixed in master already, thank you!

[2015-05-13 06:44] #876 closed

[2015-05-13 06:53] josevalim commented on #875
There is one issue though, since we added priv/static/robots.txt, running the digest task will also generate a digest for robots.txt, which we won't/can't .gitignore. So even if we gitignore manifest.json, we will have "garbage" in there. Thoughts? /cc @chrismccord

[2015-05-13 07:19] ahmetabdi opened #877 "New project gives compile error"
[code]

[code]

[2015-05-13 07:27] josevalim commented on #877
Which Phoenix version?

    mix phoenix.new --version

[2015-05-13 08:54] ahmetabdi commented on #877
Phoenix v0.12.0

[2015-05-13 09:50] josevalim commented on #877
Ah, please install latest. This has been fixed!

More info here: http://www.phoenixframework.org/v0.13.0/docs/up-and-running

Thank you!

[2015-05-13 09:50] #877 closed

[2015-05-13 18:56] #617 closed

[2015-05-13 18:56] josevalim commented on #847
Ping? :)

[2015-05-13 20:53] josevalim opened #879 "Raise on missing assigns (as in @conn)"

[2015-05-13 21:00] chrismccord commented on #875
Seems like the easiest thing is to keep it as is then? It doesn't hurt and folks that build on deploy won't end up with messy diffs so seems fine as is?

[2015-05-13 21:01] josevalim commented on #875
Or that or we move to web/static/assets and gitignore the whole priv.

[2015-05-13 21:02] ericmj commented on #875
:+1:

[2015-05-13 22:14] chrismccord commented on #875
we can't though because we put non js and css assets (images, fonts) directly in priv/static/images, priv/static/fonts, etc

[2015-05-14 00:18] rodrigues opened #880 "phoenix.new creates broken project if doesn't install brunch.io"
I say `n` when asked: `Install brunch.io dependencies? [Yn]`.

The generated project fails when running `iex -S mix phoenix.server`:

[code]

Before that I did `mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.13.0/phoenix_new-0.13.0.ez`

Full log here: https://gist.github.com/rodrigues/04096d1bea2668bbda71

--------

EDIT: Perhaps I was really supposed to insta

[2015-05-14 00:42] arpunk commented on #880
Hi @rodrigues, if you don't need brunch at all, you can generate your project like this:

`mix phoenix.new project_name --no-brunch`

[2015-05-14 00:47] rodrigues commented on #880
Hi @arpunk, thanks!

So I guess it's not a bug, going to close the issue then.

It was a bit confusing, though, as I though saying `no` to install brunch would have that `--no-brunch` effect.

[2015-05-14 00:47] #880 closed

[2015-05-14 00:54] nurugger07 commented on #880
Umm, I would say that's a bug. If you are requiring brunch then the
question needs to be removed.

On Wed, May 13, 2015 at 8:48 PM, Victor Rodrigues <notifications@github.com>
wrote:

[2015-05-14 00:58] doomspork commented on #880
To me these are two different questions:  "Do you want to use brunch?" vs "Do you want to install the dependencies defined in brunch?".

[2015-05-14 01:11] chrismccord commented on #880
We default to brunch with the question "Install brunch.io dependencies?". So we aren't asking to install brunch, we are asking to install brunch (npm) deps. No bug here just sane defaults. The `--no-brunch` switch is there for those that want to skip. We may be able to make the question clearer tho. @rodrigues if you don't want to use brunch you can do this on your new project instead of starting

[2015-05-14 01:13] nurugger07 commented on #880
Sean, I think we are on the same page on this. If I don't want to install
dependencies then that shouldn't prevent the server from running. But, if
it will prevent the server from working correctly then it shouldn't be an
option.

On Wed, May 13, 2015 at 8:59 PM, Sean <notifications@github.com> wrote:

[2015-05-14 01:26] chrismccord commented on #880
To be clear, in the event brunch is setup, but node is not installed, the server runs just fine, but you get the watcher error.

[2015-05-14 01:31] nurugger07 commented on #880
I think better messaging would help and maybe attempting to quiet the error.

On Wed, May 13, 2015 at 9:26 PM, Chris McCord <notifications@github.com>
wrote:

[2015-05-14 02:42] kkirsche commented on #879
@josevalim is there a general area in the project that would be good to start doing this? I'd be interested in trying to tackling it if it's not something too advanced (new to the project / language)

[2015-05-14 03:27] jeregrine opened #884 "Brunch related things still in fresh project even though I said no to brunch"
- serving of brunch assets
- brunch watcher
- brunch-config file
- package.json (this may be optional)

[2015-05-14 03:29] chrismccord commented on #884
We need better wording here. The question for install brunch deps is just asking to run `npm install` or not. `--no-brunch` must be passed to the new task to skip brunch integration.

[2015-05-14 03:29] #884 closed

[2015-05-14 03:30] chrismccord opened #885 "Provide clearer brunch wording in new task"

[2015-05-14 03:46] lancehalvorsen commented on #885
Words? Perhaps you need some words? :^) How about these for a start:

Responding with "n" here will not prevent brunch.io from being installed - only its dependencies.

To avoid using brunch.io entirely, please cancel this installation and try again with the "--no-brunch" flag.

[2015-05-14 07:31] josevalim commented on #885
We have a couple options here:

1. We ask once if you want to install remote dependencies. It doesn't matter if it is mix or brunch.

2. We change the wording to use "download"/"fetch" rather than "install".

3. We can change the behaviour to ask to install brunch *and* its dependencies, which is what most people are expecting currently

I think we should at least go with 1. I can't think about so

[2015-05-14 07:32] josevalim commented on #879
Unfortunately it is a bit advanced because it means traversing quoted expressions and replacing quoted `@`. :(

[2015-05-14 07:33] josevalim commented on #875
@chrismccord right, we would ask people to put those in web/static/assets/ which is brunch convention for thos.

[2015-05-14 11:01] gjaldon commented on #875
Putting the non-css and non-js assets in the web/static/assets directory would show users new to brunch.io where to put those. Had to look this up in Brunch readme/guides since the new Phoenix app didn't show where to put it.

[2015-05-14 11:20] gjaldon commented on #885
I agree 1 looks like the best option. Maybe just add a message after the install that informs the user what has been included in their new Phoenix app like:
[code]

That way, there's immediate feedback about what the user just did and the fact that Ecto/Brunch was installed isn't kept from them.

3 looks like the next best one, but then why treat brunch differently than how phoenix treats ecto? Ha

[2015-05-14 12:04] chrismccord commented on #875
Ah I see. This is probably the way to go then. I know @scrogson had issue with a brunch package putting things there so this change may resolve that as well

[2015-05-14 12:12] Rodeoclash opened #886 "Some notes on creating a new app"
I thought it might be useful to track the current experience of a user creating a new app who is not too familiar with the language or framework, but has a background in Rails.

I've configured a docker container using the following: https://gist.github.com/Rodeoclash/ad9c80edc96ef16fc961

This is paired with a postgres container using docker-compose.

* I was able to create a new application with

[2015-05-14 12:16] chrismccord commented on #886
Thanks for the feedback and glad to hear it was a mostly smooth experience. wrt the phoenix_html issues, was `{:phoenix_html, "~> 1.0"}` missing entirely from your mix.exs? It looks like you used the 0.13 project generator so this shouldn't be the case.

[2015-05-14 12:20] Rodeoclash commented on #886
Correct. I ran through two clean installs from scratch and encountered the issue both times, I was pulling the archive directly from ```https://github.com/phoenixframework/phoenix/releases/download/v0.13.0/phoenix_new-0.13.0.ez``` rather than using mix to install, could that be an issue?

Also, the full stack trace for the ModelCase error is:

[code]

[2015-05-14 12:24] chrismccord commented on #886
I just tested by:

    mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.13.0/phoenix_new-0.13.0.ez

Then creating a new project, and everything works as expected for both reported issues. Can you expand on "pulling the archive directly?". Can you also give me a sanity check with:

    $ mix phoenix.new --version

[2015-05-14 14:56] lancehalvorsen commented on #885
I think that option number 1 still allows for an inconsistent install if the user says no to installing dependencies at app creation time, then later runs `mix deps.get` in the app directory. That is, unless I'm misunderstanding something.

What if we ask about brunch at the beginning, before anything else happens?

$ mix phoenix.new some_new_app

Phoenix is uses brunch.io for asset management by

[2015-05-14 15:01] chrismccord commented on #885
We started off with the third approach, but the question is where do we draw the line? Like @gjaldon said, we assume defaults so Ecto is included. Should we prompt for Ecto too? If not, why is it any different?

[2015-05-14 15:04] nurugger07 commented on #885
I agree with Lance. If you are going to ask, it should be an all or
nothing, especially if it's going to appear broken if the deps aren't added.

On Thu, May 14, 2015 at 10:56 AM, Lance Halvorsen <notifications@github.com>
wrote:

[2015-05-14 15:08] nurugger07 commented on #885
@chris Honestly, I was a little surprised when I saw that Ecto was
installed by default. I understand there is a flag to remove it but it
seems a vanilla new app should have minimum deps. There are many cases that
I don't want/need ecto.

On Thu, May 14, 2015 at 11:04 AM, Johnny Winn <j.winn.v@gmail.com> wrote:

[2015-05-14 15:09] lancehalvorsen commented on #885
I do think that ecto and brunch are different. Ecto is a dependency within the Elixir ecosystem. Brunch requires a whole new ecosystem - node, npm, etc. I think some people are sensitive to that.

[2015-05-14 15:10] josevalim opened #887 "Allow assigns to be merged on a router"
Similar to how we do private:

https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/router.ex#L588

[2015-05-14 15:10] lancehalvorsen commented on #885
@nurugger07 that wasn't an answer to your last comment, but to questions above.

[2015-05-14 15:16] chrismccord commented on #885
I agree with min deps, but it's our job to provide sane defaults to newcomers. As a seasoned Elixir programmer, you know very well the times you don't want or need ecto, and you know you can just pass a flag, so it's a few keystrokes for you every time you start a project. For a newcomer though, we remove the questions/uncertainty of "okay I have new project now, what about databases? What about c

[2015-05-14 15:17] nurugger07 commented on #885
@lance understood. I usually opt for less dependencies regardless :) I
think the developers should determine their tools. That being said there
are people looking for a "Rails" solution. Just my 2 cents. That with a
dollar might get ya a cup of coffee :)

On Thu, May 14, 2015 at 11:10 AM, Lance Halvorsen <notifications@github.com>
wrote:

[2015-05-14 15:20] nurugger07 commented on #885
@chris I totally agree with you. I think this is more about making sure
devs don't go down a path that appears broken. I think the direction
Phoenix is heading is not only positive but necessary.

On Thu, May 14, 2015 at 11:17 AM, Johnny Winn <j.winn.v@gmail.com> wrote:

[2015-05-14 16:37] josevalim opened #888 "Remove plug :action in controllers"
It is going to be invoked automatically (in fact, we could get rid of the `action/2` function and just invoke it on call). We will also add `register_after_action/2`, similar to `register_before_send/2`, that will invoke the given functions after the action.

[2015-05-14 22:37] ricn opened #889 "Param issues"
I have created a new Phoenix project (v 0.13.0) and then I ran
`mix phoenix.gen.html User users name:string`

Then I added IO.inspect params in the generated changeset function in the User model and I noticed that the params looks different if I run the controller test or the model test.

The controller test outputs this: %{"name" => "some content"}

The model test outputs this: %{name: "some cont

[2015-05-14 22:39] josevalim commented on #889
Hrm, maybe we should normalize this on the Ecto side. Can you please close this issue and open exactly the same on github.com/elixir-lang/ecto? Thank you.

[2015-05-14 22:40] ricn commented on #889
I will do that.

[2015-05-14 22:40] #889 closed

[2015-05-15 02:11] kkirsche commented on #885
Personally, I like the option of using other JS pipelines other than brunch. I feel there is a big difference between mix and brunch also. I would argue with a tool like Mix or Bundler, there really aren't any solid alternatives but in the JS world I have multiple build pipelines: Grunt, Gulp, Brunch, etc.

I think that if brunch is going to be something which is included and prompts are given abo

[2015-05-15 02:58] josevalim commented on #885
Maybe we should have a guide explicitly about brunch integration?

[2015-05-15 02:59] josevalim commented on #885
/cc @lancehalvorsen @jeregrine

[2015-05-15 05:46] Rodeoclash commented on #886
Will do. At work at the moment but will endeavour to get to you within the next 24 hours. I'll also try cleaning up the Dockerfile to see if it was an environmental issue.

[2015-05-15 09:23] unindented opened #891 "How do I replace `brunch` with `webpack`?"
I'm a complete beginner to Phoenix, so this may be a trivial question, but how can I replace `brunch` with `webpack`?

If someone explains me how to do it, I can contribute a PR for a new section in the documentation...

[2015-05-15 10:13] Rodeoclash commented on #886
Ok, retested and I had an old version of the framework (0.11). Upgraded an had no problems whatsoever outside of the generator not adding a route which caused the tests to fail. Adding the route I think will fix that. Sorry for the bother :)

[2015-05-15 10:13] #886 closed

[2015-05-15 11:00] chrismccord commented on #891
It's very easy http://manukall.de/2015/05/01/automatically-building-your-phoenix-assets-with-webpack/

We don't need a guide since we should promote one good default. Thanks!

[2015-05-15 11:00] #891 closed

[2015-05-15 14:43] chrismccord opened #892 "Allow socket params to be assigned and merged into all channel params"
For default chan.params

[2015-05-15 14:45] ericmj opened #893 "Make sure phoenix.digest copies priv/ into _build/ if `build_embedded: true`"
Calling `Mix.Project.build_structure()` does the copying.

Related: HashNuke/heroku-buildpack-elixir#31.

[2015-05-15 16:41] jeregrine commented on #888
:+1:

[2015-05-15 16:59] lancehalvorsen commented on #885
Yes, we can easily re-purpose the Static Asset Guide. We can also include more discussion of brunch and it's dependencies in the Up and Running Guide and the Mix Tasks Guide.

[2015-05-15 17:05] jeffweiss commented on #792
The sticker is now [for sale at Sticker Mule](https://www.stickermule.com/marketplace/5553-phoenix-framework).

[2015-05-15 17:26] josevalim commented on #847
Ok, I am tackling this.

[2015-05-15 17:33] #893 closed

[2015-05-15 17:36] lancehalvorsen commented on #792
That is awesome! Thanks @jeffweiss for making the magic happen. :)

[2015-05-15 18:42] #885 closed

[2015-05-15 21:10] paulcsmith opened #894 "DB not being cleaned completely between tests using ConnCase and Ecto"
I'm not sure why, but sometimes record are still in the DB when running multiple tests. Example below shows what's currently in Phoenix (doesn't work) and what I added (does work). Not sure if this is a good way to fix it or why it works :S

[code]

[2015-05-16 01:21] chrismccord commented on #887
What's the use-case for this that private's don't include. Defaults? Just curious if a specific need came up or if this is for future convenience

[2015-05-16 05:43] gjaldon opened #896 "Tests failing on master"
Running `mix test` with the latest master gives me 2 failures that has to do with the generated controller tests. Below is one example:

[code]

I'm using Elixir v1.04 with Erlang 17.

[2015-05-16 06:54] #896 closed

[2015-05-16 06:57] josevalim commented on #887
Yeah, folks want this to be in assigns because they want to use it directly and not as part of a library (which is what privates are advised for).

[2015-05-16 07:05] josevalim commented on #894
It is funny because @ericmj was using the setup above and it definitely had race conditions causing data to remain in the database. Do you confirm @ericmj?

[2015-05-16 07:06] josevalim commented on #894
Also, none of your tests are async, right?

[2015-05-16 08:55] #847 closed

[2015-05-16 08:56] josevalim commented on #810
Yeah, 1. could be done on socket connection rather than every message.

[2015-05-16 09:00] #741 closed

[2015-05-16 10:58] chrismccord commented on #887
:+1:

[2015-05-16 11:54] chrismccord commented on #888
Should register_after_action respect halting or always be invoked after the controller pipeline?

[2015-05-16 12:39] josevalim commented on #888
That's a good question. At first I say it should respect halting, on the other hand, it is easy to check if it halted in the register_after_action callback.

However, we are likely NOT going to invoke it on errors, so you shouldn't rely on register_after_action for clean up anyway, so it doesn't matter if we call it when halting or not.

[2015-05-16 12:40] josevalim commented on #888
So I would say we can always invoke it and you can check for halting inside register_after_action. Or we can just postpone the decision and not add it... :D

[2015-05-16 14:38] paulcsmith commented on #894
I didn't explicitly make them async. That means they're sync right? I'm pretty sure that's the default.

Either way, I tried explicitly setting async: false and got the same results

[2015-05-16 14:40] josevalim commented on #894
Sync is the default, yes.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-16 15:09] ericmj commented on #894
I have been using `SQL.restart_test_transaction` without any issues for several weeks. With `SQL.rollback_test_transaction` the DB was often left in a bad state when I had test failures.

@paulcsmith Do you still have `SQL.begin_test_transaction` in your `test_helper.exs` file?

[2015-05-16 16:43] parkerl commented on #847
@josevalim sorry I did not see you ping. Moved offices this week...just a wee bit of chaos.

[2015-05-16 16:48] josevalim commented on #847
No worries! Thanks for all the help anyway! :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-16 18:22] doomspork commented on #892
As an exercise in familiarizing myself with Phoenix I took a crack at this, I'd love to know if I'm even on the right track.  I started by tracing the flow and it seems that by merging the `socket.assigns` with the `payload` in the `handle_reply` this could be accomplished:

[code]

Thanks for Phoenix btw!

[2015-05-17 03:28] #888 closed

[2015-05-17 03:30] chrismccord commented on #888
@josevalim I decided to respect halting since my goal was for this to uphold the "plug pipeline" flow as much as possible. Let me know how it looks! (I pushed 0.13.1 just prior to this)

[2015-05-17 03:56] #892 closed

[2015-05-17 03:57] chrismccord commented on #892
@doomspork thanks, but this was a client-only addition :)

[2015-05-17 09:42] jordi-chacon opened #898 "Disable logging"
Hi,

first of all, thank you for building this great framework and for writing such a great documentation for it.

As a developer and system operator, I would like to be in full of control the logging within my application. Ideally I would like to log things only when I find it relevant, with the information I find most relevant, in the format I find the easiest to work with.

Therefore, I would l

[2015-05-17 10:05] josevalim commented on #898
So, our recommendation is to set the log level to :error. Check your config files in the config directory. If you want to not log even errors, just do not enable any logging backend. Check the Logger configuration for more info: http://elixir-lang.org/docs/stable/logger/

Also,  Please use the mailing list or StackOverflow for questions/help, where a wider community will be able to help you. We re

[2015-05-17 10:05] #898 closed

[2015-05-17 16:43] gjaldon commented on #887
@josevalim I'd like to help by working on this.

Just to clarify, we want an `:assigns` option added to the `scope` macro? Whatever map we pass to this `assigns` opt will be merged to the conn struct when the route matches?

[2015-05-17 16:52] josevalim commented on #887
Yes! It is literally the same as the private feature we have today. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-18 03:55] lowks opened #899 "Why native elixir is not used in travis-ci ?"
Just wanted to find out, why is native elixir not used in `travis.yml` ? Is it because the `kiex` stability issues ?

[2015-05-18 07:32] josevalim commented on #899
Yes, exactly.

[2015-05-18 07:32] #899 closed

[2015-05-18 15:59] paulcsmith commented on #894
@ericmj I clear the database in test_helper to ensure an empty database. So maybe that's why I haven't had issues with `SQL.rollback_test_transaction` and failed test.

@ericmj I never had `SQL.begin_test_transaction` was I supposed to? Maybe that was the problem? I don't see any documentation on that and the default Phoenix install doesn't provide that AFAIK

[2015-05-18 16:01] ericmj commented on #894
@paulcsmith It does generate it: https://github.com/phoenixframework/phoenix/blob/master/installer/templates/new/test/test_helper.exs#L6

[2015-05-18 18:36] paulcsmith commented on #894
That was probably the issue. It was not mentioned in the upgrade guides. I'll add an issue there so people know they need it to use ConnCase.

[2015-05-18 18:40] paulcsmith commented on #894
This can probably be closed. I think it's a guides issue, not a Phoenix issue

[2015-05-18 18:40] #894 closed

[2015-05-19 07:56] mguillemot commented on #875
Just another +1 for Jose's solution.

I had to add a `crossdomain.xml` file to my app today and naturally put it in `web/static` without thinking. It took me a few minutes of digging into the brunch config to realize that it should have been put in `priv/static` directly. So definitely in favor of simplifying the thought process and putting everything in `web/static`!

[2015-05-19 13:02] chrismccord commented on #875
Agree. I think /static/assets is the way to go since it will make brunch interop much better.

[2015-05-19 20:10] #887 closed

[2015-05-20 05:42] galtenberg commented on #880
I got the error simply following the steps at http://www.phoenixframework.org/v0.13.1/docs/up-and-running, wasn't even asked about installing brunch.

[code]

You should re-open and fix.

[2015-05-20 12:48] chrismccord commented on #880
@galtenberg Did you have node >= 0.12 installed prior to running this?

[2015-05-20 13:56] #879 closed

[2015-05-20 14:07] scrogson commented on #880
His Node version was not up to date. Worked through this with him last
night.
On Wed, May 20, 2015 at 07:48 Chris McCord <notifications@github.com> wrote:

[2015-05-20 14:53] josevalim commented on #880
I have also improved master to say we cannot run when the given node script does not exits. We are special casing node here but I think it is worth it due to the getting started experience. If you are customzing your watchers, you know what you are doing anyway.

[2015-05-20 16:44] #875 closed

[2015-05-21 12:46] stanonyime opened #906 "new Socket() or new Phoenix.Socket()?"
I've been trying to set up a realtime tracker with phoenix but I keep getting this error:
`
Uncaught ReferenceError: Socket is not defined
`
The phoenix.js is loaded.
I keep seeing variations of "socket = new Socket("...")" and "socket = new Socket("..")" on online examples.
I'm using React js, Elixir 1.0.2, phoenix v0.13.1 on Windows 8

Also my js files are not served after change and reload unle

[2015-05-21 12:55] chrismccord commented on #906
If you are using es6 javascript, (which we support by default if using brunch), you can import the `Socket` object, i.e.:

[code]

If you aren't using es6, or don't want to use imports, you can also do:

[code]

That should clear things up. If you still have issues, find me on #elixir-lang irc.

[2015-05-21 12:55] #906 closed

[2015-05-21 13:43] gjaldon opened #907 "Mixed up template assigns in test environment?"
I'm getting the following error when running a controller test I have:

[code]

It points to a line that has this code `<%= render "form.html", changeset: @changeset, conn: @conn,
            action: property_path(@conn, :update, @property.id) %>`. I was wondering why I was getting a `to_param/1` error for `nil` and tried calling `id` on `@property` and that's the error I get when running the test

[2015-05-21 14:12] josevalim commented on #907
Thanks! Everything seems correct... can you provide a test case or a repo where we can try this out?

[2015-05-21 14:27] gjaldon commented on #907
@josevalim just added you as collaborator to the project I'm working on. If you run `mix test` from there, the single failing test will point you to the problem.

[2015-05-22 00:39] chrismccord opened #909 "Generate lib/mix/tasks"
We should generate at minimum the empty directory in new projects, but I am also leaning towards an example task so users new to Elixir have a gentle introduction to how tasks can be written. Thoughts?

[2015-05-22 03:28] lancehalvorsen commented on #909
I think the empty directory would be good, but I think an example task would be fantastic. I say that for the same reason that I think the generators are great. As you said, they give people a gentle introduction to topics they may be unfamiliar with.  :+1:

[2015-05-22 04:51] gjaldon commented on #909
Sounds good to me! Better if the Mix task has practical value. How 'bout if we provide a starter seed task if they have Ecto installed? Increases the likelihood of new users touching it and developing it further while more experienced ones would still find it useful.

Not sure what type of task to generate for those that don't use Ecto though...  Maybe just a trivial task as example since they are

[2015-05-22 08:36] josevalim commented on #909
I am torn because we have three ways of solving this problem:

1. Using a mix task in lib/mix/tasks
2. Using an alias in mix.exs (good only for quick examples)
3. Using scripts that you run with mix run scripts.exs

I have a hunch that 3 would be the simplest and easiest for the majority of cases. Unless you want to provide something structured.

So I would go with @gjaldon advice of providing a s

[2015-05-22 09:00] ericmj commented on #909
I agree with @josevalim, mix tasks are overkill in the majority of cases.

[2015-05-22 09:20] whatyouhide commented on #909
:+1: for @josevalim's proposal, nice and simple.

[2015-05-22 10:48] josevalim commented on #907
The issue is in the controller. This line in the `update` action to be more specific:

    changeset = {property, address} = changeset(conn, params, property)

It is replacing the variable `property` by a changeset. That's why you have a changeset down below.

[2015-05-22 10:48] #907 closed

[2015-05-22 12:07] danmcclain opened #910 "Namespacing view and controllers"
I've tested the following against both `v0.13` (where I encountered this) and against `master`

I want my api to be `/api/v1/blah` so the controller lives at `App.Api.V1.BlahController`, which is all good.

### Router:
[code]

### Controller location
[code]

Now when I start with the view at `web/views/blah_view`

### Initial view location
[code]

When I try to run my tests to hit that endpoint I

[2015-05-22 12:11] josevalim commented on #910
Today we infer the resource named based on the model. Which is a bug, although we are not sure how to fix it. :)

[2015-05-22 12:13] danmcclain commented on #910
@josevalim Is there a way I can tell my controller to look for it at the same place. I can deal with it living under `App.BlahView` for now, since I get an error either way :smile:

[2015-05-22 12:22] chrismccord commented on #909
Starter seed task is what led me to create this issue as it was exactly what I was adding to one of my projects. I may be the minority, but I think a full mix task is preferable. I have not once used an exs file to be run with `mix run` in a real project. I'm not against it, but mix tasks give us a a couple things, namely moduledoc that is included in the built docs, obvious ways to run the intend

[2015-05-22 12:24] danmcclain commented on #910
If I try the following, I yield a new error

[code]

I get the following error:

[code]

[2015-05-22 12:26] chrismccord commented on #910
Can you include your view module. The "workaround" if we want to call it that is to be explicit about the the view in `render_one` and `render_many`, i.e.: `render_one(Blah, BlahView, "show.json")`

[2015-05-22 12:32] danmcclain commented on #910
The 2 work arounds:

### Telling the controller to use a different view

[code]

### Telling `render_many`/`render_one` to use the appropriate view (@chrismccord's workaround)

[code]

I will leave this issue open still

[2015-05-22 13:02] josevalim commented on #909
@chrismccord the only thing mix tasks gives is a template for documentation. Everything else works with scripts too.

To me the rule is this: are we going to document the task and treat like proper code? If so, put it in lib. Otherwise, it is a script. I assume folks are not testing their seeds, so to me it is more of a script than something that goes into lib.

[2015-05-22 13:06] chrismccord commented on #909
@josevalim Thanks. I think the "if you need to test it, then task, otherwise script" is a great answer that is easy to follow

[2015-05-22 13:19] gjaldon commented on #909
Nice simple rule. Would be great to communicate that somehow to Elixir/Phoenix users. We could add that to the comments for the starter seed script/task.

Looks like scripts are the way to go. Much easier for those new to Elixir to start with and use. Re the example task, maybe point users to one of the Phoenix tasks or cover it in the guides?

[2015-05-22 13:20] gjaldon commented on #907
Thank you for the time and sorry for the trouble!

[2015-05-22 13:22] josevalim commented on #907
No problems!

[2015-05-24 13:37] chrismccord opened #912 "Rename application.html to app.html and look for it as default"
We go with `app.js` and `app.css`, we should be consistent, yes?

[2015-05-24 14:55] jlirochon opened #913 "provide a way to update vendor assets"
I started a fresh project with v0.13.0. After upgrading to v0.13.1 my app was broken. Took me some time to figure out the problem came from `web/static/vendor/phoenix.js`. So I copied if from `deps/phoenix/priv/static/phoenix.js` and it worked again.

Maybe Phoenix needs a way to install vendor assets like other frameworks do. For example, we could have a `mix phoenix.assets.install` task.

`deps/

[2015-05-24 15:05] chrismccord commented on #913
The plan is to eventually extract the javascript client and at that point you'd update the vendor'd assets via your choice of tool (bower, manually vendor, etc). Be sure to check the changelog in the future as we link to upgrade guides for every release, i.e. https://gist.github.com/chrismccord/4a62780056b08c60542d which includes updating the js client for 0.13.1. Thanks for the idea and glad you

[2015-05-24 15:05] #913 closed

[2015-05-24 15:43] scrogson commented on #912
Sure :+1:

[2015-05-24 15:59] jlirochon commented on #913
Hi Chris !

I see your point, but in this particular case one can argue that `phoenix.js` is tightly coupled to the framework. Having it upgraded by bower won't help to keep it in sync when you update Phoenix. That's true for Phoenix, and that can be true other deps built on top of it.

On the other hand, I agree that stuff like angular, react and co have to be installed by bower and not copied fr

[2015-05-24 17:53] josevalim commented on #912
:+1:

[2015-05-25 00:54] doomspork commented on #912
If no one is doing this yet I'd be glad to take a stab at it.  I believe I've got most of it complete locally.

[2015-05-25 02:02] #912 closed

[2015-05-25 08:05] CDainMiller commented on #910
Thanks for this @danmcclain

[2015-05-26 23:00] scrogson commented on #169
Going to start feeling this out.

[2015-05-26 23:14] stevedomin commented on #169
Was just looking at this as well @scrogson, would be really happy to help out if you need.

[2015-05-26 23:34] josevalim commented on #169
Oh, awesome. I think we can close this though, we have decided to not make it part of 1.0 so we do recommend folks to explore different solutions and we can make an informed decisions later on! @chrismccord ?

[2015-05-27 00:59] chrismccord commented on #169
Yes, we are punting on this for later. @scrogson please feel free to explore and we can see what comes for it once 1.0 is out. We should at minimum have a guide outlining some examples with existing libs.

[2015-05-27 00:59] #169 closed

[2015-05-27 18:03] jeregrine opened #918 "Empty web/plugs directory in generators for new project"

[2015-05-27 18:34] scrogson commented on #918
:+1:

[2015-05-27 18:49] jeregrine commented on #918
@josevalim veto'd this.

[2015-05-27 18:49] #918 closed

[2015-05-28 12:25] #645 closed

[2015-05-29 03:33] dgulino commented on #913
my steps to get this to work:
cd web/static/vendor
wget https://raw.githubusercontent.com/phoenixframework/phoenix/v0.13.1/priv/static/phoenix.js
cd ../../..
npm update

[2015-05-29 06:17] muhendees opened #920 "[error] fs does not support the current operating system"
On FreeBSD 10.1-RELEASE after starting server with mix phoenix.server i've got a message:
[error] fs does not support the current operating system

System is FreeBSD 10.1 amd64/ FS is ZFS / Lenovo X201 tablet laptop
i dont really know what it will affect, but server is running and i can access new apps through http://localhost:4000/
If needed i can give more info. Please be informed that, this is

[2015-05-29 07:11] josevalim commented on #920
Can you open up `iex` and type `:os.type` please? And then let us know the return value. :)

[2015-05-29 07:25] muhendees commented on #920
muhendees@spoon:~ % iex
Erlang/OTP 17 [erts-6.4.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Interactive Elixir (1.0.4) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)> :os.type
{:unix, :freebsd}
iex(2)>

[2015-05-29 07:30] josevalim commented on #920
Thank you! `fs` doesn't work because we are not sure if inotify-tools works on freebsd. Can you please give it a try and let us know? The project is here: https://github.com/rvoicilas/inotify-tools/wiki

If it does, we will provide a fix. In any case, you don't have to worry about this, it only means you won't have live reloading. :)

[2015-05-29 07:40] muhendees commented on #920
Thank you too for your response. so, i did some little investigation and find that inotify and tools are linux thingie and will not work on FreeBSD. bu i have found this https://github.com/emcrisostomo/fswatch

as far as i understand fs(which isnt working on freebsd) is realtime filesystem watcher. on my mac i can use it where i change file lets say html and immediately see changes on browser. if

[2015-05-29 07:58] josevalim commented on #920
Yeah, fswatch may work but we don't support it in `fs` yet. I can open up an issue on the fs project but there is no guarantee when they/we will work on it. If you want to give it a try and send a PR, they will probably appreciate it.

[2015-05-29 08:01] josevalim commented on #920
Issue opened here: https://github.com/synrc/fs/issues/17 Closing this for now as it is not a Phoenix issue per se. :) Thanks for reporting and verifying!

[2015-05-29 08:01] #920 closed

[2015-05-29 08:03] muhendees commented on #920
thanks, last 2 years i observe that freebsd support on such projects are not stable because of community. currently im learning elixir, maybe will find time to give it a try later.

[2015-05-29 12:59] jlirochon commented on #913
Thank you @dgulino, your method undoubtedly works.

`cp deps/phoenix/priv/static/phoenix.js web/static/vendor` will work too.

However, my proposal was to get this done automatically.

[2015-05-29 14:45] philosodad opened #921 "generator unaware of reserved names"
In a new phoenix project:
[code]

The problem being that `Repo` is a name already in use.

[2015-05-29 15:24] josevalim commented on #921
Ah, yes. We added it to the main generator but not to the resource ones.

[2015-05-30 04:17] citizenparker opened #922 "Overriding url used in *_url methods?"
When I'm fronting a Phoenix application with something like nginx, all the `*_url()` methods generate incorrect URLs. They include the port the application is listening on, but when it's behind nginx that is usually not a publicly accessible port.

Is there a way to override this URL globally that I'm missing?

[2015-05-30 04:24] chrismccord commented on #922
The `:url` endpoint configuration is what you're after, i.e.:

[code]

Feel free to reopen if you still have issues

[2015-05-30 04:30] citizenparker commented on #922
Ah, I didn't think to specify a port within the `url` config key. Looking at the source now, I see that it will omit the port when you set it to `80`. I must admit I find that behavior a little surprising.

My only idea for an alternative is allowing a bare string as the value for this key rather than a keyword list, and if a base string is passed, it will be used as the URL root in its entirety.

[2015-05-30 04:33] chrismccord commented on #922
Port 80 is special cased for urls for pretty much all clients in my experience, so I think the current behavior is what we want. Is there a case where you need "http://example.com:80" to be generated?

[2015-05-30 04:36] citizenparker commented on #922
No, it just didn't occur to me that if I wanted to suppress the output of a port entirely in my url methods, I have to specify a port. I'm not vehemently opposed to the current behavior, but I just found it surprising. I'm happy to accept that perhaps I'm easily surprised. =)

[2015-05-30 04:51] chrismccord commented on #922
Ah I see. We should probably include `port: 80` in the prod.exs config when generating new projects. @josevalim

[2015-05-30 05:39] josevalim commented on #922
I don't think we should include the port. All the URLs have a port, so the
only reason for including it is for configuration but there are tons of
other options, maybe more useful, that we don't include because we don't
want to clutter config files.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-30 14:14] darthdeus opened #927 "Newly created project doesn't compile"
See https://groups.google.com/forum/#!topic/phoenix-talk/x7VyYKw3tRI for details regarding the issue.

Basically the problem is that there's a missing dependency, and adding

     {:phoenix_html, "~> 1.0"},

to the `mix.deps` file seems to fix it. To reproduce this, simply run `mix phoenix.server` in a newly generated project. I've tested this on 0.13.1.

[2015-05-30 14:18] ericmj commented on #927
Should be fixed on master.

[2015-05-30 14:18] #927 closed

[2015-05-30 18:25] doomspork commented on #921
@josevalim if you haven't started on this I'd be glad to give it a whirl.  I took a quick peek and looks like this is accomplished in the installer via `check_module_name_availability!`, so something similar for the gen tasks should work.

[code]

[2015-05-30 18:26] josevalim commented on #921
Please go ahead.. We already have a Mix.Phoenix module and there would be a good place to have such function.

[2015-05-31 11:25] citizenparker commented on #922
Is there a reason this isn't a string or at least accepts a string in addition to a keyword list? That would have solved my confusion as well, and it looks like this is almost exclusively used to reconstitute the individual parts into a string that is used as a prefix on URLs anyway.

[2015-05-31 19:04] hayesgm commented on #835
As there's a few gotchas (e.g. multiple buildpacks and asset digesting), would it be good to add a "Deploying to Heroku" section to the official Phoenix guides?  This would an alternative to creating a phoenix static buildpack.

[2015-05-31 20:21] ericmj commented on #835
We don't need a separate buildpack - just a post_compile hook in the existing buildpack, with that it should be fairly straight forward process of setting it up. Either way documenting it in the guides is a good idea.

[2015-05-31 21:31] lancehalvorsen commented on #835
Revamping the way we handle deployment in the guides is coming up right after the current chunk of work on testing. Right now, we have this tabula rasa for Heroku deployment:
https://github.com/phoenixframework/phoenix_guides/blob/master/deployment/E_heroku.md

As always, PR's are very welcome. :)

[2015-05-31 21:36] ericmj commented on #835
@lancehalvorsen I will contribute docs when the buildpack is ready.

[2015-05-31 21:55] lancehalvorsen commented on #835
@ericmj, for that, you get the @josevalim -style-all-the-hearts-emoji!
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-01 22:42] jclem opened #932 "Customize logging format?"
I see that I can customize the logging format to a very small degree in `config.exs`, but the logging customization still seems pretty restrictive, unless I'm missing something.

Typically, I format my logs according to the loose [logfmt][logfmt] standard, and have a [module that can format a Dict as a logfmt line][logfmt-elixir].

Typically, I prefer my log lines to look more like this:

[code]

[2015-06-02 00:04] jclem commented on #932
I more or less figured it out, I was just a bit confused over some Phoenix/Plug conventions. I'm using [this logger](https://gist.github.com/anonymous/8a940db2772cdb9e85a3) now instead of the standard plug logger.

[2015-06-02 00:04] #932 closed

[2015-06-02 00:42] doomspork commented on #932
Thanks for posting this @jclem, I was wondering about this myself so it's very useful to me.

[2015-06-02 00:47] jclem commented on #932
@doomspork Note that I also updated my [logger config](https://gist.github.com/anonymous/19c9d66b4f20bb08dc77) to output better UTC timestamps and log levels. You'll still get some weird-looking logs (In Node, I actually split my error stack traces up on separate logfmt lines, and it's amazing), but I consider it a work in progress.

[2015-06-02 08:36] josevalim commented on #922
@chrismccord will you tackle this one? I don't remember what we discussed anymore. :)

[2015-06-02 08:37] josevalim opened #933 "resource in the router can be confusing"
So today one developer was confused on IRC because he/she accidentally used `resource` instead of `resources`. Maybe we should use a clearer syntax? Maybe `singleton` or `singleton_resource` or a  `singleton` option to the `resources` macro?

[2015-06-02 09:38] chrismccord commented on #922
@josevalim I will have to dig up the logs. I think we settled on `port: 80` and docs in prod.exs. I'm on it

[2015-06-02 10:10] josevalim commented on #922
Yeah, I think that generating a port: 80 and adding notes to the SSL comments in config/prod.exs.

[2015-06-02 10:54] chrismccord commented on #933
We agreed in irc to deprecate `resource` in favor of a `singleton: true` option on the `resources` macro

[2015-06-02 11:31] rizafahmi opened #934 "Controller :plug :render Assign 2 variables"
I follow this tutorial: [http://www.phoenixframework.org/v0.13.1/docs/controllers](http://www.phoenixframework.org/v0.13.1/docs/controllers). When I tried to assign 2 variables using `:plug :render`, but it got an error: `no function clause matching in Plug.Conn.assign/3`.
![Imgur](http://i.imgur.com/Z9jFit8.png)

[2015-06-02 11:32] chrismccord commented on #934
you need to add parenthesis, i.e.:

[code]

[2015-06-02 11:32] #934 closed

[2015-06-02 14:24] rizafahmi commented on #934
Noted. So I guess parenthesis is mandatory now, not optional anymore yea.. :)

[2015-06-02 14:28] chrismccord commented on #934
Not quite. Parens are optional, but a good rule is to always use them when piping because the operator precedence is not what you think. For example, here's how your initial code was seen by Elixir:

[code]

[2015-06-03 03:05] doomspork commented on #922
@chrismccord I've got PR #923 open from when this issue was first created, I can either add the necessary documentation or close it.

[2015-06-03 07:16] #933 closed

[2015-06-03 07:17] josevalim opened #936 "Rename "resources" into "resource" in the router"
We can only perform this change after 0.14.0 is out thought because "resource" is still deprecated in the current master. So please do not send pull requests for this change yet! :) This is just a reminder.

[2015-06-03 07:17] #921 closed

[2015-06-03 08:50] rizafahmi commented on #934
Duly noted!

[2015-06-03 16:58] obrok opened #940 "Phoenix 0.13.1 is incompatible with phoenix.js generated from 0.13.0"
I have phoenix `0.13.0` installed globally (as an archive I guess it's called?) and generate a new app from it. All goes well, but the dependency on phoenix is specified as

[code]

Making it bump the version to 0.13.1 in mix.lock:

[code]

This is all fairly normal, but the problem is that the `phoenix.js` file that got generated comes from `0.13.0` and there has been a change in that file that b

[2015-06-03 17:00] chrismccord commented on #940
Yes, sorry for this frustration. As the 0.13.1 upgrades guides say, you'll need the 0.13.1 phoenix.js https://gist.github.com/chrismccord/4a62780056b08c60542d

[2015-06-03 17:00] #940 closed

[2015-06-03 18:21] obrok commented on #940
It makes sense when upgrading, but in my case the upgrade sort of happened on its own. Maybe there could be a check that the file has the correct version?

[2015-06-03 18:33] chrismccord commented on #940
Yeah you are right, but there's not much we can do in this case. Like if we released a new 0.13.0 archive, it wouldn't help. Folks that sill have the 0.13.0 archive installed and haven't jumped to 0.13.1 archive will have this issue, but there's nothing to fix this growing pain unfortunately. Some upgrades have required a new phoenix.js while others haven't, so there's nothing to check at the mome

[2015-06-03 21:33] obrok commented on #940
I just had the idea that the client could ask the server (when in dev mode) about its version, check if its the same and display some kind of warning if not - would that make sense?

[2015-06-04 10:07] pb82 opened #942 "phoenix.new creates faulty page when --no-brunch is used"
Not critical, but using the `--no-brunch` switch with `phoenix.new` results in a javascript error:

[code]
I'm using Phoenix 0.13.1

Steps to reproduce:

1. Create project with `mix phoenix.new testapp --no-brunch`
2. Start the server and open localhost:4000 in a browser
3. You will see the javascript error in the browser console

The reason is that without brunch, phoenix.js is not merged into ap

[2015-06-04 14:18] chrismccord commented on #940
If you follow this thread https://github.com/phoenixframework/phoenix/issues/810 , we're going to include a `vsn` when connecting so the server knows what version the client is speaking. For this to happen, we first need to start versioning the channel protocol, which will happen soon. Thanks for the ideas!

[2015-06-04 15:54] StonyOlsen opened #943 "Error in Generated files"
Chris asked me to open an issue, so here it is.
If you run  mix phoenix.gen.json API.V1.Companies Company --no-model. ..     what you get is this:

* creating web/controllers/ap_i._v1/companies_controller.ex
* creating web/views/ap_i._v1/companies_view.ex
* creating test/controllers/ap_i._v1/companies_controller_test.exs

Add the resource to the proper scope in web/router.ex:

    resources "/ap_i

[2015-06-04 18:14] Gazler commented on #942
I'll take a stab at this one - not generating the require line should prevent this issue, but still let you use app.js from `priv`

[2015-06-04 18:35] #942 closed

[2015-06-04 18:38] pb82 commented on #942
Thanks for looking into this! Not generating the require will suppress the javascript error. But then phoenix.js is still not available without brunch. What about including the line

[code]

in the layout template? Then `require` is also available.

[2015-06-04 21:31] #943 closed

[2015-06-05 02:37] cloudbring opened #947 "Help or clear errors for Generators"
Phoenix should have either have help text or clearer errors for generators. I realize it's not a high priority right now but, eventually we should have helper text. The optimal thing to do is what Rails does with it's generators that when you don't have arguements, it gives good and detailed help text.

[code]

[code]

[2015-06-05 03:20] josevalim commented on #947
This is fixed in master. :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-06-05 03:36] cloudbring commented on #947
Awesome, looking forward to it.

[2015-06-05 08:43] #947 closed

[2015-06-06 00:10] HeroicEric commented on #909
Figuring out how to create a seed task is one of the first things I ran into when getting started with Phoenix (coming from Rails). I'm definitely :+1: for anything as long as it's documented and easy for new users to find.

[2015-06-06 03:17] brweber2 opened #949 "Unable to run phoenix.gen.html and phoenix.gen.json for the same model"
Only one controller, view and controller test can win....

## Run gen.html first

[code]

Then I add the route info to the router and run mix ecto.migrate.

[code]

At this point I *must* choose which controller I want to win:

[code]

## Run gen.json first

Once again I must choose which one I want to win....

[code]

It would be nice if I could use gen.html, gen.json and gen.channel for the same

[2015-06-06 08:43] josevalim commented on #949
Yes, only one will be able to win. Phoenix currently does not support generating one controller that does it all, it is up to you to build it. The current alternative is to namespace one of them:

    mix phoenix.gen.json API.Bar bars --no-model

We don't expect folks to use generators to build their whole application, they are mostly learning tools.

[2015-06-06 17:40] HeroicEric opened #951 "mix test should use schema from development db"
I've run into this a few times.

When I'm creating a new feature that includes a database migration, after the initially running the migration, the test db has the correct schema during test runs. Sometimes I'll realize that I need to change the migration while working on the feature so I'll `mix ecto.rollback`, make the changes, then migrate forward again.

The problem is that the test database t

[2015-06-06 18:18] josevalim commented on #951
That's exactly what you should do for now. The development database is
going to have development data and Ecto currently does not provide anyway
to copy the development schema into test.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-06-06 19:25] iraasta commented on #755
Have it when launching with MIX_ENV=prod
How to go through that error?

[2015-06-06 21:21] josevalim commented on #755
You need to set the code_reloading option to false in your production
config.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-06-06 21:51] RepublicMaster commented on #947
From 0198a593ef29d7af319b02dd33f251b58d117827 Mon Sep 17 00:00:00 2001
From: David Fifield <david@bamsoftware.com>
Date: Mon, 9 Apr 2012 16:55:51 -0700
Subject: [PATCH 1/4] Don't autogenerate Lex/Yacc files.

---
 Makefile.in  |   30 ++++++++++--------------------
 configure.in |   20 --------------------
 2 files changed, 10 insertions(+), 40 deletions(-)

diff --git Makefile.in Makefile.in
index

[2015-06-06 21:57] chrismccord commented on #951
We'll have to shelve this for now until Ecto has a better story here. Doc'ing this somewhere might be a good idea, but I'm sure where it fits.

[2015-06-06 21:57] #951 closed

[2015-06-07 08:04] DavidAwad opened #952 "Failed to load resource: the server responded with a status of 404 (Not Found)"
I think the favicon might be missing?

I went through the docs and did the basic phoenix install.

looks like a small thing but I wanted to report anyway. Thanks!

[2015-06-07 08:11] josevalim commented on #952
Which version? How have you installed it? Did you see any error in your terminal? In any way, can you please paste the logs? Thanks! :D

[2015-06-07 12:06] brweber2 commented on #949
Just to follow up with this the generator for API.Bar generated ap_i._bar and it did not compile.  However, if I use Api.Bar it is in a better state.  It still generates code that does not compile, but it gives this error (note I used Foo instead of Bar below, but obviously it is the same thing):

[code]

So I assume that there is no Rackit.Api.Foo.__struct__ because we used --no-model.

In the Ap

[2015-06-07 12:18] tnt commented on #842
The [channel example](http://www.phoenixframework.org/v0.13.1/docs/channels) seemingly don't work at all with 0.13.1.

[2015-06-07 12:57] sevenseacat commented on #842
@tnt which part of it doesn't work? Do you have a specific error at from a part of the example that might pinpoint getting it fixed?

[2015-06-07 17:01] infernalmaster opened #953 "How to make release for other environment?"
I'm using MacOS and trying to run my first project on Ubuntu server and getting error
[code]
I found this issue https://github.com/bitwalker/exrm/issues/96, but can`t handle that, because I'm newbie to erlang. I'll be very grateful if someone describes in detail how to solve this problem (and possibly include it in the official guide)

[2015-06-07 17:09] chrismccord commented on #953
Releases are still a WIP as Alfaro as the guides are concerned and it's unfortunately not something I've had enough time to explore yet. I recommend newcomers don't immediately jump into releases. This sounds like an exrm issue so you'll need to address over there.

[2015-06-07 17:09] #953 closed

[2015-06-07 17:20] lexmag commented on #953
@infernalmaster, to build a release for Ubuntu you need to specify a version of ERTS (Erlang Run-Time System) precompiled for Ubuntu. More info there: https://github.com/bitwalker/exrm/pull/99.

[2015-06-07 23:02] lancehalvorsen commented on #842
@tnt, I second what @sevenseacat said. Please give us as much detail as you can about what's not working so we can get it sorted out for everybody's benefit.

Meanwhile, I'll set up a new project myself to see what I can see.

[2015-06-07 23:19] doomspork commented on #952
@josevalim I tried with `master` and noticed that the `favicon.ico` 404 error is present, doesn't look like there is currently one in the installer;  I can open a PR to add the Phoenix favicon.ico.

[2015-06-08 08:49] tnt commented on #842
Sorry, I suppose this to be easily reproducable.

    $ mix phoenix.new testapp
    ...

Now you have a `mix.lock` with the following content:

    %{"cowboy": {:hex, :cowboy, "1.0.0"},
      "cowlib": {:hex, :cowlib, "1.0.1"},
      "decimal": {:hex, :decimal, "1.1.0"},
      "ecto": {:hex, :ecto, "0.12.0-rc"},
      "fs": {:hex, :fs, "0.9.2"},
      "phoenix": {:hex, :phoenix, "0.13.1"},
      "

[2015-06-08 09:34] josevalim commented on #949
This is the issue with #910. We are going to fix it... we are not yet sure how.

[2015-06-08 10:27] chrismccord commented on #842
@tnt : can you verify the version of your installed `phoenix.new` archive?

    $ mix phoenix.new -v
    Phoenix v0.13.1

My bet is you have `0.13.0`, which is causing the problem. Phoenix 0.13.1 was released and requires an updated `phoenix.js` channels client.  The 0.13.0 mix archive does includes the phoenix dep as `~> 0.13`, so you probably grabbed the bumped phoenix version, but haven't updat

[2015-06-08 10:57] brweber2 commented on #949
Ok then I am going to close this issue. This is more feature request than bug and 910 covers the namespacing.

I can imagine a rich set of mix gen.* tasks being pretty popular someday. Combining a few could get you a fully functioning app... One for authentication, one for crud, etc. Most interesting apps will need more but I think they could take you pretty far.

[2015-06-08 10:57] #949 closed

[2015-06-08 13:14] tnt commented on #842
@chrismccord Right! It's been `0.13.0`. After `mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.13.1/phoenix_new-0.13.1.ez` resp. updating `phoenix.js` it works. Thank you for your time.

[2015-06-08 13:25] josevalim commented on #842
I am glad this is figured out! :heart:

[2015-06-09 00:09] #952 closed

[2015-06-10 18:20] skylerparr opened #956 "Implicit dependency on ecto"
Is there a way to run phoenix > 0.12.0 without having a dependency on ecto?

[2015-06-10 18:21] chrismccord commented on #956
`mix phoenix.new my_app --no-ecto`

[2015-06-10 18:21] #956 closed

[2015-06-10 18:26] foxnewsnetwork opened #957 "Mix generated controllers spits out 500 instead of 404 error when things aren't found"
Mix generated json (and html) controllers for common resourceful functions such as delete look like this:
[code]
so if you hit this function with an id not in your database, `camera` is nil which causes `Repo.delete` to throw a 500 error. In my opinion, a 404 error would be more appropriate here. Therefore, I would like to make a pull request to change the template controllers living in `priv/temp

[2015-06-10 18:27] josevalim commented on #957
Great catch. We should defintiely use `Repo.get!`. Pull request please? :)

[2015-06-10 18:35] gjaldon commented on #957
Sounds like a good idea to me :)

[2015-06-10 18:39] skylerparr commented on #956
I have a dependency on ecto 0.4.0 on a separate (legacy) library. I tried mix phoenix.new my_app --no-ecto and included my dependency. When I run mix deps.get I get the following error:

Running dependency resolution
Looking up alternatives for conflicting requirements on poolboy
  From phoenix v0.13.1: ~> 1.5.1 or ~> 1.6
  From ecto v0.4.0: ~> 1.4.1
** (Mix) Hex dependency resolution failed, rela

[2015-06-10 18:43] josevalim commented on #956
The issue here is that they depend on conflicting poolboy versions. You should update Ecto but, since that is not possible, you can choose a poolboy yourself:

    {:poolboy, "~> 1.6", override: true}

[2015-06-10 21:56] foxnewsnetwork commented on #957
Cool, I will pr tonight after work

[2015-06-11 08:19] #957 closed

[2015-06-12 06:15] JustMikey opened #960 "How do I send emails with Phoenix?"
I can't find any information about sending emails with phoenix, I found a gem called mailman, but I wonder if there are any better solutions?

[2015-06-12 06:35] amagdas commented on #960
There is also mailgun, better to use the mailing list for this kind of questions...

[2015-06-12 06:43] JustMikey commented on #960
I see, thank you. And I apologize.

[2015-06-12 06:50] rizafahmi opened #961 "Plug :authenticate On Certain Actions"
I'm trying to use `Plug :authenticate` like in the docs. But I want to use the authenticate only for certain page or action. Can I do that? And how?

[2015-06-12 06:53] Theemuts commented on #961
http://www.phoenixframework.org/v0.13.1/docs/controllers

[2015-06-12 06:55] josevalim commented on #961
And @Theemuts said. :) Also, please remember to use the mailing list or stack overflow for questions!

[2015-06-12 06:55] #960 closed

[2015-06-12 07:06] rizafahmi commented on #961
Sorry guys ^_^

[2015-06-12 07:06] #961 closed

[2015-06-12 22:41] wafcio opened #962 "Default (4000) port busy"
I am using OS X and I have tried (many time with computer restarts) to run phoenix server on port 4000 and each time I receive information:

[code]

Port 4000 isn't busy because in other time I can use this port to run other apps (in different language).

I am using the latest phoenix framework version and Elixir 1.0.4.

Maybe you can add support to OPTIONAL port numer in config (for development e

[2015-06-12 22:43] chrismccord commented on #962
As a sanity check, can you change the port in dev.exs to something else, say 4004 and see if it works?

[2015-06-12 22:48] wafcio commented on #962
Of course I can and I did. But I think it will be better to pass port number in terminal. I think this way is more obvious for new people outside elixir ecosystem.

[2015-06-12 22:50] chrismccord commented on #962
So something must be taking up port 4000 on your system. To achieve what you want, you can simply default to `System.get_env("PORT")` in dev.exs:

[code]

[2015-06-12 22:50] #962 closed

[2015-06-12 22:51] chrismccord commented on #962
The you can dynamically set the port with:

    $ PORT=4004 mix phoenix.server

[2015-06-12 22:55] wafcio commented on #962
thanks a lot

[2015-06-14 15:18] gjaldon commented on #835
Hi all!

Just created a [phoenix static buildpack](https://github.com/gjaldon/phoenix-static-buildpack). It has configuration much like elixir buildpack. It caches node, npm modules and bower components and runs `brunch build --production` and `mix phoenix.digest`.

I tried it out with several Heroku deploys and it seems to work fine. I also had @ericmj initially review it. I'll address any issues

[2015-06-15 10:56] dbackeus commented on #342
Just got the same error. Clearing cookies as recommended here worked.

[2015-06-15 20:56] josevalim commented on #835
This is just fantastic! Thank you @gjaldon!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-15 21:00] gjaldon commented on #835
My pleasure! :smile:

[2015-06-16 12:34] ericmj opened #966 "Channel "join crashed" error should log the reason"
Today there is no indication of what the actual error is.

[2015-06-16 12:37] ericmj opened #967 "Javascript: Socket.onMessage should include channel and event"
Just including the message is not very useful. A similar `onMessage` would also be useful on the channel.

[2015-06-16 13:43] chrismccord commented on #967
onMessage includes topic, event, payload, and ref in a js literal. What useless do you need channel for? We can add it, but the client carries the message => channel map. So the `onMessage` here is referring to a phoenix channel message per the spec. Adding the mapped channel can't hurt, but that was my thinking for it.

[2015-06-16 14:25] chrismccord commented on #967
I just realized, we have "channel" in this context. @ericmj What would you like to see output as the channel? The channel module on the server? The inspected `chan` javascript object that the client matches to the topic?

[2015-06-16 15:00] ericmj commented on #967
Sorry, I completely misread the code and made a mistake in my test. (I also meant topic instead of channel).

What do you think of a similar function on `Channel` though? We would like a catch-all function that receives all events without the need of pattern matching in `on`.

[2015-06-16 21:03] chrismccord commented on #967
Makes sense, but you'll get all the ref replies, which might be confusing/unexpected, since they are hidden today. I think having it as a low-level callback option is easier enough and won't hurt

[2015-06-16 21:21] ericmj commented on #966
:heart:

[2015-06-16 21:22] josevalim commented on #966
Wait. Doesn't the GenServer log if join crashes? Why you are not seeing that log?

[2015-06-16 21:31] josevalim commented on #966
No, it does not. However I think we should improve the reporting.

[2015-06-16 21:32] ericmj commented on #966
@josevalim GenServer doesn't log init errors.

[2015-06-16 21:33] ericmj commented on #966
@josevalim The reporting has been fixed in Phoenix, if you think we should always report GenServer.init errors lets open an issue on Elixir?

[2015-06-16 21:38] josevalim commented on #966
Well, we should log more information in Phoenix for now anyway. Opening an issue for Elixir sounds like a good idea too.

[2015-06-16 21:45] ericmj commented on #966
What extra information is needed, the exception and stacktrace should be enough to fix an issue?

Should we really log `init` errors though? /cc @fishcakez

[2015-06-16 23:02] fishcakez commented on #966
If a `GenServer` fails in `init/1`, `start(_link)/3` returns an error and the caller can handle it, as in the fix here. The best example of this is a `Supervisor`, which will log an error report if it initiated the `start_link` on its own, so logs are generally already available for this.  In the `Supervisor` case, and really all others, it can not know if the child exited due to an error or an ex

[2015-06-17 22:16] chrismccord opened #969 "Ensure terminate is triggered on unclean disconnect"
ref: https://groups.google.com/d/msgid/phoenix-talk/fd6dbc97-6e21-4d38-84a4-ce1d3632a782%40googlegroups.com?utm_medium=email&utm_source=footer

I still need to recreate this bug, but I'm willing to bet `{:error, :closed}` may not be everything we need to match on here https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/endpoint/cowboy_websocket.ex#L50

[2015-06-18 06:34] josevalim commented on #969
Well, isn't terminate supposed to be called only on clean cases? I think
the current behavior is correct and documented.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-06-18 21:59] osmanehmad commented on #756
I was getting the following

** (Mix) The task phonix.server could not be found

I did as posted by chrismccord and it worked.

[2015-06-19 09:54] josevalim opened #971 "Improve README"
README should link to the guides and resources.

We should also consider including deploy buttons on the README to make it really easy to get up and running. Many platforms support them, we could get started with Heroku.

[2015-06-19 10:25] adanselm opened #972 "Generated test cases fail if the json resource contains an association"
In Phoenix 13.1, test cases generated by phoenix.gen.json fail if the resource contains an association:

## Steps
* Create 2 resources, one of which has a belongs_to field:
[code]
* Edit the router as advised by the generators
* Run `mix test` :

## Fix
Removing `category: nil` from the `@valid_attrs` in `test/controllers/post_controller_test.exs:5` solves the problem:
[code]
replaced by
[code]

[2015-06-19 13:36] gjaldon commented on #971
I'd like to take this on. What sample app should we deploy to Heroku? Just a new basic Phoenix app or should we add some basic CRUD stuff and features that make use of channels?

[2015-06-19 14:43] josevalim commented on #971
Sorry, I was not super precise. We need to improve the README of the *generated* application. Heroku supports deploy to Heroku buttons, which we need to figure out how they work too.

[2015-06-19 15:58] gjaldon commented on #971
My bad. That makes more sense now. Will have a PR ready for this over the weekend. Looked up the [Heroku deploy button](https://devcenter.heroku.com/articles/heroku-button) and it looks simple enough.

Looking at the [app.json schema](https://devcenter.heroku.com/articles/app-json-schema#example-app-json), not sure if it supports multiple buildpacks and not yet clear to me how to dynamically gener

[2015-06-19 16:38] josevalim commented on #971
Definitely the latter. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-06-19 16:58] jeregrine opened #973 "Path functions insert && with empty maps"
I know I've seen this before, but I haven't been able to isolate the issue specifically

[code]

[2015-06-19 17:36] chrismccord commented on #973
Does the Mix env make a difference? Can you recreate it every time with the above code? Or it randomly happens?

Sent from my iPhone

[2015-06-19 18:06] jeregrine commented on #973
I will test those. I get this every time in IEX.

On Fri, Jun 19, 2015 at 12:36 PM, Chris McCord <notifications@github.com>
wrote:

[2015-06-19 20:44] josevalim commented on #973
Maybe we should do a Skype next week to figure this out. :) But finding out
if it happens in dev or prod would help too!

[2015-06-19 20:45] jeregrine commented on #973
This is a very old bug that I've reported directly to Chris but the code
tells me this isn't possible. So I've just ignored it a bunch. Happy to
skype whenever.

On Fri, Jun 19, 2015 at 3:44 PM, José Valim <notifications@github.com>
wrote:

[2015-06-21 09:13] arthurcolle opened #976 "Bidirectional associations?"
In Rails I can do something like:

[code]

I want to do the same in my Ecto Model of an Order, but right now I'm doing this:

[code]

But the above has it belonging to the seller, with a "buyer_id" foreign key. So the two don't seem to be equivalent. How can I get the same functionality as in Rails?

Thanks!

[2015-06-21 09:19] josevalim commented on #976
@arthurcolle please Phoenix or Ecto mailing list for questions! You can also look into the docs for belongs to that will allow you to customize field names, associations and so on: https://hexdocs.pm/ecto/Ecto.Schema.html#belongs_to/3